
@import url("reset.css");

@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700&display=swap");
/* ------------------------------------------------------------------ */
body {}

.wrapper{
	min-height: 100%;
	overflow: clip;
	background: url("../img/backgraund/white_1.webp") repeat fixed;

	display: flex;
	flex-direction: column;
}
.wrapper>main{
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1200px;
	margin-inline: auto;
	padding-inline: 15px;
}
.header {
	font-family: "Caveat", serif;
	margin-block-end: 10px;
}
.header__container {
	padding: 10px 0px;
}
.header__title {
	font-size: 90px;
	font-weight: 700;
	color: #ff0000;
	text-align: center;
	background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 61, 0.8855917366946778) 31%, rgba(0, 255, 226, 1) 100%);
	border: 3px solid #000;
	border-radius: 100px;
	text-decoration: underline;
	text-decoration-thickness: 5px;
	text-shadow: 5px 5px 3px #111111;
	padding-block: 20px;
}
@media (max-width: 1540px) {
	.header__title {
		font-size: 60px;
		padding-block: 10px;
	}
}

@media (max-width: 640px) {
	.header__title {
		font-size: 45px;
	}
}

/* ---------MAIN-------- */
.main {}

.main__portfolio-template{
	font-family: "Epilogue", serif;
	background-color: #28293E;
	color: #FFF;
}
/* ---------LATEST-WORK------------ */
.portfolio-template__latest-work {
	padding-block-start: 92px;
	margin-block-end: 90px;
}
@media (max-width:1199.98px){
	.portfolio-template__latest-work {
			padding-block-start: 55px;
			margin-block-end: 100px;
		}
}
@media (max-width:665px) {
	.portfolio-template__latest-work {
		margin-block-end: 75px;
	}
}
.latest-work {}

.latest-work__title {
	margin-block-end: 44px;
}
@media (max-width:1199.98px) {
	.latest-work__title {
		margin-block-end: 35px;
	}
}
@media (max-width:991.98px) {
	.latest-work__title {
		margin-block-end: 25px;
	}
}
.title {
	text-align: center;
}
.title__label {
	margin-block-end: 20px;
}
.label {
	color: #EF6D58;
	line-height: 2;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.title__subtitle{
	font-size: 56px;
	font-weight: 800;
	line-height: 1.14286;
	letter-spacing: -1px;
}
.latest-work__menu {
	margin-block-end: 68px;
}
@media (max-width:1199.98px) {
	.latest-work__menu {
		margin-block-end: 55px;
	}
}
@media (max-width: 598px) {
	.latest-work__menu {
		display: none;
	}
}
.latest-work__body-menu{
	line-height: 2;
	color: rgba(255, 255, 255, 0.64);
	display: flex;
	column-gap: 60px;
	row-gap: 15px;
	flex-wrap: wrap;
	justify-content: center;
}
.latest-work__item-menu{
	position: relative;
}
.latest-work__item-menu--color{
	color: #fff;
}
.latest-work__item-menu li{
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}
.latest-work__body-menu a{
	text-decoration: underline;
	text-decoration-color: transparent;
	transform: scale(1.0);
	transition: color 0.3s, text-shadow 0.3s, text-decoration 0.3s, transform 0.3s;
}
.latest-work__body-menu a:hover{
	color: yellow;
	text-decoration: underline;
	text-decoration-color: inherit;
	text-shadow: 0 0 5px rgba(255, 255, 0, 0.08);
	transform: scale(1.1);
	
	transition: color 0.4s, text-decoration 0.4s, text-decoration-color 0.5s, text-shadow 0.4s, transform 0.4s;
}
.latest-work__item-menu sup{
	font-size: 14px;
	line-height: 1.71429;

	position: absolute;
	top: -8px;
	left: 98%;
}
.latest-work__item-menu sup:first-child {
	right: -14px;
}

.latest-work__drop-down {
	position: relative;

	/* width: 100%; */

	z-index: 2;

	margin-block-end: 48px;
}
@media (min-width: 599px) {
	.latest-work__drop-down {
		display: none;
	}
}
.drop-down__area-list {
	appearance: none;

	width: 329px;
	width: 100%;
	background-color: #fff;
	padding: 8px 16px;
	border-radius: 6px;
	color: rgba(57, 20, 0, 0.64);
	line-height: 2;

	z-index: 3;
}
/* .drop-down__list-item:not(:last-child) {
	margin-block-end: 15px;
} */
.latest-work__drop-down::after{
	content: "";
	background: url('../img/portfolio_work_orange-triangle.svg') 0 0 / 100% no-repeat;
	position: absolute;
	width: 10px;
	height: 6px;
	min-height: 6px;

	top: 50%;
	right: 16px;
	transform: translateY(-50%);
	
	z-index: 5;
}
.drop-down__area-list:focus-visible {
	outline: 2px solid #EF6D58;
}
.drop-down__list-item{
	background-color: #0a0a56;
	color: white;
	font-size: 20px;
	font-weight: 500;
}
.latest-work__cards {
	display: flex;
	gap: 32px 30px;

	flex-wrap: wrap;

	justify-content: center;
	margin-block-end: 64px;
}
 @media (max-width: 1199px) {
 	.latest-work__cards {
		gap: 20px;
		margin-block-end: 40px;
 	}
 }
.latest-work__card {
	flex-direction: column;
	aspect-ratio: 470 / 416;

	min-height: 416px;
	position: relative;

	flex: 1 1 39.17%; 
	/* 470/1200 */

	display: flex;
	justify-content:end;
	align-items: start;

	min-width: 0;
	overflow: hidden;
}
@media (max-width: 1199px) {
	.latest-work__card {
		flex: 0 1 calc(50% - 10px);
	}
}
@media (max-width: 989px) {
	.latest-work__card {
		flex: 0 1 calc(50% - 10px);
		aspect-ratio: 329 / 416;
	}
}
@media (max-width: 700px) {
	.latest-work__card {
		flex: 0 1 calc(50% - 10px);
	}
}
@media (max-width: 560px) {
	.latest-work__card {
		flex: 1 0 100%;
	}
}
@media (min-width: 1201px) {
.latest-work__card:nth-child(4n+2),
.latest-work__card:nth-child(4n+3) {
	flex: 1 1 55.83%; /* 670/1200 */
	aspect-ratio: 670 / 416;
	}
}
.latest-work__card img{
	min-width: 0;
	max-width: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;

	border-radius: 6px;

	position: absolute;
	top: 0;
	left: 0;
}
.latest-work__card::before{
	content: "";
	width: 100%;
	height: 100%;
	opacity: 0.3181;
	background-color: #5C2000;
	
	position: absolute;
	top: 0;
	left: 0;

	z-index: 1;

	transition-duration: 0.4s;
}
.latest-work__card:hover::before{
	transform: rotate(360deg) scale(0);
	transition-duration: 0.8s;
}
.latest-work__image{}

.latest-work__content-card {
	position: relative;
	z-index: 1;

	padding: 51px 48px;
}
@media (max-width: 767.98px) {
	.latest-work__content-card {
		padding: 20px 30px 50px;
	}
}
.latest-work__link {
	width: fit-content;
	color: #391400;
	line-height: 2;

	border-radius: 19px;
	background-color: #fff;

	padding: 3px 15px;
	margin-block-end: 24px;

	transform: scale(1);
	transition: transform 0.3s, background 0.3s, box-shadow 0.3s, color 0.3s, text-shadow 0.3s;
}
.latest-work__link:hover{
	transform: scale(1.1);
	background: linear-gradient(120deg, #040408, #6064a8, #1a1c3a);
	box-shadow: 3px -3px 1px #000;
	color: yellow;
	text-shadow: 2px -2px 1px #000;

	transition: transform 0.3s linear 0.1s, background 0.4s linear 0.2s, box-shadow 0.4s linear 0.2s, color 0.4s ease 0.1s, text-shadow 0.3s ease 0.1s;
}
.latest-work__text{
	font-size: 40px;
	font-weight: 800;
	line-height: 1.2;

	position: relative;

	transform: scale(1.0);
	transition: transform 0.3s, text-shadow 0.3s;
}
@media (max-width:660px){
	.latest-work__text {
			font-size: 30px;
		}
}
@media (max-width:560px) {
	.latest-work__text {
		font-size: 40px;
	}
}
@media (max-width:360px) {
	.latest-work__text {
		font-size: 30px;
	}
}
.latest-work__text:hover {
	transform: scale(1.1);
	text-shadow: 2px -2px 1px #000;
	transition: transform 0.5s linear, text-shadow 0.5s linear;
}
.latest-work__text::before{
	content: "";
	width: 0;
	height: 2px;
	background-color: #fff;

	position: absolute;
	left: 0;
	bottom: 0;
	
	transition: width 0.5s;
}

.latest-work__text:hover::before{
	width: 100%;
	transition: width 1s ease 0.1s;
}

.latest-work__button {}
.button {
	text-align: center;
	padding: 10px;
}
.button__item {
	font-size: 14px;
	font-weight: 900;
	line-height: normal;
	text-transform: uppercase;
	padding: 17px 30px;
	border-radius: 6px;
	border: 1px solid rgba(255, 255, 255, 0.30);
	background-color: #28293E;
	
	transition: transform 0.3s, background 0.3s, box-shadow 0.3s;
}
.button__item:hover{
	/* background-color: #28293E; */
	background: linear-gradient(120deg, #040408, #6064a8, #1a1c3a);
	transform: scale(1.1);
	box-shadow: 3px -3px 3px #fff;

	transition: transform 0.4s linear 0s, background 0.6s ease 0.3s, box-shadow 0.3s ease 0.1s;
}

/* ---------PORTFOLIO-CONTACTS------------ */

.portfolio-template__contacts {
	/* background: #FDF0E9; */
	padding-block-start: 92px;
	margin-block-end: 140px;
}
.contacts {}
@media(max-width: 1199.98px){
	.portfolio-template__contacts {
			padding-block-start: 48px;
			margin-block-end: 75px;
		}
}
.contacts__container {
	border-radius: 6px;
	padding: 0 83px 0 100px;
	background: #FDF0E9;

	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
}
@media (max-width: 1150px){
	.contacts__container {
			padding: 0 43px 0 55px;
		}
}
@media (max-width: 1055px) {
	.contacts__container {
		padding: 0 20px;
	}
}
@media (max-width: 850px) {
	.contacts__container {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}
.contacts__promo {
	flex-basis: 248px;
	margin: -74px 0px 0px 0px;
	flex-shrink: 0;
	padding-block-end: 64px;
}
@media (max-width:655px){
	.contacts__promo {
			flex-basis: auto;
			margin-inline-start: 0px;
			flex-shrink: 1;
			padding-block-end: 20px;
		}
}
@media (max-width:430px) {
	.contacts__promo {
		flex-basis: 100%;
	}
}
.contacts__gift-background-star {
	background: url("../img/portfolio_work_star_background_gift.svg") 0 0 / 148px no-repeat;
	width: 148px;
	height: 148px;
	position: relative;

	margin-block-end: 19px;

	animation: star-move 40s linear 0s infinite alternate forwards;
}
@keyframes star-move {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.contacts__gift-background-star img{
	max-width: 100%;
	max-width: 32px;
}
.contacts__img-gift {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	animation: gift-move 1.5s linear 0s infinite alternate forwards;
}
@keyframes gift-move{
	0%{
		width: 0px;
	}
	100% {
		width: 48px;
	}
}
.contacts__title {
	margin-block-end: 23px;
}
.contacts__label {
	margin-block-end: 13px;
}
.contacts__subtitle {
	color: #391400;
	font-family: Epilogue;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.33333;
}
/* @media (max-width:435px){
.contacts__subtitle {
	text-wrap: balance;
	}
} */
.contacts__button {}
.button {}
.button--left{
	text-align: left;
}
.button__item--orange {
	background-color: #EF6D58;
	
	transition: transform 0.3s, background 0.3s;
}
.button__item--orange:hover{
	background: linear-gradient(45deg, #8B4513, #D2691E, #FF8C00, #8B4513);
	box-shadow: 4px -4px 3px #000;
	transition: transform 0.4s linear 0s, background 0.6s ease 0.3s;
}
.button__item {}
.contacts__card-picture {
	flex-basis: 338px;
	padding-bottom: 16px;
	
	border-radius: 6px;
	
	position: relative;
}
@media (max-width:655px) {
	.contacts__promo {
		flex-shrink: 0;
	}
}
.contacts__card-picture img{
	max-width: 100%;
	width: 100%;
	min-height: 100%;
	height: 100%;
	aspect-ratio: 338 / 176;
	object-fit: cover;

	box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);

	position: relative;
	z-index: 3;
}
.contacts__card-picture::before {
	content: "";
	width: calc(100% - 64px);
	height: calc(100% - 16px);
	border-radius: 6px;
	background-color: #FFF;
	box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
	
	position: absolute;
	top: 16px;
	left: 32px;

	z-index: 1;
}
.contacts__card-picture::after {
	content: "";
	width: calc(100% - 32px);
	height: calc(100% - 16px);
	border-radius: 6px;
	background-color: #FFF;
	box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);

	position: absolute;
	top: 8px;
	left: 16px;

	z-index: 2;
}
.contacts__girl-foto {
	position: relative;
	flex-basis: 295px;
	align-self: flex-endend;
	padding-left: 53px;

	margin-block-start: -60px;
}
@media (max-width:655px) {
	.contacts__girl-foto {
	padding-left: 20px;
	
	margin-block-start: 20px;
	}
}
.contacts__girl-foto img {
	max-width: 100%;
	width: 100%;
	min-height: 100%;
	aspect-ratio: 239 / 396;
	object-fit: cover;

	position: relative;
	z-index: 2;

	
}
.contacts__girl-foto::before {
	content: "";
	background: url("../img/portfolio_work_cloud-design.svg") left center / contain no-repeat;
	width: 117.9916%; /* 282/239 */
	height: 61.1111%; /* 242/396 */
	min-height: 61.1111%;
		/* 242/396 */

	position: absolute;
	left: 0;
	bottom: 11.8687%;
		/* 47/396 */

	z-index: 1;
}

/* ---------PORTFOLIO-EVENTS------------ */

.portfolio-template__events {
	line-height: 2;
	margin-block-end: 130px;
}
.events {}
@media (max-width: 1150px){
	.portfolio-template__events {
			margin-block-end: 80px;
		}
}
@media (max-width: 767.98px) {
	.portfolio-template__events {
		margin-block-end: 64px;
	}
}
@media (max-width: 479.98px) {
	.portfolio-template__events {
		margin-block-end: 48px;
	}
}
.events__container {}
.events__title {}
.title {}
.title--margin{
	margin-block-end: 64px;
}
@media (max-width:830px){
	.title--margin {
			margin-block-end: 40px;
		}
}
.title__label {}
.label {}
.title__subtitle {}
.subtitle{}
.subtitle--width {
	max-width: 426px;
	margin-inline: auto;
}
@media (max-width:850px){
	.subtitle--width {
			font-size: 50px;
		}
}
.events__parts {
	display: flex;
	gap: 30px;
	justify-content: center;

	margin-block-end: 64px;
}
@media (max-width: 809px) {
	.events__parts {
		flex-wrap: wrap;
		margin-block-end: 40px;
		}
}
.events__part {
	display: flex;
	flex-direction: column;

	flex: 0 1 calc(100% / 3 - ((30px*2)/3));
	
	border-radius: 6px;
	border: 1px solid #3A3C56;

	padding: 41px 40px 36px 40px;
}
@media (max-width:928px){
	.events__part {
			padding: 21px 20px 16px 20px;
		}
}
@media (max-width: 809px) {
	.events__part {
		flex: 0 1 calc(100% / 2 - ((30px*1)/2));
	}
}
@media (max-width: 539px) {
	.events__part {
		flex: 0 1 100%;
	}
}
.events__header-events{
	margin-block-end: 77px;
}
@media (max-width:928px){
	.events__header-events {
			margin-block-end: 50px;
		}
}
.events__body-events{
	position: relative;
		
	margin-block-end: 26px;
	
	flex-grow: 1;

	padding-top: 40px;
	border-top: 1px solid #3a3c56;
}
.events__date {
	display: flex;
	gap: 12px;

	margin-block-end: 19px;
}
.events__number {
	font-size: 56px;
	font-weight: 800;
	line-height: 1.14286;
	letter-spacing: -1px;
}
.events__month{
	font-size: 24px;
	font-weight: 700;
	line-height: 1.33333;

	flex-basis: 127px;
}
.events__time {}

.events__clock {
	display: inline-flex;
	align-items: center;
	gap: 9px;
}
.events__clock::before {
	content: "";
	background: url("../img/portfolio_work_clock-design.svg") 0 0 / 16px no-repeat;

	width: 16px;
	height: 16px;
	flex-shrink: 0;
}
.events__name {
	margin-block-end: 19px;
}
.name {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.33333;
}
.events__description p{
	color: rgba(255, 255, 255, 0.64);
}
.description{}
.events__footer-events{
	padding-block-end: 10px;
}
.events__link {
	text-decoration: transparent;
	transform: scale(1.0);

	transition: text-decoration 0.3s, transform 0.3s;
}
.events__footer-events:hover .events__link{
	text-decoration: underline;
	transform: scale(1.1);

	transition: text-decoration 0.4s, transform 0.5s;
}
.events__button {}
.button {}
.button__item {}

/* ---------PORTFOLIO-OUR-TEAM------------ */

.portfolio-template__team {}

.team {}

.team--margin {
	margin-block-end: 180px;
}
@media (max-width:1199.98px){
.team--margin {
		margin-block-end: 100px;
	}
}
@media (max-width:991.98px) {
	.team--margin {
		margin-block-end: 80px;
	}
}
.team__container {}
.team__header-team{
	display: flex;
	justify-content: space-between;
	gap: 30px;

	margin-block-end: 64px;
}
@media (max-width:767.98px){
	.team__header-team {
			margin-block-end: 48px;
		}
	}
@media (max-width:479.98px) {
	.team__header-team {
		margin-block-end: 36px;
	}
}
.team__title {
	flex-basis: 527px;
}
.title {}
.title__label {}
.label {}
.title__subtitle {}
.subtitle {}
.subtitle--big-width-left {
	flex-basis: 531px;
	text-align: left;
}
@media (max-width: 991.98px){
.subtitle--big-width-left {
		font-size: 48px;
	}
}
@media (max-width: 767.98px) {
	.subtitle--big-width-left {
		font-size: 40px;
	}
}
@media (max-width: 479.98px) {
	.subtitle--big-width-left {
		font-size: 48px;
	}
}
.team__arrows{
	display: flex;
	gap: 50px;

	align-items: end;
	padding: 0 17px 19.5px 0;
}
@media (max-width: 479.98px) {
	.team__arrows {
		display: none;
	}
}
.team__right-arrow{
	background: url("../img/portfolio_team_arrow-right.svg") 0 0/ 14.001px no-repeat;
	width: 14.001px;
	height: 9.001px;
	min-height: 14.001px;

	position: relative;

	transition-duration: 0.2s;
	}
.team__right-arrow::before {
	content: "";
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 1px solid #3A3C56;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	transition-duration: 0.3s;
}
.team__left-arrow{
	background: url("../img/portfolio_team_arrow-left.svg") 0 0/ 14.001px no-repeat;
	width: 14.001px;
	height: 9.001px;
	min-height: 14.001px;

	position: relative;

	transition-duration: 0.2s;
}
.team__left-arrow::before {
	content: "";
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 1px solid #3A3C56;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	transition-duration: 0.3s;
}
.team__right-arrow:hover::before,
.team__left-arrow:hover::before{
	border: 3px dashed red;

	transition-duration: 0.1s;
}
.team__right-arrow:hover,
.team__left-arrow:hover {
	transform: rotate(90deg);

	transition-duration: 0.3s;
}
.team__fotos {
	display: flex;
	gap: 30px;

	margin-block-end: 52px;

	overflow: auto;
}
.team__foto {
	flex-basis: 270px;
	flex-grow: 0;
	flex-shrink: 0;
}
.foto__body-foto {
	display: flex;
	flex-basis: 270px;
	/* min-height: 271px; */
	aspect-ratio: 1/1;
	justify-content: center;
	align-items: flex-end;
	border: 1px solid #3A3C56;
	border-radius: 6px;
	overflow: hidden;

	margin-block-end: 36px;

	transition-duration: 0.3s;
}

.foto__body-foto:hover{
	transform: scale(1.1);

	transition-duration: 0.5s;
}
.foto__body-foto img{
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}
.foto__body-subtext{}
.foto__name {
	margin-block-end: 3px;
}
.name {}
.foto__description {}
.description {}

.team__elements{
	display: flex;
	gap: 20px;

	justify-content: center;
}
.team__element {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #3A3C56;
	text-align: center;
	transition-duration: 0.3s;
}
.team__element--center-transparent,
.team__element--right-transparent,
.team__element--left-transparent {
	background-color: transparent;
	transition-duration: 0.5s;
}

.team__element--center-transparent:hover,
.team__element--right-transparent:hover,
.team__element--left-transparent:hover{
	background-color: #EF6D58;
}
@media (min-width: 479.99px){
	.team__element--mobile {
			display: none;
		}
}

/* ---------PORTFOLIO-FOUNDER-WORDS------------ */

.portfolio-template__founder {
	padding-block-end: 176px;
	margin-block-end: 15px;
}
@media (max-width:1199.98px) {
.portfolio-template__founder {
		padding-block-end: 100px;
	}
}

@media (max-width:991.98px) {
.portfolio-template__founder {
		padding-block-end: 60px;
	}
}
.founder {}
.founder--margin {
	
}
.founder__container {
	position: relative;
}
.founder__box{
	display: flex;
	justify-content: space-between;
	gap: 30px;
}
@media (max-width:755px){
	.founder__box {
			flex-wrap: wrap;
		}
}
.founder__image {
	flex: 0 1 calc(100% / 2 - ((30px * 1) / 2));
	aspect-ratio: 570 / 448;
	
}
@media (max-width: 845px){
	.founder__image {
			flex-shrink: 0;
		}
}
@media (max-width:755px) {
	.founder__image {
		flex: 1 1 100%;
	}
}
.founder__image img{
	/* max-width: 100%; */
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.founder__info {
	padding-block-start: 44px;
}

.founder__title {
	text-align: start;
	

	margin-block-end: 44px;

	position: relative;
}
.title {}
.title__label {}
.label {}
.label--margin {
	text-align: left;
	margin-block-end: 33px;
}
.title__subtitle {}
.subtitle {}
.subtitle--size-width-hight {
	max-width: 470px;

	font-size: 40px;
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: normal;

	text-wrap: balance;

	position: relative;
	z-index: 2;

}
@media (max-width: 955px) {
	.subtitle--size-width-hight {
		font-size: 35px;
	}
}
@media (max-width: 845px){
.subtitle--size-width-hight {
		font-size: 30px;
	}
}
@media (max-width:755px) {
.subtitle--size-width-hight {
		font-size: 35px;
		max-width: 100%;
	}
}
@media (max-width:479.98px) {
	.subtitle--size-width-hight {
		font-size: 30px;
	}
}
.founder__signature{}
.founder__signature p:first-child {
	font-size: 20px;
	line-height: 1.6;

	margin-block-end: 6px;
}
.founder__signature p:last-child {
	font-size: 14px;
	line-height: 1.71429;
}
.founder__citation {
	background: url("../img/portfolio_work_quote-design.svg") 0 0 / 100% no-repeat;
	width: 100px;
	height: 80px;
	
	position: absolute;
	top: 53px;
	left: 68.9362%; /* 324/470 */

	z-index: 1;
}
.founder__citation::before,
.founder__citation::after,
.founder__inner-citation::before,
.founder__inner-citation::after{
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
	opacity: 1;
	animation: sparkle 1.5s infinite ease-in-out;
	z-index: 50;
}
.founder__citation::before {
	top: 10%;
	left: 80%;
	animation-delay: 0.4s;
}
.founder__citation::after {
	top: 10%;
	top: 10%;
	left: 10%;
	animation-delay: 0.8s;
}
.founder__inner-citation::before {
	top: 30%;
	left: 70%;
	animation-delay: 1.2s;
}
.founder__inner-citation::after {
	top: 30%;
	left: 20%;
	animation-delay: 1.6s;
}
@keyframes sparkle {
	0%,
	100% {
		opacity: 0;
		transform: scale(0.5);
	}
	50% {
		opacity: 1;
	}
}
/* ----------FOOTER------------ */

.footer__container {
	background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 61, 0.8855917366946778) 31%, rgba(0, 255, 226, 1) 100%);
	border: 5px solid #000;
	border-radius: 40%;
}
.footer__title {
	text-align: center;
	font-size: 36px;
	color: #ff0000;
	text-shadow: 5px 5px 3px #111111;
	padding-block: 20px;
}
