
@import url("reset.css");

@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700&display=swap");
/* ------------------------------------------------------------------ */
body {}

.wrapper{
	min-height: 100%;
	overflow: clip;
	background: url("../img/backgraund/white_1.webp") repeat fixed;

	display: flex;
	flex-direction: column;
}
.wrapper>main{
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 100%;
	margin-inline: auto;
	/* padding: 15px; */
}
.header {
	font-family: "Caveat", serif;
	margin-block-end: 10px;
}
.header__container {
	/* max-width: 100%;
	margin-inline: auto;
	padding: 15px; */
}
.header__title {
	font-size: 90px;
	font-weight: 700;
	color: #ff0000;
	text-align: center;
	background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 61, 0.8855917366946778) 31%, rgba(0, 255, 226, 1) 100%);
	border: 3px solid #000;
	border-radius: 100px;
	text-decoration: underline;
	text-decoration-thickness: 5px;
	text-shadow: 5px 5px 3px #111111;
	padding-block: 20px;
	margin-block-end: 15px;
}
.header__list {
	font-size: 36px;
	font-weight: 500;
}
.header__item-list {
	position: relative;
	padding-inline-start: 36px;
	min-height: 24px;
	vertical-align: middle;
}
.header__item-list:not(:last-child) {
	margin-block-end: 15px;
}

.header__item-list::before{
	content: "";
	background: url("../img/bisnes_search_icon.png") 0 0 /24px no-repeat;
	block-size: 24px;
	inline-size: 24px;

	position: absolute;
	inset-inline-start: 0;
	inset-block-start: 20%;	
}
.header__item-list a:hover{
	color: white;
	transition: all 0.8s ease 0s;
}
.header__item-list:hover::before{
	transition: all 0.8s ease 0s;
	transform: scale(1.5);
	pointer-events: all;
}
/* .header__item-list a:visited {
	color: blueviolet;
	text-decoration-style: underline;
} */

/* ---------MAIN-------- */
.main {}
.main__container {}
.main__practice {}
.practice {
	/* font-family: "Manrope", serif; */
}
.practice__container {}
.practice__title,
.homework__title {
	font-size: 60px;
	font-weight: 700;
	text-align: center;
	color: #ff0000;
	text-shadow: 5px -5px 1px #111111;
	margin-block-end: 15px;
}
/* -------------homework------------------ */
.homework__portfolio-template{
	font-family: "Epilogue", serif;
	background-color: #28293E;
	color: #FFF;
}
.portfolio-template__container{
	max-width: 1170px;
}

/* ---------LATEST-WORK------------ */
.portfolio-template__latest-work {}

.latest-work {}
.latest-work__container{
	max-width: 1170px;
}

.latest-work__title {
	padding-block-start: 92px;
	margin-block-end: 44px;
}
.title {
	text-align: center;
}
.title__label {
	margin-block-end: 20px;
}
.label {
	color: #EF6D58;
	line-height: 2;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.title__subtitle{
	font-size: 56px;
	font-weight: 800;
	line-height: 1.14286;
	letter-spacing: -1px;
}
.latest-work__menu {
	margin-block-end: 68px;
}
.latest-work__body-menu{
	line-height: 2;
	display: flex;
	gap: 60px;
	flex-wrap: wrap;
	justify-content: center;
}
.latest-work__item-menu li{
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}
.latest-work__body-menu a{
	transition-duration: 0.3s;
}
.latest-work__body-menu a:hover {
	color: yellow;
	text-decoration: underline;
	font-size: 20px;
	font-weight: 700;
	
	transition: font-size 0.4s linear 0s, font-weight 0.4s linear 0s, color 0.6s ease 0.3s, text-decoration 0.6s ease 0.6s;
}

.latest-work__cards {
	display: flex;
		
	flex-wrap: wrap;
	justify-content: center;
		
	column-gap: 30px;
	row-gap: 32px;

	margin-block-end: 64px;
}
.latest-work__card {
	flex-direction: column;

	min-height: 416px;
	position: relative;

	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 470px;

	display: flex;
	justify-content:end;
	align-items: start;

	padding: 5px;
}
.latest-work__card:nth-child(4n+2),
.latest-work__card:nth-child(4n+3) {
	flex-basis: 670px;
}
.latest-work__body-card {
	
}
.latest-work__body-card::before{
	content: "";
	width: 100%;
	height: 100%;
	opacity: 0.3181;
	background-color: #5C2000;
	
	position: absolute;
	top: 0;
	left: 0;

	z-index: 1;

	transition-duration: 0.4s;
}
.latest-work__body-card:hover::before{
	transform: rotate(360deg) scale(0);
	transition-duration: 0.8s;
}
.latest-work__image{}
.latest-work__card img{
	position: absolute;

	top: 0;
	left: 0;

	max-width: 100%;
	height: 100%;
	border-radius: 6px;

	object-fit: cover;
}
.latest-work__content-card {
	position: relative;
	z-index: 1;

	text-align: center;
	padding: 51px 48px;
}

.latest-work__link {
	width: fit-content;
	color: #391400;
	line-height: 2;

	border-radius: 19px;
	background-color: #fff;

	padding: 3px 15px;
	margin-block-end: 24px;

	transition-duration: 0.5s;
}
.latest-work__link:hover{
	font-size: 17px;
	background: linear-gradient(120deg, #040408, #6064a8, #1a1c3a);
	box-shadow: 3px -3px 1px #000;
	color: yellow;
	text-shadow: 2px -2px 1px #000;
	font-weight: 700;
	letter-spacing: 1px;

	transition: font-size 0.6s linear 0.1s, background 0.4s linear 0.3s, box-shadow 0.5s linear 0.3s, color 0.5s ease 0.2s, font-weight 0.2s linear 0.2s, letter-spacing 0.2s ease 0.2s, text-shadow 0.2s ease 0.1s;
}
.latest-work__text{
	font-size: 40px;
	font-weight: 800;
	line-height: 1.2;

	position: relative;

	transition-duration: 0.4s;
}
.latest-work__text:hover {
	font-size: 42px;
	text-shadow: 2px -2px 1px #000;
	transition: font-size 0.5s linear, text-shadow 0.5s linear;
}
.latest-work__text::before{
	content: "";
	width: 0;
	height: 2px;
	background-color: #fff;

	position: absolute;
	left: 0;
	bottom: 0;
	
	transition-duration: 1s;
}

.latest-work__text:hover::before{
	width: 100%;
	transition: width 1.5s ease 0.2s;
}

.latest-work__button {}
.button {
	text-align: center;
	padding-block-end: 5px;
}
.button__item {
	font-size: 14px;
	font-weight: 900;
	line-height: normal;
	text-transform: uppercase;
	padding: 17px 30px;
	border-radius: 6px;
	border: 1px solid rgba(255, 255, 255, 0.30);
	background-color: #28293E;
	
	transition-duration: 0.3s;
}
.button__item:hover{
	/* background-color: #28293E; */
	background: linear-gradient(120deg, #040408, #6064a8, #1a1c3a);
	font-size: 16px;
	box-shadow: 3px -3px 3px #fff;

	transition: font-size 0.4s linear 0s, background 0.6s ease 0.3s, box-shadow 0.3s ease 0.1s;
}
.latest-work--margin{
	margin-block-end: 192px;
}


/* ---------PORTFOLIO-CONTACTS------------ */

.portfolio-template__contacts {

}
.contacts {}
.contacts--margin {
	margin-block-end: 140px;
}
.contacts__container {
	max-width: 1170px;
	height: 336px;
	border-radius: 6px;
	background: #FDF0E9;
	padding: 0 83px 0 100px;
}
.contacts__columns {
	display: flex;
}
.contacts__column {}
.contacts__column:first-child{
	max-width: 248px;
	margin: -74px 68px 0px 0px;
	flex-shrink: 0;
}
.contacts__column--center{
	margin-inline-end: 38px;
	transform: translateY(80px);
}
.contacts__column:last-child {
	margin-block-start: -60px;
}
.contacts__body-column {}
.contacts__gift-background-star {
	background: url("../img/portfolio_work_star_background_gift.svg") 0 0 / 148px no-repeat;
	width: 148px;
	height: 148px;
	position: relative;

	margin-block-end: 19px;

	animation: star-move 40s linear 0s infinite alternate forwards;
}

@keyframes star-move {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}


.contacts__gift-background-star img{
	max-width: 100%;
	max-width: 32px;
}
.contacts__img-gift {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	animation: gift-move 1.5s linear 0s infinite alternate forwards;
}
@keyframes gift-move{
	0%{
		width: 0px;
	}
	100% {
		width: 48px;
	}
}
.contacts__title {
	margin-block-end: 23px;
}
.contacts__label {
	margin-block-end: 13px;
}
.contacts__subtitle {
	color: #391400;
	font-family: Epilogue;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.33333;
}
.contacts__button {
	padding-block-end: 64px;
}
.button {}
.button--left{
	text-align: left;
}
.button__item--orange {
	background-color: #EF6D58;
	
	transition-duration: 0.3s;
}
.button__item--orange:hover{
	background: linear-gradient(45deg, #8B4513, #D2691E, #FF8C00, #8B4513);
	box-shadow: 4px -4px 3px #000;
	transition: font-size 0.4s linear 0s, background 0.6s ease 0.3s;
}
.button__item {}

.contacts__card-picture {
	position: relative;
	width: 338px;

	top: 0;
	left: 0;
}
.contacts__card-picture::before {
	content: "";
	width: 306px;
	height: 176px;
	border-radius: 6px;
	background-color: #FFF;
	box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
	
	position: absolute;
	top: 8px;
	left: 50%;

	transform: translateX(-50%);
}
.contacts__card-picture::after {
	content: "";
	width: 274px;
	height: 176px;
	border-radius: 6px;
	background-color: #FFF;
	box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);

	position: absolute;
	top: 16px;
	left: 50%;

	transform: translateX(-50%);
}
.contacts__card-image {
	max-width: 338px;
	border-radius: 6px;
	
	position: absolute;

	top: 0px;
	left: 0;

	z-index: 1;
}
.contacts__cloud-picture {}

.contacts__girl-foto {
	background: url("../img/portfolio_work_cloud-design.svg") 0 107px / 282px no-repeat;
	width: 282px;
	min-height: 242px;
}
.contacts__girl-image {
	max-width: 239px;

	position: relative;
	top: 0;
	left: 0;

	transform: translateX(56px);
}

/* ---------PORTFOLIO-EVENTS------------ */

.portfolio-template__events {}
.events {
	line-height: 2;
}
.events--margin {
	margin-block-end: 140px;
}
.events__container {
	max-width: 1170px;
}
.events__title {}
.title {}
.title--margin{
	margin-block-end: 64px;
}
.title__label {}
.label {}
.title__subtitle {}
.subtitle{}
.subtitle--width {
	max-width: 36.4103%; /* 426/1170 */
	margin-inline: auto;
}
.events__parts {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;

	margin-block-end: 64px;
}
.events__part {
	display: flex;
	flex-direction: column;

	flex: 1 1 370px;

	border-radius: 6px;
	border: 1px solid #3A3C56;

	padding: 41px 40px 36px 40px;
}
.events__header-events{
	margin-block-end: 77px;
}
.events__body-events{
	position: relative;
		
	margin-block-end: 26px;
	
	flex-grow: 1;
}
.events__body-events::before {
	content: "";
	width: 290px;
	height: 1px;
	text-align: center;

	position: absolute;
	top: -36px;
	left: 50%;
	transform: translateX(-50%);

	background-color: #3A3C56;
	margin-block-end: 36px;
}
.events__date {
	display: flex;
	gap: 12px;

	margin-block-end: 19px;
}
.events__number {
	font-size: 56px;
	font-weight: 800;
	line-height: 1.14286;
	letter-spacing: -1px;
}
.events__month{
	font-size: 24px;
	font-weight: 700;
	line-height: 1.33333;

	flex-basis: 127px;
}

.events__time {}

.events__clock {
	display: inline-flex;
	align-items: center;
	gap: 9px;
}
.events__clock::before {
	content: "";
	background: url("../img/portfolio_work_clock-design.svg") 0 0 / 16px no-repeat;

	width: 16px;
	height: 16px;
	flex-shrink: 0;
}

.events__name {
	margin-block-end: 19px;
}
.name {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.33333;
}
.events__description {}
.description{
	color: rgba(255, 255, 255, 0.64);
}
.events__footer-events{}
.events__link {}

.events__button {}

.button {}

.button__item {}

/* ---------PORTFOLIO-OUR-TEAM------------ */

.portfolio-template__team {}

.team {}

.team--margin {
	margin-block-end: 180px;
}
.team__container {
	max-width: 1170px;
}
.team__header-team{
	display: flex;
	justify-content: space-between;
	gap: 527px;

	margin-block-end: 64px;
}
.team__title {}
.title {}
.title__label {}
.label {}
.title__subtitle {}
.subtitle {}
.subtitle--big-width-left {
	flex-basis: 45.3846%; /* 531/1170 */
	text-align: left;
	flex-shrink: 0;
}
.team__arrows{
	display: flex;
	gap: 50px;

	align-items: end;
	padding: 0 17px 19.5px 0;
}
.team__right-arrow{
	background: url("../img/portfolio_team_arrow-right.svg") 0 0/ 14.001px no-repeat;
	width: 14.001px;
	height: 9.001px;
	min-height: 14.001px;

	position: relative;

	transition-duration: 0.2s;
	}
.team__right-arrow::before {
	content: "";
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 1px solid #3A3C56;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

		transition-duration: 0.3s;
}
.team__left-arrow{
	background: url("../img/portfolio_team_arrow-left.svg") 0 0/ 14.001px no-repeat;
	width: 14.001px;
	height: 9.001px;
	min-height: 14.001px;

	position: relative;

	transition-duration: 0.2s;
}
.team__left-arrow::before {
	content: "";
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 1px solid #3A3C56;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	transition-duration: 0.3s;
}
.team__right-arrow:hover::before,
.team__left-arrow:hover::before{
	border: 3px dashed red;

	transition-duration: 0.1s;
}
.team__right-arrow:hover,
.team__left-arrow:hover {
	transform: rotate(90deg);

	transition-duration: 0.3s;
}
.team__fotos {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;

	margin-block-end: 52px;
}
.team__foto {
	flex-basis: 270px;
	flex-grow: 1;
	flex-shrink: 1;
}
.foto__body-foto {
	display: flex;
	flex-basis: 270px;
	min-height: 271px;
	justify-content: center;
	align-items: flex-end;
	border: 1px solid #3A3C56;
	border-radius: 6px;

	margin-block-end: 36px;

	transition-duration: 0.3s;
}

.foto__body-foto:hover{
	transform: scale(1.1);

	transition-duration: 0.5s;
}
.foto__body-foto img{
	max-width: 100%;
}
.foto__body-subtext{}
.foto__name {
	margin-block-end: 3px;
}
.name {}
.foto__description {}
.description {}

.team__elements{
	display: flex;
	gap: 20px;

	justify-content: center;
}
.team__element {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #3A3C56;
	text-align: center;
	transition-duration: 0.3s;
}
.team__element--center-transparent,
.team__element--right-transparent,
.team__element--left-transparent {
	background-color: transparent;
	transition-duration: 0.5s;
}

.team__element--center-transparent:hover,
.team__element--right-transparent:hover,
.team__element--left-transparent:hover{
	background-color: #EF6D58;
}


/* ---------PORTFOLIO-FOUNDER-WORDS------------ */

.portfolio-template__founder {
	padding-block-end: 176px;
	margin-block-end: 15px;
}
.founder {}
.founder--margin {
	
}
.founder__container {
	max-width: 1170px;
	position: relative;
}
.founder__box{
	display: flex;
	gap: 11.1111%; /* 130/1170 */
}
.founder__image {}
.founder__image img{
	max-width: 100%;
	max-width: 570px;
}
.founder__info {}

.founder__title {
	text-align: start;
	padding-block-start: 44px;

	margin-block-end: 44px;
}
.title {}
.title__label {}
.label {}
.label--margin {
	margin-block-end: 33px;
}
.title__subtitle {}
.subtitle {}
.subtitle--size-width-hight {
	max-width: 470px;

	font-size: 40px;
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: normal;

	position: relative;
	z-index: 2;
}
.founder__signature{}
.founder__signature p:first-child {
	font-size: 20px;
	line-height: 1.6;

	margin-block-end: 6px;
}
.founder__signature p:last-child {
	font-size: 14px;
	line-height: 1.71429;
}
.founder__citation {
	background: url("../img/portfolio_work_quote-design.svg") 0 0 / 100% no-repeat;
	width: 100px;
	height: 80px;
	position: absolute;
	top: 53px;
	left: 1039px;

	z-index: 1;
}
.founder__citation::before,
.founder__citation::after,
.founder__inner-citation::before,
.founder__inner-citation::after{
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
	opacity: 1;
	animation: sparkle 1.5s infinite ease-in-out;
	z-index: 50;
}
.founder__citation::before {
	top: 10%;
	left: 80%;
	animation-delay: 0.4s;
}
.founder__citation::after {
	top: 10%;
	top: 10%;
	left: 10%;
	animation-delay: 0.8s;
}
.founder__inner-citation::before {
	top: 30%;
	left: 70%;
	animation-delay: 1.2s;
}
.founder__inner-citation::after {
	top: 30%;
	left: 20%;
	animation-delay: 1.6s;
}
@keyframes sparkle {
	0%,
	100% {
		opacity: 0;
		transform: scale(0.5);
	}
	50% {
		opacity: 1;
	}
}
/* ----------FOOTER------------ */

.footer__container {
	background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 61, 0.8855917366946778) 31%, rgba(0, 255, 226, 1) 100%);
	border: 5px solid #000;
	border-radius: 40%;
}
.footer__title {
	text-align: center;
	font-size: 36px;
	color: #ff0000;
	text-shadow: 5px 5px 3px #111111;
	padding-block: 20px;
}
