
@import url("reset.css");

@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700&display=swap");
/* ------------------------------------------------------------------ */
body {}

.wrapper{
	min-height: 100%;
	overflow: clip;
	background: url("../img/backgraund/white_1.webp") repeat fixed;
}
.header {
	font-family: "Caveat", serif;
	margin-block-end: 10px;
}
.header__container {
	max-width: 100%;
	margin-inline: auto;
	padding: 15px;
}
.header__title {
	font-size: 90px;
	font-weight: 700;
	color: #ff0000;
	text-align: center;
	background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 61, 0.8855917366946778) 31%, rgba(0, 255, 226, 1) 100%);
	border: 3px solid #000;
	border-radius: 100px;
	text-decoration: underline;
	text-decoration-thickness: 5px;
	text-shadow: 5px 5px 3px #111111;
	/* padding-block: 20px; */
	/* margin-block-end: 15px; */
}
/* .header__list {
	font-size: 36px;
	font-weight: 500;
}
.header__item-list {
	position: relative;
	padding-inline-start: 36px;
	min-height: 24px;
	vertical-align: middle;
}
.header__item-list:not(:last-child) {
	margin-block-end: 15px;
}

.header__item-list::before{
	content: "";
	background: url("../img/bisnes_search_icon.png") 0 0 /24px no-repeat;
	block-size: 24px;
	inline-size: 24px;

	position: absolute;
	inset-inline-start: 0;
	inset-block-start: 20%;	
}
.header__item-list a:hover{
	color: white;
	transition: all 0.8s ease 0s;
}
.header__item-list:hover::before{
	transition: all 0.8s ease 0s;
	transform: scale(1.5);
	pointer-events: all;
} */
/* .header__item-list a:visited {
	color: blueviolet;
	text-decoration-style: underline;
} */

[class*="__container"]{
	max-width: 100%;
	margin-inline: auto;
	padding: 15px;
}
.main {}
.main__container {}
.main__practice {}
.practice {
	font-family: "Manrope", serif;
}
.practice__container {
	
}
/* .practice__title,
.homework__title {
	font-size: 60px;
	font-weight: 700;
	text-align: center;
	color: #ff0000;
	text-shadow: 5px -5px 1px #111111;
	margin-block-end: 15px;
} */
/* -------------homework------------------ */

.main__homework {}
.homework {}
.homework__container {}
.homework__title {}
.homework__picture {}

.picture {
	font-family: "Manrope", serif;
}
.picture__container {
	max-width: 1920px;
	min-height: 1200px;
	background: blue;

	position: relative;
	top: 0;
	left: 0;
}
.picture__container{}
.picture__background {}
.background {}

.background__sky {}

.background__sun {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: radial-gradient(circle, #ffea00, #ff9100);
	box-shadow: 0 0 50px rgba(255, 234, 0, 0.9);

	position: absolute;
	top: 10%;
	right: 7.8125%; /* 150/1920 */

	animation: sun-on 3s linear 1 normal running 0s forwards;
}
@keyframes sun-on {
	0% {
		opacity: 0;
		box-shadow: 0px 0px 10px 5px rgba(255, 234, 0, 0.9);
	}
		50% {
			opacity: 0.5;
			box-shadow: 0px 0px 50px 10px rgba(255, 234, 0, 0.9);
		}
	100% {
		opacity: 1;
			box-shadow: 0px 0px 100px 40px rgba(255, 234, 0, 0.9);
	}
}
.background__stork{
	width: 240px;
	height: 240px;
	
	position: absolute;
	top: 250px;
	right: 10px;
	z-index: 5;

	animation: stork 10s linear 1 normal running 0s forwards;
	/* animation-name: stork;
	animation-duration: 10s; */
	/* -сценарій розвитку анімації між ключовими кадрами- */
	/* animation-timing-function: linear; */
	/* -скільки разів програвати анімацію- */
	/* animation-iteration-count: 1;
	animation-direction: normal; */
	/* -дозволяє запускати або зупиняти анімацію за подією- */
	/* animation-play-state: running; */
	/* -затримку перед відтворенням.- */
	/* animation-delay: 0s;
	animation-fill-mode: forwards; */
}
.background__stork img{
	max-width: 100%;
	max-width: 240px;
}
@keyframes stork {
	0% {
		transform: translate(0px, 0px);
		opacity: 0;
	}
	25% {
		transform: translate(-400px, -280px);
		opacity: 1;
	}
	50% {
		transform: translate(-800px, 0px);
	}
	75% {
		transform: translate(-1100px, -280px);
}
	100% {
		transform: translate(-1400px, 0px);
	}
}
.background__stork-back {
	transform: rotateY(180deg);

	position: absolute;
	top: 250px;
	left: 200px;

	z-index: 5;
}
.background__stork-back img {
	max-width: 100%;
	max-width: 240px;
	
	will-change: auto;

	animation: stork-back 5s linear 1 normal running 16s forwards;
}
.background__stork-back img {
	max-width: 240px;
	max-width: 100%;
}
@keyframes stork-back {
0% {
		transform: translate(0px, 0px);
	}
	25% {
		transform: translate(-300px, -280px);
	}
	50% {
		transform: translate(-600px, -50px);
	}
	75% {
		transform: translate(-1000px, -280px);
		opacity: 1;
	}
	100% {
		transform: translate(-1620px, 0px);
		opacity: 0;
	}
} 
/* .background__sun-on:hover .background__sun {
	box-shadow: 0px 0px 100px 40px rgba(255, 234, 0, 0.9);
	transition: box-shadow 0.5s ease;
} */

/* -----------CLOUD-LEFT-------------- */
.cloud-left {
animation: cloud-move 55s linear 0s infinite alternate forwards;
}
@keyframes cloud-move {
	0% {
		/* transform: scale(1); */
		transform: translateX(-5px);
	}
	25% {
		/* transform: scale(0.8); */
		transform: translateX(-20px);
		}
	50% {
		/* transform: scale(1); */
		transform: translateX(-50px);
	}
	75% {
		/* transform: scale(0.8); */
		transform: translateX(220px);
		}
	100% {
		/* transform: scale(1); */
		transform: translateX(480px);
	}
}
.cloud-left__center {
	width: 150px;
	height: 130px;
	border-radius: 200px 200px 113px 113px / 150px 150px 0px 0px;
	background-color: #fff;

	position: absolute;
	top: 70px;
	left: 220px;
}
.cloud-left__center--left-near {
	height: 80px;

	top: 120px;
	left: 130px;
}
.cloud-left__center--left-far {
	height: 50px;

	top: 150px;
	left: 50px;
}
.cloud-left__center--right-near {
	height: 80px;

	top: 120px;
	left: 320px;
}
.cloud-left__center--right-far {
	height: 50px;

	top: 150px;
	left: 400px;
}

/* -----------CLOUD-RIGHT-------------- */
.cloud-left__container--right {
	position: absolute;
	top: 50px;
	left: 800px;
}
/* ------------TREE----------- */

.background__tree {
	perspective: 300px;
	perspective-origin: center;
	transform-style: preserve-3d;
}
/* -----------TREE------------ */
.tree {}

.tree__trunk {
	width: 10px;
	height: 500px;
	background-color: brown;
	border-radius: 100% 0% 0% 100% / 100% 0% 100% 0%;

	position: absolute;
	top: 500px;
	left: 900px;

	perspective-origin: 0 0;
	transform: rotate(-1deg);
}
.tree__trunk--branch-top {
	width: 5px;
	height: 60px;

	top: 495px;
	left: 915px;

	transform: rotate(25deg);
}
.tree__trunk--branch-right-top {
	width: 8px;
	height: 150px;

	top: 565px;
	left: 940px;

	transform: rotate(30deg);
}
.tree__trunk--branch-right-bottom{
	width: 5px;
	height: 60px;

	top: 635px;
	left: 945px;

	transform: rotate(60deg);
}
.tree__trunk--branch-left-top {
	width: 3px;
	height: 50px;
	
	top: 555px;
	left: 855px;
	
	transform: rotate(-10deg);
}

.tree__trunk--branch-left-bottom {
	width: 8px;
	height: 110px;

	top: 550px;
	left: 852px;

	transform: rotate(-60deg);
}
/* -------LEAFS------- */
.tree__branch {}

.leaf-container{
	perspective: 300px;
	perspective-origin: center;
	transform-style: preserve-3d;
}
.tree__leaf {
	width: 70px;
	height: 80px;

	border-radius: 100% 0% 60% 40% / 62% 0% 100% 38%;
	background: rgb(34, 195, 77);
	background: linear-gradient(0deg, rgba(34, 195, 77, 1) 0%, rgba(154, 253, 45, 1) 100%);

	transform: rotate3d(1.2, 1.2, 15, 80deg);
	box-shadow: 5px 5px 3px black;

	position: absolute;
	top: 610px;
	left: 965px;
	}
.tree__leaf--right-top {
	width: 80px;
	height: 110px;

	transform: rotate3d(1.5, 1.5, 15, 40deg);

	top: 455px;
	left: 955px;

	animation: leaf-move-right-top 15s linear 0s infinite normal forwards;
}
@keyframes leaf-move-right-top {
	0%,
	100%,
	50% {
		transform: rotate3d(1.5, 1.5, 15, 40deg);
		transform-origin: bottom left;
	}
	25% {
		transform: rotate3d(1.5, 1.5, 15, 55deg);
		transform-origin: bottom left;
	}
	75% {
		transform: rotate3d(1.5, 1.5, 15, 30deg);
		transform-origin: bottom left;
	}
}
.tree__leaf--top-small {
	width: 70px;
	height: 80px;

	transform: rotate3d(1.5, 1.5, 15, 5deg);
	top: 440px;
	left: 910px;

	animation: leaf-move-top-small 15s linear 2s infinite normal forwards;
}
@keyframes leaf-move-top-small {
	0%,
	100%,
	50% {
		transform: rotate3d(1.5, 1.5, 15, 5deg);
		transform-origin: bottom left;
	}
	25% {
		transform: rotate3d(1.5, 1.5, 15, 7deg);
		transform-origin: bottom left;
	}
	75% {
		transform: rotate3d(1.5, 1.5, 15, -10deg);
		transform-origin: bottom left;
	}
}
.tree__leaf--top-big {
	width: 70px;
	height: 120px;
	
	border-radius: 0% 100% 24% 76% / 0% 76% 24% 100%;
	transform: rotate3d(1.1, 1.1, 14, -3deg);
	top: 400px;
	left: 850px;

	animation: leaf-move-top-big 15s linear 1s infinite normal forwards;
}
@keyframes leaf-move-top-big {

	0%,
	100%,
	50% {
		transform: rotate3d(1.1, 1.1, 14, -3deg);
		transform-origin: bottom left;
	}
	25% {
		transform: rotate3d(1.5, 1.5, 15, 7deg);
		transform-origin: bottom left;
	}
	75% {
		transform: rotate3d(1.5, 1.5, 15, -13deg);
		transform-origin: bottom left;
	}
}
.tree__leaf--left-top {
	width: 70px;
	height: 80px;

	transform: rotate3d(1.5, 1.5, 15, -55deg);
	top: 505px;
	left: 855px;

	animation: leaf-move-left-top 15s linear 0s infinite normal forwards;
		}
@keyframes leaf-move-left-top {
	0%,
	100%,
	50% {
		transform: rotate3d(1.5, 1.5, 15, -55deg);
		transform-origin: bottom left;
	}
	25% {
		transform: rotate3d(1.5, 1.5, 15, -65deg);
		transform-origin: bottom left;
	}
	75% {
		transform: rotate3d(1.5, 1.5, 15, -45deg);
		transform-origin: bottom left;
	}
}
.tree__leaf--left-bottom {
	width: 80px;
	height: 110px;

	transform: rotate3d(1.5, 1.5, 15, -85deg);

	top: 515px;
	left: 845px;

	animation: leaf-move-left-bottom 15s linear 0s infinite normal forwards;
}
@keyframes leaf-move-left-bottom {

	0%,
	100%,
	50% {
		transform: rotate3d(1.5, 1.5, 15, -85deg);
		transform-origin: bottom left;
	}
	25% {
		transform: rotate3d(1.5, 1.5, 15, -75deg);
		transform-origin: bottom left;
	}
	75% {
		transform: rotate3d(1.5, 1.5, 15, -95deg);
		transform-origin: bottom left;
	}
}
/* ------------ROAD------------- */

.picture__road {
	width: 1920px;
	height: 400px;
	background-color: grey;

	position: absolute;
	bottom: 0;
	left: 0;
}
.picture__road:before {
	content: "";
	width: 1920px;
	border: 10px dashed #fff;

	position: absolute;
	bottom: 190px;
	left: 0;
}

/* ------------HOUSE----------- */
.picture__house {}
.house {}
.house__building {
	height: 550px;
	width: 500px;
	background-color: violet;
	box-shadow: 0px 0px 50px 10px darkmagenta;

	position: absolute;
	top: 250px;
	left: 100px;

	perspective: 300px;
	perspective-origin: center;
	/* transform-style: preserve-3d; */

	z-index: 7;
}
.house__roof {
	height: 150px;
	width: 550px;
	background-color: darkmagenta;

	position: absolute;
	left: 0px;
	top: -75px;
	transform: rotate3d(10, 2, 1, 20deg);
	box-shadow: 10px 10px 5px black;

	z-index: 6;

	animation: roof-move-start 10s ease-in-out 4s 2 normal forwards;
}
@keyframes roof-move-start {
	0%, 100% {
		transform: rotate3d(10, 2, 1, 20deg);
		transform-origin: 0 0;
	}
		50% {
		transform: rotate(-45deg);
			transform-origin: 0 0;
	}
}
.house__label {
	font-size: 32px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	color: red;
	text-shadow: 2px -2px 1px #000;

	border: 4px solid #000;
	background-color: #fff;
	padding: 1px 15px;

	position: absolute;
	top: 427px;
	left: 110px;

	z-index: 13;
}
/* --------BABY BILDING---------- */
.picture__baby {}
.baby {}
.baby__top {
	position: absolute;
	top: 335px;
	left: 160px;

	opacity: 0;

	z-index: 14;

	animation: baby-top 4s ease-in-out 24s 1 normal backwards;
}
@keyframes baby-top {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.9;
	}
	100% {
		opacity: 1;
	}
}
.baby__top--center{
	top: 492px;
	left: 330px;

	animation-delay: 28s;
}
.baby__top--bottom {
	top: 655px;
	left: 495px;

	animation-delay: 32s;
}
.text {
	font-size: 20px;
	font-weight: 900;
	text-transform: uppercase;
	border-radius: 5px;
	border: 1px solid #000;
	background-color: #fff;
	color: red;
	padding: 1px 26px;
	text-align: center;

	position: absolute;
	bottom: -15px;
	left: 0;
}

.text--center{
	padding: 1px 15px;
}
.text--bottom {
	padding: 1px 5px;

	left: -15px;
}
.house__window {
	width: 90px;
	height: 100px;
	border-radius: 50% 50% 100% 0% / 100% 100% 0% 0%;
	background-color: #6269e8;
	border: 4px solid brown;
	box-shadow: 5px 5px 3px black;
	
	position: absolute;
	top: 320px;
	left: 150px;

	z-index: 8;
}
.house__window--top-center {
	left: 315px;
}
.house__window--top-right {
	left: 480px;
}
.house__window--middle-left {
	top: 480px;
	left: 150px;
}
.house__window--middle-center {
	top: 480px;
	left: 315px;
}
.house__window--middle-right {
	top: 480px;
	left: 480px;
}
.house__window--bottom-left {
	top: 645px;
	left: 150px;
}
.house__window--bottom-center {
	top: 645px;
	left: 315px;
}
.house__window--bottom-right {
	top: 645px;
	left: 480px;
}

/* -----------TAXI------------ */
.picture__taxi {}

.taxi__container {
	position: relative;
	top: 1100px;
	left: 0px;

	opacity: 1;
	z-index: 55;

	animation: car-move 20s ease 36s 1 normal forwards;
}
@keyframes car-move {
	0%, 2%,10% {
		transform: translate(0px, 0px);
	}
	1% {
		transform: translate(0px, 10px);
	}
	25%, 50% {
		transform: translateX(-900px);
	}
	75%, 100% {
		transform: translateX(-100vw);
	}
}
.taxi__label{
	width: 130px;
	height: 40px;
	background-color: #fff;
	font-size: 36px;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	border: 4px solid #000;

	position: absolute;
	bottom: 572px;
	right: 390px;
}
.taxi__label:hover{
	background-color: orange;
}
.taxi__door-front-top {
	width: 200px;
	border-bottom: 100px solid yellow;
	border-left: 45px solid transparent;
	
	position: absolute;
	bottom: 465px;
	right: 450px;
}
.taxi__door-front-top::before {
	content: "";
	width: 310px;
	height: 20px;
	border-radius: 155px 140px 0px 0px / 75px 75px 75px 75px;
	background-color: yellow;
	
	position: absolute;
	top: -8px;
	left: 0px;
}
.taxi__door-front-bottom {
	width: 180px;
	height: 140px;
	background: yellow;
	border: 4px solid #000;
	border-right: 0;
	border-top: 0;
	border-left: 0;

	position: absolute;
	bottom: 325px;
	right: 470px;
}
.taxi__door-back-top {
	width: 200px;
	border-bottom: 100px solid yellow;
	border-right: 45px solid transparent;

	position: absolute;
	bottom: 465px;
	right: 250px;
}
.taxi__door-back-bottom {
	width: 221px;
	height: 138px;
	background: yellow;
	border: 4px solid #000;
	border-right: 0;
	border-top: 0;

	position: absolute;
	bottom: 327px;
	right: 249px;

	z-index: 2;
}
.taxi__hood {
	width: 160px;
	height: 140px;
	border-radius: 90% 35% 0% 100% / 100% 0% 100% 0%;
	background: yellow;
	border: 4px solid #000;

	position: absolute;
	bottom: 325px;
	right: 650px;
}
.taxi__trunk {
	width: 130px;
	height: 140px;
	border-radius: 0% 100% 0% 100% / 100% 55% 45% 0%;
	background: yellow;
	border: 4px solid #000;

	position: absolute;
	bottom: 325px;
	right: 120px;
}
.taxi__window-back-big{
	width: 120px;
	height: 100px;
	background-color: lightblue;
	border: 4px solid #000;

	position: absolute;
	bottom: 465px;
	right: 340px;
	overflow: hidden;
	
	z-index: 1;

	animation: baby-car 8s linear 42s 1 normal forwards;
}
@keyframes baby-car{
	0% {
		transform: translateY(0%);
		opacity: 1;
	}
	25%, 50% {
		transform: translateY(100%);
		opacity: 1;
	}
	75%, 100% {
		transform: translateY(0%);
		opacity: 0.5;
	}
}

/* --------TAXI BABY---------- */
.taxi__baby {
	position: relative;
	top: -450px;
	left: 1440px;
	/* position: absolute;
	top: -530px;
	left: 1460px; */
}
.taxi__baby img{
	max-width: 77px;
	max-width: 100%;
}
.taxi__window-back-triangle {
	width: 70px;
	height: 100px;
	background-color: lightblue;
	border-radius: 0% 100% 100% 0% / 0% 100% 0% 100%;

	position: absolute;
	bottom: 465px;
	right: 270px;
	border: 4px solid #000;
	border-left: 0;
}
.taxi__window-front-big {
	width: 105px;
	height: 100px;
	background-color: lightblue;
	border: 4px solid #000;
	border-left: 0;

	position: absolute;
	bottom: 465px;
	right: 480px;
}
.taxi__window-front-triangle {
	border-left: 45px solid transparent;
	border-bottom: 100px solid lightblue;
	
	position: absolute;
	bottom: 465px;
	right: 585px;
}
.taxi__window-front-borderleft {
	width: 108px;
	height: 3px;
	background-color: #000;
	transform: rotate(114deg);
	border-radius: 3px;

	position: absolute;
	bottom: 513px;
	right: 552px;
}
.taxi__window-front-borderleft--bottom {
	width: 44px;
	height: 4px;
	transform: rotate(0deg);

	bottom: 465px;
	right: 584px;
}
.taxi__window-front-borderleft--between{
	width: 115px;
	height: 3.8px;
	transform: rotate(90deg);

	bottom: 513px;
	right: 410.4px;
}
.taxi__decor {
	width: 640px;
	height: 15px;
	background: repeating-linear-gradient(90deg,
				black 0px,
				black 15px,
				#fff 15px,
				#fff 30px);
	border-radius: 18px 18px 0px 0px;
	overflow: hidden;

	position: absolute;
	bottom: 420px;
	right: 140px;

	z-index: 3;
}
.taxi__decor--bottom {
	width: 660px;
	border-radius: 18px 0px 0px 0px;

	bottom: 405px;
	right: 135px;
}
.taxi__part-decor {
	width: 7px;
	height: 15px;
	background-color: #000;
	border-radius: 0px 18px 0px 0px;

	position: absolute;
	bottom: 405px;
	right: 128px;
}
.taxi__bumper {
	width: 735px;
	height: 30px;
	border-radius: 13px;
	background-color: rgba(209, 207, 207, 0.951);
	border: 4px solid #000;

	position: absolute;
	bottom: 300px;
	right: 100px;
}
.taxi__wheel-front {
	width: 150px;
	height: 150px;
	background: rgb(128, 128, 128);
	background: radial-gradient(circle, rgba(128, 128, 128, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 100%);
	border-radius: 50%;
	border: 40px solid #000;
	
	position: absolute;
	bottom: 235px;
	right: 610px;
}
.taxi__wheel-front-move:hover .taxi__wheel-front {
	transform: rotate(360deg);
	transition: all 0.8s ease 0s;
}
.taxi__wheel-back-move:hover .taxi__wheel-front--back {
	transform: rotate(360deg);
	transition: all 0.8s ease 0s;
}
.taxi__wheel-front--back{
	right: 160px;

	z-index: 4;
}
.taxi__headlight {
	width: 25px;
	height: 55px;
	border-radius: 50%;
	background-color: #fff;
	border: 4px solid #000;
	box-shadow: -25px 5px 25px 15px white;

	position: absolute;
	bottom: 330px;
	right: 791px;

	animation: headlight-on 5s linear 35s infinite normal forwards;
}
		
@keyframes headlight-on {
	0%, 100% {
		box-shadow: -120px 20px 50px 80px white;
		transition: box-shadow 0.5s ease;
	}
}

.taxi__headlight-on:hover .taxi__headlight{
	box-shadow: -120px 20px 50px 80px white;
	transition: box-shadow 0.5s ease;
}

.taxi__headlight--backlight{
	width: 18px;
	height: 30px;
	background-color: red;
	box-shadow: 10px 1px 35px 10px red;

	bottom: 330px;
	right: 115px;

	animation: backlight-on 5s linear 35s infinite normal forwards;
	}
		
@keyframes backlight-on {
	0%, 100% {
		box-shadow: 20px 5px 40px 30px red;
		transition: box-shadow 0.5s ease;
	}
}

.taxi__backlight-on:hover .taxi__headlight--backlight {
	box-shadow: 20px 5px 40px 30px red;
	transition: box-shadow 0.5s ease;
}
.taxi__front-door-handel {
	width: 50px;
	height: 17px;
	border-radius: 10px;
	background-color: gray;
	border: 4px solid #000;

	position: absolute;
	bottom: 442px;
	right: 500px;
}

.taxi__front-door-handel--back {
	width: 50px;
	height: 17px;
	border-radius: 10px;
	background-color: gray;
	border: 4px solid #000;

	position: absolute;
	bottom: 442px;
	right: 290px;

	z-index: 10;
}

/* ---------GASES-------------- */
.picture__exhaust {}
.exhaust{}
.exhaust__inner{
	opacity: 0;
	animation: gases-move 2s linear 36s 1 normal forwards, gases-move1 5s linear 0s 1 normal forwards;
}
.exhaust__gases {
	width: 40px;
	height: 90px;
	border-radius: 70px;
	background-color: #fff;
	transform-origin: center;

	position: absolute;
	top: 700px;
	left: 1800px;
}
.exhaust__gases--vertical {
	width: 100px;
	height: 20px;

	top: 735px;
	left: 1770px;
}
.exhaust__gases--diagonal-1 {
	width: 30px;
	height: 90px;
	transform: rotate(55deg);
		
	top: 700px;
	left: 1805px;
}
.exhaust__gases--diagonal-2 {
	width: 30px;
	height: 90px;
	transform: rotate(-55deg);

	top: 700px;
	left: 1800px;
}

.exhaust__inner--top {
	position: absolute;
	top: -50px;
	left: -70px;
	transform-origin: center;

	animation: gases-move 2s linear 36.3s 1 normal forwards, gases-move1 5s linear 0s 1 normal forwards;
}
.exhaust__inner--left{
	position: absolute;
	top: 0px;
	left: -200px;

	animation: gases-move 2s linear 36.6s 1 normal forwards, gases-move1 5s linear 0s 1 normal forwards;
}
.exhaust__inner--next-left {
	position: absolute;
	top: -30px;
	left: -300px;

	animation: gases-move 2s linear 36.9s 1 normal forwards, gases-move1 5s linear 0s 1 normal forwards;
}
@keyframes gases-move {
	0% {
		transform: translate(0px, 0px);
		opacity: 1;
	}
	25% {
		transform: translate(150px, -30px);
		opacity: 0.9;
	}
	50% {
		transform: translate(150px, -150px);
		opacity: 0.8;
	}
	75% {
		transform: translate(250px, -300px);
		opacity: 0.7;
	}

	100% {
		transform: translate(350px, -400px);
		opacity: 0;
	}
}

/* -------BALLOONS----------- */
.picture__balloons {}

.balloons {}

.balloons__container {
	position: absolute;
	top: 650px;
	left: 300px;

	animation: ballons-move 7s linear 45.5s 1 normal forwards;
	opacity: 0;

	z-index: 30;
}
.balloons__container--yellow {
	position: absolute;
	top: 600px;
	left: 400px;

	animation: ballons-move 3s linear 45.1s 1 normal forwards;
}

.balloons__container--green {
	position: absolute;
	top: 630px;
	left: 500px;

	animation: ballons-move 4s linear 45.3s 1 normal forwards;
}
@keyframes ballons-move {
	0% {
		transform: translate(0px, 0px);
		opacity: 0.9;
	}
	50% {
		transform: translate(300px, -550px);
		opacity: 1;
	}
	100% {
		transform: translate(0px, -100vw);
		opacity: 0;
	}
}
.balloons__circle {
	width: 80px;
	height: 120px;
	background-color: red;
	border-radius: 50% 50% 45% 45% / 55% 55% 50% 50%;

	position: absolute;
	top: 0px;
	left: 0px;
}
.balloons__circle::before {
	content: "";
	width: 80px;
	height: 120px;
	border-radius: 50% 50% 45% 45% / 55% 55% 50% 50%;
	background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}
.balloons__circle::after{
	content: "";
	width: 10px;
	height: 18px;
	background-color: red;
	border-radius: 40%;

	position: absolute;
	top: 119px;
	left: 35px;
}
.balloons__rope {
	width: 2px;
	height: 150px;
	background-color: black;

	position: absolute;
	top: 130px;
	left: 39px;
}


/* ---------END--------------- */

.picture__letter {
	font-family: "Caveat", serif;
	font-size: 100px;
	font-weight: 700;
	color: #fff;
	text-shadow: 5px 5px 2px #000;

	position: absolute;
	top: 350px;
	left: 100vw;
	opacity: 0;
	transform: rotate(180deg);
	
	z-index: 50;
}
		
@keyframes end-move {
	 0% {
		transform: translateX(100vw);
	} 
	100% {
		transform: translateX(700px);
		opacity: 1;
	}
}
.picture__letter--1{
	animation: end-move 4s linear 47s 1 normal forwards;
	text-transform: uppercase;
	left: 300px;
}
.picture__letter--2 {
	animation: end-move 4s linear 47.3s 1 normal forwards;
	left: 385px;
}
.picture__letter--3 {
	animation: end-move 4s linear 47.6s 1 normal forwards;
	left: 435px;
}
.picture__letter--4{
	animation: end-move 4s linear 47.9s 1 normal forwards;
	left: 485px;
} 
.picture__letter--5 {
	animation: end-move 4s linear 48.2s 1 normal forwards;
	left: 555px;
}
.picture__letter--6 {
	animation: end-move 4s linear 48.5s 1 normal forwards;
	left: 595px;
}
.picture__letter--7 {
	animation: end-move 4s linear 48.8s 1 normal forwards;
	left: 635px;
}
.picture__letter--8 {
	animation: end-move 4s linear 49.1s 1 normal forwards;
	left: 675px;
}
.picture__letter--9 {
	animation: end-move 4s linear 49.4s 1 normal forwards;
	left: 715px;
}
.picture__letter--10 {
	animation: end-move 4s linear 49.7s 1 normal forwards;
	left: 755px;
}
.picture__letter--11 {
	animation: end-move 5s linear 50.7s 1 normal forwards;
	left: 795px;
}


















/* ----------FOOTER------------ */

.footer__container {
	background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 61, 0.8855917366946778) 31%, rgba(0, 255, 226, 1) 100%);
	border: 5px solid #000;
	border-radius: 40%;

}
.footer__title {
	text-align: center;
	font-size: 36px;
	color: #ff0000;
	text-shadow: 5px 5px 3px #111111;
	padding-block: 20px;
}
