  *,
  *::before,
  *::after {
  	padding: 0;
  	margin: 0;
  	border: none;

  	box-sizing: border-box;
  }

  *:before,
  *:after {
  	display: inline-block;
  }

  a {
  	text-decoration: none;
  	display: inline-block;
  	color: inherit;
  }

  li {
  	list-style: none;
  }

  img {
  	vertical-align: top;
  }

  html,
  body {
  	line-height: 1;
  	height: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  	font-weight: inherit;
  	font-size: inherit;
  }

  input,
  button,
  textarea {
  	font-family: inherit;
  	font-size: inherit;
  	line-height: inherit;
  	color: inherit;
  	background-color: transparent;
  }

  input,
  textarea {
  	width: 100%;
  }

  button,
  select,
  option {
  	cursor: pointer;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
  	appearance: none;
  }

  table {
  	inline-size: 100%;
  	border-collapse: collapse;
  }

  /*-------------*/
 *,
 *::before,
 *::after {
 	padding: 0;
 	margin: 0;
 	border: none;

 	box-sizing: border-box;
 }
@page {
	size: A4;
	margin: 0;
	padding: 0;
}

/* ---------------- */

body {
	font-family: "Arial", serif;
	font-size: 0.355cm;
	line-height: 1.3;
}
.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}
.wrapper>main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 21cm;
	margin-inline: auto;
}

/* ----HEADER----- */
.header {
	margin-block: 0.3cm 0.35cm;
}
.header__container {
	background-color: #4d88c7;
	height: 3.8cm;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5cm;
}
.header__laptop-image{
	aspect-ratio: 9 / 4.3;
	flex: 0 0 9cm;
}
.header__laptop-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.header__logo {
	aspect-ratio: 7 / 2.68;
	flex: 0 0 7cm;

	margin-inline-end: 1.7cm;
}
.header__logo img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
/* ----main----- */
.main {
	margin-block-end: 0.423cm;
}
.insel {}
.insel__container {
	padding-inline: calc(2cm - 0.3cm) calc(1cm - 0.18cm);
}
.insel__info {
	display: flex;
	justify-content: space-between;
	gap: 0.5cm;

	margin-block-end: 0.846cm;
}
.insel__company-info {
	flex: 0 0 calc(8.5cm + 0.35cm);
	padding-inline-start: 0.5cm;
	/* border: 0.0265cm solid #000; */
}
.insel__name {
	font-size: 0.31cm;
	text-decoration: underline;
	min-height: 1.77cm;

	display: flex;
	flex-direction: column-reverse;
	justify-content: end;
}

.insel__address {
	min-height: 2.73cm;
}
.insel__contact-info {
	padding-block-start: 0.35cm;
	flex: 0 0 calc(7.5cm + 0.2cm);

	display: flex;
	justify-content: space-between;
	gap: 0.3cm;
	/* border: 0.0265cm solid #000; */
}
.insel__contact {}
.insel__contact-details {}

/* ----invoice---- */
.insel__invoice {
	padding-inline: 0.5cm 1cm;
	/* padding-inline: 0.5cm calc(1cm - 0.1cm); */
}
.invoice {}
.invoice__head{
	margin-block-end: 0.5cm;
}
.invoice__head p {}
.invoice__number {
	font-weight: 700;
	margin-block-end: 0.5cm;
}

.invoice__table {
	font-size: 0.353cm;
	line-height: 1.3;

	/* overflow-x: auto;
	overflow-y: hidden; */

	margin-block-end: 1cm;
}
.table__content{
	/* min-inline-size: 570px; */
}
.invoice__table strong{
	font-size: 0.45cm;
}
.table__body tr:last-child{
	border-bottom: 0.0265cm solid #000;
}
.table__head{
	border-bottom: 0.0265cm solid #000;
	text-align: center;
}
.table__number{
	width: 0.5cm;
}
.table__digital{
border-bottom: 0.0265cm solid #000;	
}
.table__product-name {}
.table__quantity,
.table__price {
text-align: center;
}
.table__total {
	text-align: right;
}
.head-table__line th:not(:last-child){
	text-align: center;
}
tfoot td {
	text-align: right;
}
.insel__bottom-invoice {}

/* -------FOOTER------ */
.footer {
	font-size: 0.3cm;
	line-height: 1.2;
}
.footer__container {
	padding-inline-start: calc(2.5cm - 0.2cm);
	padding-inline-end: calc(2cm - 0.2cm);
	position: relative;
}
.footer__container::after {
	content: "";
	background: url('../img/gotocoder__wellen.svg') 0 0 / contain no-repeat;
	height: 0.9cm;
	width: 100%;
	aspect-ratio: 14 / 0.9;

	position: absolute;
	bottom: 0.5cm;
	left: 2.25cm;
}
.footer__body{
	display: flex;
	justify-content: space-between;
	gap: 0.1cm;
	align-items: end;
	padding-block-start: 0.35cm;
}
.footer__area{
	flex: 0 0 11cm;
	color: #4C88C7;
	display: flex;
	gap: 0.2cm;
	padding-block-end: 1.4cm;
}
.footer__area span{
	color: #000;
}
.footer__area strong {
	font-weight: 400;
}
.footer__pages {
	text-align: right;
	padding: 0.423cm 1cm 0cm 0cm;
	margin-block-end: 0.423cm;
}
.footer__info {}
.footer__bank-details {}

.footer__backgraund-insel{
	aspect-ratio: 8 / 4.7;
	min-height: 4.7cm;
	width: 8cm;
	position: relative;
	z-index: 1;
}
.footer__backgraund-insel img{
	width: 100%;
	height: 100%;
	object-fit: contain;

	position: absolute;
	bottom: 0.47cm;
	right: 2.2cm;
}

.footer__picture {
	width: 14cm;
	aspect-ratio: 14 / 0.9;
	/* margin-block-end: 0.3cm; */
}

.footer__picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* transform: translateX(-0.15cm); */
}
