
@import url("reset.css");

/* @import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900"); */
/* @import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700"); */
@import url("https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700&display=swap");
/* ------------------------------------------------------------------ */
body {}

.wrapper{
	min-height: 100%;
	overflow: clip;
	background-color: #1a1919;

	display: flex;
	flex-direction: column;

	font-family: "Caveat", serif;
	color: #ffffff;
}
.wrapper>main{
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1342px;
	margin-inline: auto;
	padding-inline: 15px;
}

/* ----------MAIN--------------- */
.main {}
.grid {
	padding-block: 30px;
}
.grid__container {}
.grid__cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 32px;
	row-gap: 24px;
	grid-auto-rows: auto;
}
@media (max-width: 991.98px){
	.grid__cards {
			gap: 12px;
		}
}
@media (max-width: 767.98px) {
	.grid__cards {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (max-width: 610px) {
	.grid__cards {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 400px) {
	.grid__cards {
		grid-template-columns: repeat(1, 1fr);
	}
}
.cards-grid {}
.cards-grid__card {
	border: 1px solid #fff;
	border-radius: 10px;
	
	overflow: hidden;
	background-color: grey;

	transition: border 0.3s;
}

@media (any-hover: hover){
	.cards-grid__card:hover{
		border: 1px solid red;
		transition: border 0.5s;
	}
}
.cards-grid__card {
	display: inline-block;
	opacity: 0;
	transform: scale(1);
	will-change: transform;
	/* transform: scale(0) rotate(0deg); */

	animation: card-opasity 1s ease-in-out 0s 1 forwards, card-move 1s ease-in-out 3.8s 1 forwards;
}

@keyframes card-opasity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes card-move {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
				100% {
					transform: scale(1);
				}
}
.cards-grid__card:nth-child(1) {
	animation-delay: 0.2s, 3.8s;
	}
.cards-grid__card:nth-child(4) {
	animation-delay: 0.4s,
		4.1s;
}
.cards-grid__card:nth-child(8) {
	animation-delay: 0.6s,
		4.5s;
}
.cards-grid__card:nth-child(10) {
	animation-delay: 0.8s,
		4.7s;
}
.cards-grid__card:nth-child(16) {
	animation-delay: 1.0s,
		5.3s;
}
.cards-grid__card:nth-child(2) {
	animation-delay: 1.2s,
		3.9s;
}
.cards-grid__card:nth-child(6) {
	animation-delay: 1.4s,
		4.3s;
}
.cards-grid__card:nth-child(7) {
	animation-delay: 1.6s,
		4.4s;
}
.cards-grid__card:nth-child(12) {
	animation-delay: 1.8s,
		4.9s;
}
.cards-grid__card:nth-child(15) {
	animation-delay: 2.0s,
		5.2s;
}
.cards-grid__card:nth-child(3) {
	animation-delay: 2.2s,
		4.0s;
}
.cards-grid__card:nth-child(5) {
	animation-delay: 2.4s,
		4.2s;
}
.cards-grid__card:nth-child(9) {
	animation-delay: 2.6s,
		4.6s;
}
.cards-grid__card:nth-child(11) {
	animation-delay: 2.8s,
		4.8s;
}
.cards-grid__card:nth-child(14) {
	animation-delay: 3.0s,
		5.1s;
}
.cards-grid__card:nth-child(17) {
	animation-delay: 3.2s,
		5.4s;
}
.cards-grid__card:nth-child(13) {
	animation-delay: 3.4s,
		5.0s;
}
.cards-grid__content{
	aspect-ratio: 304 / 184;
	height: 100%;
	width: 100%;

	display: flex;
	align-items: end;
	padding: 20px 20px;

	position: relative;
	/* z-index: 2; */
}

@media (min-width:767.98px) {
.cards-grid__card:nth-child(17n+1),
.cards-grid__card:nth-child(17n+4),
.cards-grid__card:nth-child(17n+8),
.cards-grid__card:nth-child(17n+10),
.cards-grid__card:nth-child(17n+16){
	grid-row: span 2;
	aspect-ratio: 304 / 184;
}
.cards-grid__card:nth-child(17n+2),
.cards-grid__card:nth-child(17n+5),
.cards-grid__card:nth-child(17n+6),
.cards-grid__card:nth-child(17n+7),
.cards-grid__card:nth-child(17n+12),
.cards-grid__card:nth-child(17n+14),
.cards-grid__card:nth-child(17n+15) {
	grid-row: span 3;
	aspect-ratio: 304 / 296;
}
.cards-grid__card:nth-child(17n+5),
.cards-grid__card:nth-child(17n+14){
	grid-row: span 3;
	aspect-ratio: 304 / 152;
}
.cards-grid__card:nth-child(17n+3),
.cards-grid__card:nth-child(17n+9),
.cards-grid__card:nth-child(17n+11),
.cards-grid__card:nth-child(17n+17) {
	aspect-ratio: 304 / 152;
}
.cards-grid__card:nth-child(17n+4){
	grid-row: span 2;
	aspect-ratio: 304 / 184;
}
.cards-grid__card:nth-child(17n+13) {
	grid-row: span 5;
	aspect-ratio: 304 / 504;
}
		}
.cards-grid__card img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;

	position: absolute;
	top: 0;
	left: 0;

	transform: scale(1);
	transition: transform 0.3s;

	/* z-index: 1; */
}
@media (any-hover: hover){
	.cards-grid__card:hover .cards-grid__content img:hover{
				transform: scale(1.1);
				transition: transform 0.6s;
			}
	}

.cards-grid__title {
	font-size: 25px;
	font-weight: 900;
	text-transform: capitalize;
	position: relative;
		/* z-index: 2; */

	text-decoration: underline;
	text-decoration-color: transparent;

	transition: text-decoration 0.3s, text-decoration-color 0.3s, transform 0.3s;
}
@media (max-width:991.98px){
.cards-grid__title{
	font-size: 19px;
}
}
@media (max-width:479.98px) {
	.cards-grid__title {
		font-size: 25px;
	}
}

@media (any-hover: hover){
	.cards-grid__title:hover{
		text-decoration: underline;
		text-decoration-color: inherit;
		transform: translateY(-3px);

		transition: text-decoration 0.5s, text-decoration-color 0.5s, transform 0.5s;
	}
}

/* ----------FOOTER------------ */

.footer__container {
	font-family: "Caveat", serif;
	/* background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 61, 0.8855917366946778) 31%, rgba(0, 255, 226, 1) 100%); */
	/* border: 1px solid #fff; */
	/* border-radius: 40%; */
}
.footer__title {
	text-align: center;
	font-size: 36px;
	color: #ff0000;
	text-shadow: 5px 5px 3px #111111;
	padding-block: 20px;
}
