
@import url("reset.css");


@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Public+Sans:100,200,300,regular,500,600,700,800,900&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900"); */
/* @import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700"); */
/* @import url("https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap"); */
/* ------------------------------------------------------------------ */
:root {
	--btn-primary: #A53DFF;
	--btn-hover: blue;
	--color-primary: #556070;
	--color-hover: blue;
	--color-title: #132238;
	--color-header: #333;
	--color-white: #fff;
	--color-black: #000;
	--color-label: #87909D;
}
body {
	color: var(--color-primary);
	font-family: "Work Sans", serif;
}
.wrapper{
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}
.wrapper>main{
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 84.375rem; /* 1350/16 */
	margin-inline: auto;
	padding-inline: 0.9375rem; /* 15/16 */
}
[class*="__title"] {
	color: var(--color-title);
	font-weight: 600;
}

/* -----HEADER------ */
.header {
	color: var(--color-header);
	background-color: var(--color-white);

	position: sticky;
	top: 0;
	left: 0;
	z-index: 50;
}
@media (max-width:61.9988em) {
	.header {
		padding-block-end: 1.25rem; /* 20/16 */
	}
}
.header__container {
	display: grid;
	grid-template-columns: 1fr auto auto;
	align-items: center;
	column-gap: 1.5rem; /* 24/16 */
	row-gap: 0.1875rem; /* 3/16 */

	min-height: 6rem; /* 96/16 */
	padding-block: 0.3125rem; /* 5/16 */
}
@media (max-width:47.9988em /* 767.98/16 */){
.header__container {
		column-gap: 0.3125rem; /* 5/16 */
	}
}
.header__logo{
		position: relative;
		z-index: 5;
}
.logo {
	display: flex;
	column-gap: 0.75rem; /* 12/16 */
	align-items: center;
}
@media (max-width:61.9988em) {
.logo {
		column-gap: 0.3125rem; /* 5/16 */
	}
}
.logo {}
.logo__item {
	font-family: "Poppins", serif;
	color: var(--color-white);
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 2.33333;
	width: 3.5rem;
	aspect-ratio: 56 / 56;
	background-color: var(--btn-primary);
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.logo__title {
	/* flex-basis: 100%; */
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.25;
}
@media (max-width:47.9988em){
.logo__title {
		font-size: clamp(1rem, 0.286rem + 3.57vw, 2rem);/* 32>16 767.98>320 */
	}
}
.header__menu {}
.menu {}
.menu__body {}
.menu__list {
	display: grid;
	grid-template-columns: repeat(6, auto);
	column-gap: 3rem; /* 48/16 */
	row-gap: 0.1875rem; /* 3/16 */
}
@media (max-width:61.9988em /* 991.98/16 */){
	.menu__list {
			column-gap: 0.75rem; /* 12/16 */
		}
}
.menu__item {}
.menu__link {
	font-weight: 500;
	line-height: 1.5;

	position: relative;
}
.menu__link::before,
.footer__link::after {
	content: "";
	width: 0;
	height: 0.125rem; /* 2/16 */
	background-color: var(--btn-hover);

	position: absolute;
	left: 50%;
	bottom: 0;

	transform: translateX(-50%);

	transition: width 0.3s;
}
@media (any-hover: hover) {
	.menu__link:hover,
	.footer__link:hover {
		color: var(--color-hover);
		transform: translateY(-0.1875rem);
		transition: color 0.5s, transform 0.5s;
	}
	.menu__link:hover::before,
	.footer__link:hover::after {
		width: 100%;
		transition: width 0.5s ease-in-out;
	}
}
.header__action {
	display: flex;
	gap: 0.625rem; /* 10/16 */

	position: relative;
	z-index: 5;
}
.action-header {}
.button {
	color: var(--color-white);
	background-color: var(--btn-primary);
	font-weight: 600;
	line-height: 1.5;
	border-radius: 0.25rem;
	/* 4/16 */
	overflow: hidden;
	text-align: center;
	padding: 0.75rem 1.5rem;
}
.button--menu{
	position: relative;
}
.button,
.outline-button {
	text-decoration: underline;
	text-decoration-color: transparent;
	text-shadow: 0rem 0rem 0rem transparent;
	box-shadow: 0rem 0rem 0rem transparent;
	transform: translateY(0rem);
	
	transition: text-decoration 0.3s, text-decoration-color 0.3s, text-shadow 0.3s, box-shadow 0.3s, transform 0.3s;
}
@media (any-hover: hover) {
	.button:hover,
	.outline-button:hover {
		background-color: var(--btn-hover);
		text-decoration: underline;
		text-decoration-color: inherit;
		text-shadow: 0.125rem -0.1875rem 0.0625rem var(--color-black);
		box-shadow: 0.125rem -0.125rem 0.0625rem var(--color-black);
		transform: translateY(0.1875rem);

		transition: background-color 0.5s, text-decoration 0.5s, text-decoration-color 0.5s,
			text-shadow 0.5s, box-shadow 0.3s, transform 0.5s;
	}
}
.button::before {
	content: "";
	position: absolute;
	top: 0;
	left: -25%;
	width: 30%;
	height: 150%;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.6));
	transform: skew(-30deg) translate(-100%, -25%);
	will-change: left;
}
@media (any-hover: hover) {
	.button:hover::before {
		left: 150%;
		transition: left 1s;
	}
}
.action-header__icon {}


/* ----MENU-BURGER----- */

.icon-burger {
	display: none;
}
@media (max-width:48.0613em /* 768.98/16 */){
	.icon-burger {
		flex-basis: 2.5rem; /* 40/16 */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;

		padding-inline: 0.625rem; /* 10/16 */
		border-radius: 0.3125rem; /* 5/16 */
		background-color: var(--btn-primary);
		}
	.icon-burger span {
		margin-block: 0.375rem; /* 6/16 */
	}
	.icon-burger::before,
	.icon-burger::after,
	.icon-burger span {
		content: "";
		height: 0.125rem; /* 2/16 */
		width: 1.25rem; /* 20/16 */
		background-color: var(--color-white);

		transition: all 0.3s;
	}
	.menu__body{
		inset-inline-start: 100%;
		inset-block-start: 0;
		inline-size: 100%;
		block-size: 100svh;
		background-color: var(--btn-primary);
		padding: 6.25rem 0.9375rem 1.875rem;
		
		overflow: auto;
		
		position: fixed;
		z-index: 4;
		
		transition: inset-inline-start 0.3s;
	}
	.menu__body::before {
		content: "";
		block-size: 5rem;
		inline-size: 100%;
		inset-inline-start: 100%;
		inset-block-start: 0;

		position: fixed;
		z-index: 3;

		background-color: var(--btn-primary);

		transition: inset-inline-start 0.3s
	}
	.menu__list {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		border: none;
		background-color: transparent;

		row-gap: 1.875rem;
	}
	.menu__link {
		font-size: 1.75rem; /* 28/16 */
		padding: 0;
		border-bottom: 0.0625rem solid var(--color-white);
		color: var(--color-white);
	}
	.open-menu .menu__body,
	.open-menu .menu__body::before {
		inset-inline-start: 0;
	}
	.open-menu .icon-burger span {
		width: 0;
		height: 0;
		margin: 0;
	}
	.open-menu .icon-burger::before {
		transform: rotate(45deg) translateY(0.0938rem);
	}
	.open-menu .icon-burger::after {
		transform: rotate(-45deg) translateY(-0.0938rem);
	}
	.open-menu body {
		overflow: hidden;
	}
	.open-menu .action-header__button {
		background-color: var(--color-white);
		color: var(--color-hover);
	}
	.open-menu .logo-header__item{
		background-color: var(--color-white);
		color: var(--color-hover);
	}
	.open-menu .logo__item {
		background-color: var(--color-white);
		color: var(--btn-primary);
	}
	.open-menu .logo__title {
		color: white;
	}
	.header__action {
		gap: 0.3125rem;
	}
}


/* ----------MAIN--------------- */
.main {
	padding-block-start: 7.875rem; /* 126/16 */
}
@media (max-width:61.9988em) {
.main {
		padding-block-start: 1.25rem;
	}
}
.personal-portfolio {}
.personal-portfolio__body{
	max-width: 84.375rem;
	margin-inline: auto;

	position: relative;
}
.personal-portfolio__body::after {
	content: "";
	width: 79.1149%; /* 1044.3168/1320 */
	aspect-ratio: 1;
	transform: rotate(-130.444deg);
	flex-shrink: 0;
	border-radius: 65.2698rem;
	background: rgba(196, 245, 233, 0.70);
	filter: blur(18.75rem);

	position: absolute;
	top: 11.4462%; /* 186/1625 */
	left: 97.7778%; /* 1320/1350 */

	z-index: -1;
}
.personal-portfolio__body::before {
	content: "";
	width: 40.9848%; /* 541/1320 */
	height: 14.125rem;
	transform: rotate(-30deg);
	flex-shrink: 0;
	border-radius: 33.8125rem;
	background: linear-gradient(182deg, #FFDFA8 -157.44%, rgba(255, 226, 176, 0.96) -157.4%, rgba(255, 234, 198, 0.67) 216.94%, rgba(250, 211, 144, 0.80) 216.94%);
	filter: blur(6.25rem);

	position: absolute;
	bottom: 2%;
	left: -29.5%;

	z-index: -1;
}
.personal-portfolio__hero {
		padding-block-end: 0.625rem; /* 10/16 */
		margin-block-end: 13.25rem; /* 212/16 */
}
@media (max-width:74.9988em){
	.personal-portfolio__hero {
			margin-block-end: 3.75rem; /* 60/16 */
		}
}
.hero__container {
	display: flex;
	justify-content: space-between;
	gap: 1.25rem;

	position: relative;
}
@media (max-width:45.1875em){
	.hero__container {
			flex-wrap: wrap;
			justify-content: center;
		}
}
.hero__container::after {
	content: "";
	width: 66.001%;
	/* 871.213/1320 */
	aspect-ratio: 1;
	transform: rotate(-130.444deg);
	flex-shrink: 0;
	border-radius: 54.4508rem;
	background: rgba(218, 77, 241, 0.40);
	filter: blur(18.75rem);

	position: absolute;
	top: -132.2482%;
	left: 79%;
	z-index: -1;
}
.hero__promo {
	flex: 0 1 49.0909%; /* 648/1320 */
	padding-block-start: 3.25rem; /* 52/16 */
}
@media (max-width:66.3125em) {
	.hero__promo {
		flex: 1 1 100%;
		padding-block-start: 0.3125rem; /* 5/16 */
	}
}
.hero__head-promo {}
.hero__title {
	font-size: clamp(2.25rem, 3.6vw + 1.53rem, 4.5rem);
	font-weight: 600;
	line-height: 1.16667;

	margin-block-end: 1.5rem; /* 24/16 */
}
.hero__text {
	margin-block-end: 1.5rem; /* 24/16 */
}
.hero__text strong{
	color: var(--color-title);
	position: relative;

}
.hero__text strong::after {
	content: "";
	width: 100%;
	height:0.375rem;
	background-color: #FFC8C8;
	position: absolute;
	left: 50%;
	bottom: 0.125rem;
	z-index: -1;
	
	transform: translateX(-50%);

}
.text{
	font-size: 1.125rem; /* 18/16 */
	line-height: 1.33333;
}
.hero__button {
	margin-block-end: 8.875rem; /* 142/16 */
}
@media (max-width:78.1875em) {
.hero__button {
		margin-block-end: 1.5625rem; /* 25/16 */
	}
}
.button {}

.hero__achievements {
	display: flex;
	column-gap: 0.0938rem; /* 1.5/16 */
	row-gap: 0.1875rem; /* 3/16 */
	text-align: center;
	flex-wrap: wrap;
}
.hero__achievement-item {}
.achievement-item {
	border-radius: 0.375rem;
	border: 0.0625rem solid var(--color-white);
	background: rgba(237, 216, 255, 0.50);
	padding: 1rem 0.75rem;
	text-align: center;
}
@media(max-width:57.25em) {
	.achievement-item {
		padding-block: 0.1875rem;
	}
}
.achievement-item:nth-child(3n+1) {
	flex-basis: 32.716%; /* 212/648 */
}
.achievement-item:nth-child(3n+2) {
	flex-basis: 33.9506%; /* 220/648 */
}
.achievement-item:nth-child(3n+3) {
	flex-basis: 32.0988%; /* 208/648 */
}
@media (max-width:57.25em){
	.achievement-item:nth-child(3n+1),
	.achievement-item:nth-child(3n+2),
	.achievement-item:nth-child(3n+3) {
			flex-basis: 100%;
		}
}
.achievement-item__count {
	color: #424E60;
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.25;

	margin-block-end: 0.5rem; /* 8/16 */
}
@media(max-width:57.25em) {
	.achievement-item__count {
		font-size: 1.25rem;
		margin-block-end: 0.0625rem;
	}
}
.hero__achievement-item p{
	color: #697484;
	line-height: 1.5;
}
.hero__visual {
	aspect-ratio: 536/636;
	flex: 0 0 40.6061%; /* 536/1320 */
	max-height: 39.75rem;
	background-color: var(--color-white);
	box-shadow: 0rem 1.5rem 7.25rem 0rem rgba(43, 56, 76, 0.09);
	border-radius: 1.5625rem;/* 25/16 */
}
@media(max-width:48.0613em) {
	.hero__visual {
		flex: 0 1 80%;
	}
}
@media(max-width:34.375em) {
	.hero__visual {
		flex: 0 1 100%;
	}
}
.visual {
	display: flex;
	justify-content: center;
	align-items: start;
	align-self: center;
}
.visual img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* ----DESIGNER----- */

.personal-portfolio__designer {}
.designer__container {}
.designer__area{
	background-color: #FFFFFF;
	border-radius: 1rem;
	box-shadow: 0rem 2.25rem 6.5625rem 0rem rgba(43, 56, 76, 0.10);
	padding: 7rem;/* 112/16 */
		
	position: relative;
	z-index: 2;

	display: flex;
	justify-content: space-between;
	column-gap: 1.25rem; /* 20/16 */
	row-gap: 0.1875rem;/* 3/16 */
}
@media (max-width:74.9988em) {
	.designer__area {
		padding: 3.75rem 0.9375rem 0.625rem 0.9375rem;
	}
}
@media(max-width: 45.1875em) {
	.designer__area {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}
.designer__body-visual{
	flex: 0 0 38.6861%; /* 424/1096 */
	column-gap: 1.25rem; /* 20/16 */
	row-gap: 0.1875rem; /* 3/16 */

	text-align: center;
}
@media(max-width:45.1875rem) {
	.designer__body-visual {
		flex: 0 1 80%;
		order: 2;
	}
}
@media(max-width:34.375em) {
	.designer__body-visual {
		flex: 0 1 100%;
	}
}
.designer__visual {
	aspect-ratio: 424/468;
	flex: 1 0 32.1212%; /* 424/1320 */
	background-color: #F0F1F3;
	border-radius: 0.625rem; /* 10/16 */
}
.visual {}
.designer__socials {
	transform: translateY(-50%);
	box-shadow: 0rem 0.75rem 4rem 0rem rgba(28, 25, 25, 0.12);
}
.socials__item{
	border: 0.0625rem solid transparent;
	border-radius: 0.375rem;
	box-shadow: 0rem 0.75rem 4rem 0rem transparent;
	
	transition: border 0.3s, border-radius 0.3s;
}
@media (any-hover: hover) {
	.socials__item:hover {
		border: 0.0625rem solid var(--btn-primary);
		box-shadow: 0rem 0.75rem 4rem 0rem rgba(28, 25, 25, 0.12);
		border-radius: 0.25rem;

		transition: border 0.5s, border-radius 0.5s, box-shadow 0.5s;
	}
}
.socials {
	padding: 0.75rem; /* 12/16 */
	border-radius: 0.25rem; /* 4/16 */
	background: #FFF;
	
	display: inline-flex;

}
.socials__soc-icon {}
.soc-icon {
	padding: 0.9375rem; /* 15/16 */
	border-radius: 0.25rem; /* 4/16 */
	align-self: center;
	justify-self: center;
	
	width: 3rem;
	aspect-ratio: 1;
	background-color: transparent;
	
	transition: background-color 0.3s;
}
@media (any-hover: hover) {
	.soc-icon:hover {
		background-color: var(--btn-primary);
		transition: background-color 0.6s;
	}
}
.soc-icon img{
	width: 100%;
	height: 100%;
	object-fit: contain;

	filter: brightness(1) invert(0);
	transition: filter 0.3s;
	
}
@media (any-hover: hover) {
	.socials__item:hover .socials__soc-icon img {
		filter: brightness(0) invert(1);
		transition: filter 0.6s;
	}
}
.designer__promo {
	padding-block-start: 4.875rem; /* 78/16 */

	flex: 0 1 48.9051%; /* 536/1096 */
}
@media (max-width:74.9988rem) {
	.designer__promo {
			padding-block-start: 0.625rem; /* 10/16 */
			flex: 1 1 48.9051%;
		}
	}
@media(max-width:45.1875em) {
	.designer__promo {
		order: 1;
	}
}
.designer__head-promo {}
.designer__title {
	font-size: 2.375rem; /* 38/16 */
	font-weight: 600;
	line-height: 1.31579;

	margin-block-end: 2rem; /* 32/16 */
}
@media (min-width:45.1875em) and (max-width:74.9988em){
	.designer__title {
		font-size: clamp(2rem, 0.992rem + 2.23vw, 2.375rem);/* 38>32 991.98>723 */
	}
}
@media (min-width:20em) and (max-width:29.9988em) {
	.designer__title {
		font-size: clamp(1.875rem, 0.875rem + 5vw, 2.375rem);/* 38>30 479.98>320 */
	}
}
.designer__text {
	margin-block-end: 2rem;
		/* 32/16 */
}
.designer__text p:not(:last-child){
	margin-block-end: 1rem;
}
.text{}
.designer__actions {
display: inline-flex;
flex-wrap: wrap;
align-items: center;
column-gap: 0.75rem; /* 12/16 */
row-gap: 0.625rem; /* 10/16 */
padding-block-end: 0.9375rem; /* 15/16 */
}
@media (max-width:29.9988em) {
	.designer__actions {
			display: flex;
		}
}
.designer__button {
	flex: 0 0 auto;
}
@media (max-width:29.9988em) {
	.designer__button {
			flex: 1 0 100%;
		}
}
.button {}
.designer__outline-button {}
@media (any-hover: hover) {
	.outline-button:hover {
		background-color: lightgoldenrodyellow;
		text-shadow: 0rem 0rem 0rem transparent;
	}
}
@media (max-width:29.9988em) {
	.designer__outline-button {
		display: flex;
		justify-content: center;
		flex: 1 0 100%;
		align-self: center;
	}
}
.designer__outline-button::before {
	content: "";
	background: url('../img/portfolio_designer-download-icon.svg') 0 0 / 100% no-repeat;
	width: 1.5rem;
			/* 24/16 */
	height: 1.5rem;
			/* 24/16 */
	min-height: 1.5rem;
			/* 24/16 */
}
.outline-button {
	font-weight: 600;
	line-height: 1.5;
	padding: 0.75rem 1.5rem;
	border-radius: 0.25rem; /* 4/16 */
		/* 4/16 */
	border: 0.0625rem solid var(--btn-primary);
	color: var(--btn-primary);

	flex: 0 0 auto;
	width: fit-content;
	display: inline-flex;
	gap: 0.75rem;
	justify-content: center;
}
/* ----------WORK----------- */
.work {
	margin-block-start: -7rem;
	padding-block: 15.5rem 8.75rem;
	background-color: #F0F1F3;

}
@media (max-width:74.9988em) {
	.work {
		padding-block: 11.5rem 4.375rem;
	}
}
.work__container {
	display: flex;
	justify-content: space-between;
	gap: 1.25rem;
	flex-wrap: wrap;
	align-items: center;

}
.work__head-promo {
	flex: 0 0 40.0758%; /* 529/1320 */
}
@media (max-width:47.9988em){
.work__head-promo {
		flex: 1 0 100%;
	}
}
.title {
	font-size: 3rem;
	font-weight: 600;
	line-height: 1.16667;
}
.work__title {
	margin-block-end: 1.5rem;
}
@media (max-width: 74.9988em) {
	.work__title {
		font-size: clamp(2.5rem, 2.318rem + 0.91vw, 3rem);/* 48>40 1199.98>320 */
	}
}
.work__text p{
	color: #697484;
}
.work__text p:not(:last-child){
	margin-block-end: 1rem;
}
.text {}
/* ------------- */
.work__cards {
	flex: 0 0 49.0909%; /* 648/1320 */

	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1.5rem;
}
@media (max-width:74.9988em) {
	.work__cards {
		flex: 1 0 49.0909%;
	}
}
@media (max-width:29.9988em) {
	.work__cards {
			grid-template-columns: 1fr;
			row-gap: 1.5rem;
		}
}
@media (min-width:29.9988em){
.work__card:nth-child(even){
	margin-block-start: 1.5rem;
}
}
@media (min-width:29.8113em) {
.work__card:nth-child(odd) {
	margin-block-end: 1.5rem;
}
}
.card-work{
		padding: clamp(1rem, 1.6vw + 0.68rem, 2rem);/* 32>16 1320>320 */
		border-radius: 0.75rem;
		background-color: #fff;
		box-shadow: 2rem 2rem 7.75rem 0rem transparent;
		transform: translateY(0);
		
		transition: box-shadow 0.3s, transform 0.3s;
}
@media (any-hover: hover) {
	.card-work:hover {
		transform: translateY(-0.1875rem);
		box-shadow: 2rem 2rem 7.75rem 0rem rgba(43, 56, 76, 0.10);
		transition: box-shadow 0.6s, transform 0.6s;
			}
		}
ol {
	counter-reset: list-counter;
}
ol li h4::before {
	counter-increment: list-counter;
	content: counter(list-counter)". ";
	display: inline-block;
	margin-right: 0.5625rem;
}
.card-work__icon {
	height: 4.5rem;
	width: 4.5rem;
	display: inline-block;
	padding: 1.25rem;
	border-radius: 0.375rem;
	background-color: rgba(237, 216, 255, 0.50);
	box-shadow: 2rem 2rem 7.75rem 0rem transparent;

	margin-block-end: 2rem;
	
	transition: background-color 0.3s, box-shadow 0.3s;
}
	@media (any-hover: hover) {
		.work__card:hover .card-work__icon {
			background-color: var(--btn-primary);
			box-shadow: 2rem 2rem 7.75rem 0rem rgba(43, 56, 76, 0.10);

			transition: background-color 0.6s, box-shadow 0.6s;
		}
}
.card-work__icon img{
	width: 100%;
	height: 100%;
	object-fit: cover;

	filter: brightness(1) invert(0);
}
	@media (any-hover: hover) {
		.work__card:hover .card-work__icon img {
			filter: brightness(0) invert(1);
			transition: filter 0.6s;
		}
	}
.card-work__title {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.2;

	margin-block-end: 0.75rem;
}
.card-work__subtext {}
.subtext{
	font-size: 1rem;
	line-height: 1.5;
}
/* -------PORTFOLIO----------- */
.portfolio {
	padding-block: clamp(3.125rem, 5vw + 2.125rem, 6.25rem) 6.25rem;
}
.portfolio__container {}
.head-promo{
	margin-inline: auto;
	text-align: center;
}
.portfolio__head-promo {
	max-width: 36.0625rem;
	margin-block-end: 4.375rem;
}
.head-promo__title {
	margin-block-end: 1.5rem;
}
.title {
	font-family: "Work Sans", serif;
	line-height: 1.16667;
}
.head-promo__text {
	color: var(--color-label);
	line-height: 1.33333;
}
.text {}

.portfolio__cards {
	grid-template-columns: repeat(auto-fill, minmax(19.6875rem, 1fr));
	margin-block-end: 3.125rem;
}
@media (max-width:42.6875em){
	.portfolio__cards {
			grid-template-columns: repeat(auto-fill, minmax(15.0625rem, 1fr));
		}
}
.cards {
	display: grid;
	column-gap: 1.5rem;
	row-gap: 2rem;
}
.cards__card {
	box-shadow: 0rem 0rem 0rem 0rem transparent;
	transition: box-shadow 0.3s;
}
.card {}
@media (any-hover: hover) {
	.cards__card:hover {
		box-shadow: 0rem 0.75rem 4rem 0rem rgba(28, 25, 25, 0.12);
		transition: box-shadow 0.6s;
	}
}
.card__article{
	height: 100%;
}
.card__body{
	display: flex;
	flex-direction: column;

	height: 100%;
}
.card__link {
	aspect-ratio: 424 / 248;
	width: 100%;
	border-radius: 0.5rem 0.5rem 0 0;
	overflow: hidden;
}
.card__link img {
	width: 100%;
	height: 100%;
	object-fit: cover;

	transform: scale(1);
	transition: transform 0.3s;
}
@media (any-hover: hover) {
	.cards__card:hover .card__link img {
		transform: scale(1.1);
		transition: transform 0.6s;
	}
}
.card__description {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	border-radius: 0rem 0rem 0.5rem 0.5rem;
	border: 0.0625rem solid var(--Gray-50, #F0F1F3);
	border-top: transparent;
	overflow: hidden;

	flex-grow: 1;
}

.card__label {
	color: var(--color-label);
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1.33333;

	margin-block-end: 0.25rem;
}
.card__title {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.33333;

	margin-block-end: 0.75rem;
}
.card__text {
	font-size: 0.875rem;
	line-height: 1.42857;

	flex-grow: 1;

	margin-block-end: 1.25rem;
}
.card__outline-button {}
.card__outline-button::after {
	content: "";
	background: url('../img/portfolio_case-arrow-icon.svg') 0 0 / 100% no-repeat;
	width: 1.5rem;
			/* 24/16 */
	height: 1.5rem;
			/* 24/16 */
	min-height: 1.5rem;
			/* 24/16 */
}
.outline-button {}
.portfolio__button {
	display: flex;
	justify-self: center;
	justify-content: center;

	margin-block-end: 5px;
}
/* --------DISCUSS PROJECT-------- */
.discuss-project {
	padding-block: 6.25rem;
	background-color: var(--color-title);
}
.discuss-project__container {
	max-width: 40.6875rem;
	margin-inline: auto;
	text-align: center;
}
.discuss-project__title {
	color: #FFF;
	font-size: clamp(1.75rem, 1.35rem + 2vw, 3rem);/* 48>28 1320>320 */
	margin-block-end: 2rem;
}
.title {}
.discuss-project__text {
	max-width: 36.3125rem;
	margin-block-end: 2rem;
}
.text {}
.discuss-project__button {
	display: flex;
	gap: 0.75rem;
	align-items: center;
	justify-self: center;
	justify-content: center;

	margin-block-end: 5px;
}

.discuss-project__button::after {
	content: "";
	background: url('../img/portfolio_discuss-arrow-icon.svg') 0 0 / 100% no-repeat;
	width: 0.8125rem; /* 13/16 */
	height: 0.75rem; /* 12/16 */
	min-height: 0.75rem; /* 12/16 */
}
.button {}

.button--mobil {}

/* ---------BLOG---------- */
.blog {
	padding-block: 6.25rem;
}
.blog__container {
	position: relative;
}
.blog__container::before {
	content: "";
	width: 66.001%; /* 871.2128/1320 */
	aspect-ratio: 1;
	transform: rotate(-130.444deg);
	flex-shrink: 0;
	border-radius: 54.4508rem;
	background: rgba(218, 77, 241, 0.40);
	filter: blur(15.625rem);

	position: absolute;
	top: -90%;
	left: -76%;
}
.blog__container::after {
	content: "";
	width: 79.1149%; /* 1044.3168/1320 */
	aspect-ratio: 1;
	transform: rotate(-130.444deg);
	flex-shrink: 0;
	border-radius: 65.2698rem;
	background: rgba(196, 245, 233, 0.70);
		
	filter: blur(18.75rem);
	position: absolute;
	top: -75%;
	left: 104.5%;
}
.blog__head-promo {
	max-width: 33.75rem;
	margin-block-end: 4.375rem;
}
.head-promo {}
.head-promo__title{}
.title--blog {
	font-family: "Poppins", serif;
}
.title {}
.head-promo__text {}
.text {}
.text--blog{
	font-family: "Public Sans", serif;
	line-height: 1.44444;
}
.blog__cards {
	display: grid;
	grid-template-columns: repeat(4, minmax(19.5rem, 1fr));
	overflow: auto;
	scroll-snap-type: x mandatory;
	margin-block-end: 1.5rem;
	justify-content: start;
	grid-auto-flow: column;
	}
.cards {}
.card--scroll {
	min-width: 18.125rem;
	overflow: hidden;
}
.card__body{
	display: flex;
	flex-direction: column;
}
.card__link{}
.card__link--size {
	aspect-ratio: 312 / 226;
	max-width: 19.5rem;
}
.card__description{
	
}
.card__description--padding {
	padding: 1.5rem;
	flex-grow: 1;
}
.card__date{
	margin-block-end: 0.5rem;
}
.card__label {}
.card__title {}
.card__title--font-weigh{
	font-weight: 500;
	color: var(--color-header);
	
	transition: color 0.3s;
}
@media (any-hover: hover){
	.card__title--font-weigh:hover{
		color: var(--btn-primary);

		transition: color 0.5s;
	}
}
.blog__slider {
	text-align: center;
}
.slider__item {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #C3C7CE;
}
.slider .active {
	width: 1.875rem;
	border-radius: 6.25rem;
	background-color: #210C33;

	transition: background-color 0.3s, width 0.3s, border-radius 0.3s;
}
.active {}
@media (any-hover: hover) {
	.slider__item:hover {
		width: 1.875rem;
		border-radius: 6.25rem;
		background-color: #210C33;

		transition: background-color 0.5s, width 0.5s, border-radius 0.5s;
	}
}

/* -----I DO------- */
.i-do {
	background-color: #F0F1F3;
	padding-block: 9.375rem;
}
@media (max-width: 74.9988em) {
	.i-do {
		padding-block: 5rem;
	}
}
.i-do__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	gap: 0.9375rem;
}
@media (max-width: 74.9988em) {
	.i-do__container {
		justify-content: center;
	}
}
@media (max-width: 47.9988em){
	.i-do__container {
			flex-wrap: wrap;
		}
}
.i-do__promo {
	flex: 0 1 40.0758%;
	 /* 529/1320 */
}
@media (max-width: 47.9988em) {
	.i-do__promo {
		flex: 1 1 100%;
	}
}
.i-do__head-promo {
	margin-block-end: 3.125rem;
	text-align: start;
}
.head-promo {}
.head-promo__title {}
.title {}
.title--color{
	color: var(--color-header);
}
.head-promo__text {}

.text {}
.text--margin p:not(:last-child){
	margin-block-end: 1rem;
}
.i-do__button {
	margin-block-end: 0.3125rem;
}
.button {}
.button--mobil {}
.i-do__details-block {
	flex: 0 0 49.0909%; /* 648/1320 */

	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
@media (max-width: 47.9375em){
	.i-do__details-block {
			flex-grow: 1;
}
}
.details-block {}

.details-block__item {
	padding: 2rem;
	border-radius: 0.375rem;
	background: #FFF;
	box-shadow: 0rem 2rem 6rem 0rem transparent;
	transform: translateY(0rem);

	border-left: 0.3125rem solid transparent;
	transition: border-left 0.3s, box-shadow 0.3s, transform 0.3s;
}
@media (any-hover: hover){
	.details-block__item:hover{
		border-left: 0.3125rem solid var(--btn-primary);
		transform: translateY(-0.0625rem);
		box-shadow: 0rem 2rem 6rem 0rem rgba(28, 25, 25, 0.16);

		transition: border-left 0.6s, box-shadow 0.5s, transform 0.5s;
	}
}
.details-block__title {
	font-size: 1.5rem;
	line-height: 1.0;

	margin-block-end: 1rem;
}
.details-block__subtext {
	color: #424E60;
	line-height: 1.33333;
}
.subtext {}

/* ------CLIENTS-------- */
.clients {
	padding-block: 6.25rem 3.125rem;
}
@media (max-width: 74.9988em){
	.clients {
			padding-block: 6rem 1.875rem;
		}
}
.clients__container {}
.clients__head-promo {
	max-width: 36.0625rem;
	margin-block-end: 1.5rem;
}
.head-promo {}
.head-promo__title {}
.title {}
.title--mobil{
	font-size: clamp(2.5rem, 1.5rem + 5vw, 3rem);
}
.head-promo__text {}
.text {}
.clients__names {
	display: flex;
	column-gap: 1.5rem;
	row-gap: 0.625rem;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.clients__name {
	flex: 0 0 15.1515%; /* 200/1320 */
	aspect-ratio: 200 / 200;
	padding: 0.0625rem 1.875rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	transform: scale(1);
	
	transition: transform 0.3s;
}
@media (max-width: 74.9988em){
	.clients__name {
			min-height: 4.375rem;
			aspect-ratio: 200 / 70;
	}
}
.clients__name img{
	width: 100%;
	height: auto;
	object-fit: contain;
	overflow: hidden;
	aspect-ratio: 140 / 58;

	filter: brightness(1);
	transition: filter 0.6s;
}
@media (any-hover: hover){
	.clients__name:hover{
		transform: scale(1.1);
		transition: transform 0.6s;
	}
	.clients__name img:hover{
		filter: brightness(0.5);
		transition: filter 0.6s;
	}
}
/* ----TESTOMONIAL----- */
.testimonial {
	padding-block-start: 3.125rem;
	margin-block-end: 6.25rem;
}
@media (max-width: 74.9988em) {
	.testimonial {
		margin-block-end: 3.125rem;
	}
}
.testimonial__container {
	text-align: center;

	position: relative;
}
.testimonial__container::after {
	content: "";
	width: 112.197%; /* 1481/1320 */
	aspect-ratio: 1;
	flex-shrink: 0;
	border-radius: 92.625rem;
	background: linear-gradient(182deg, rgba(255, 234, 198, 0.20) -157.44%, rgba(255, 234, 198, 0.14) 216.94%, rgba(255, 234, 198, 0.13) 216.94%);
	filter: blur(21.875rem);

	position: absolute;
	top: -44.8%;
	left: 50%;
	transform: translate(-50%);
	z-index: -1;
	text-align: center;
}
.testimonial__head-promo {}
.head-promo {}
.head-promo__title {}
.title {}
.title--color {}
.text--testimonial{
	max-width: 36.0625rem;
	margin-inline: auto;
	margin-block-end: clamp(1.875rem, 4vw + 1.075rem, 4.375rem);
	/* 70>30 1320>320 */
}
.head-promo__text {}
.text {}

.testimonial__blockquote {
	max-width: 54.5rem;
	margin-inline: auto;

	margin-block-end: 3.125rem;
}
.testimonial__quote{
		margin-block-end: 1.5rem;
}
.testimonial__quote p{
	color: #2B384C;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.33333;
}
.testimonial__author p{
	color: var(--color-black);
	font-family: Poppins;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.44444;

	margin-block-end: 0.5rem;
}
.testimonial__position p{
	color: var(--color-black);
	font-family: Poppins;
	font-weight: 300;
	line-height: 1.5;
}
.testimonial__slider {}
.slider {}
.slider__item {}
.active {}

/* ------CONTACT----------- */
.contact {
	background: #FFF;
}
.contact__container {}
.contact__area {
	background: #FFF;
	padding: 5.5rem;
	border-radius: 0.9375rem;
	box-shadow: 0rem 3.6875rem 7.75rem 0rem rgba(0, 0, 0, 0.12);
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 1.875rem;
	row-gap: 0.3125rem;
	flex-wrap: wrap;
	
	position: relative;
	z-index: 1;
}
@media (max-width: 74.9988em){
	.contact__area {
			padding: 2.75rem 1.25rem;
			justify-content: center;
		}
}
.contact__direct {
	flex: 0 1 42.0455%; /* 481/1144 */
}
@media (max-width: 47.9988em) {
.contact__direct {
		flex: 1 1 100%;
	}
}
.contact__head {
	margin-block-end: 2.1875rem;
}
.contact__title {
	font-size: clamp(1.875rem, 1.72rem + 0.78vw, 2.375rem);/* 38>30 1350>320 */
	line-height: 1.31579;

	margin-block-end: 1rem;
}
.contact__text {
	color: var(--color-label);
}
.contact__options {
	margin-block-end: clamp(0.625rem, 0.14rem + 2.43vw, 2.188rem); /* 35>10 1350>320 */
}
.contact__item-contact {
	padding: 1.5rem;
	border-radius: 0.625rem;
	background: transparent;
	box-shadow: 0rem 0.75rem 4rem 0rem transparent;
	transform: translateY(0rem);
	display: flex;
	gap: 0.8125rem;
	align-items: center;

	transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
}
@media (max-width: 29.9988em){
	.contact__item-contact {
			padding: 0.25rem;
		}
}
@media (any-hover: hover){
	.contact__item-contact:hover{
		background: #FFF;
		box-shadow: 0rem 0.75rem 4rem 0rem rgba(28, 25, 25, 0.12);
		transform: translateY(-0.0625rem);

		transition: background 0.6s, box-shadow 0.6s, transform 0.6s;
	}
}
.contact__item-contact:not(:last-child) {
	margin-block-end: 0.75rem;
}
.item-contact__icon{
	border-radius: 0.25rem;
	background: rgba(237, 216, 255, 0.50);
	padding: 0.75rem;

	transition: background 0.3s;
}
@media (any-hover: hover) {
	.contact__item-contact:hover .item-contact__icon {
		background: var(--btn-primary);

		transition: background 0.6s;
	}
}
.contact__item-contact .item-contact__icon svg path {
	transition: fill 0.3s;
}
@media (any-hover: hover) {
	.contact__item-contact:hover .item-contact__icon svg path{
		fill:white;
		transition: fill 0.6s;
	}
}
.item-contact__info {}
.item-contact__label {
	color: #424E60;
	font-size: 0.875rem;
	line-height: 1.42857;
}
.item-contact__text {
	color: var(--color-title);
	font-weight: 500;
	line-height: 1.5;

	transition: color 0.3s;
}
@media (any-hover: hover) {
	.item-contact__text:hover {
		color: var(--btn-primary);
		transition: color 0.6s;
	}
}
.contact__socials {}
@media (max-width: 29.9988em){
	.contact__socials {
		padding: 0.25rem;
	}
}
.socials {}
.socials__item {}
.socials__soc-icon {}
.soc-icon {}

/* -------- */
.contact__feedback {
	flex: 0 1 48.951%; /* 560/1144 */
}
@media (max-width: 47.9988em) {
	.contact__feedback {
		flex: 1 1 100%;
	}
}
.feedback {}
.feedback__text p {
	padding-block-start: 1.625rem;
	color: var(--color-label);

	margin-block-end: 3.125rem;
}
.feedback__form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	color: #697484;
	font-size: 1.125rem;
	line-height: 1.33333;
}
.feedback__part-form {}
.feedback__input,
.feedback__budget-input,
.feedback__subject-input {
	outline: none;
	padding-block-end: 0.875rem;
	border-bottom: 0.0625rem solid #E6E8EB;

	transition: border-bottom 0.3s;
}
@media (any-hover: hover){
	.feedback__part-form:hover .feedback__input,
	.feedback__budget-input:hover,
	.feedback__subject-input:hover {
		border-bottom: 0.0625rem solid var(--btn-primary);
	
		transition: border-bottom 0.5s ease 0s;
		}
}
.feedback__input::placeholder,
.feedback__budget-input::placeholder,
.feedback__subject-input::placeholder {
	color: var(--color-label);

	transition: color 0.3s;
}
@media (any-hover: hover){
	.feedback__part-form:hover .feedback__input::placeholder,
	.feedback__budget-input:hover::placeholder,
	.feedback__subject-input:hover::placeholder {
		color: var(--btn-primary);
	
		transition: color 0.5s ease 0s;
		}
}
.feedback__part-form--budget-subject {
	display: flex;
	gap: 1.5rem;
	flex-wrap: wrap;
}
.feedback__budget-input {
	flex-basis: calc(37.31% - 0.75rem);
}
.feedback__subject-input {
	flex-basis: calc(62.69% - 0.75rem);
}
@media (max-width: 29.9988em){
	.feedback__budget-input,
	.feedback__subject-input {
			flex: 1 0 100%;
		}
}
.feedback__input--message {
	resize: vertical;
	min-height: 1.5rem;

	margin-block-end: 1.625rem;
}
.feedback__button {
	display: inline-flex;
	gap: 0.75rem;

	padding: 0.75rem 1.5rem;
	border-radius: 0.25rem;
	background: var(--btn-primary);
	color: #fff;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5;

	text-decoration: transparent;
	text-shadow: 0.1875rem 0.1875rem 0.3125rem transparent;
	box-shadow: 0.1875rem -0.1875rem 0.1875rem transparent;

	transition: text-decoration 0.3s, text-shadow 0.3s, box-shadow 0.3s;
}
.feedback__part-form--button {
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin-block-end: 0.625rem;
}
@media (any-hover: hover){
	.feedback__part-form--button:hover .feedback__button {
		text-decoration: underline;
		text-shadow: 0.1875rem 0.1875rem 0.3125rem var(--color-black);
		box-shadow: 0.3125rem -0.3125rem 0.3125rem var(--color-black);

		transition: text-decoration 0.4s, text-shadow 0.4s, background 0.4s, box-shadow 0.5s;
	}
}

/* ----------FOOTER------------ */
.footer {
	background-color: #2B384C;
	padding-block: 12rem 5.125rem;
	margin-block-start: -5.5rem;
}
@media (max-width: 61.9988em){
	.footer {
			padding-block: 7.5rem 2.5rem;
			margin-block-start: -5.5rem;
		}
}
.footer__container {
	display: flex;
	justify-content: space-between;
	gap: 1.25rem;
	align-items: center;
	flex-wrap: wrap;

	min-height: 3.5rem;
}
@media (max-width: 27.5em){
	.footer__container {
			justify-content: center;
			gap: 1.875rem;
		}
}
.footer__logo {
	flex: 0 1 13rem;
	transform: translateY(0rem);
	transition: transform 0.3s;
}
@media (max-width: 58.125em){
	.footer__logo {
			order: 1;
			flex-basis: 50%;
		}
}
@media (max-width: 27.5em) {
	.footer__logo {
		flex-basis: 100%;
		justify-content: center;
	}
}
@media (any-hover: hover){
	.footer__logo:hover{
		transform: translateY(-0.125rem);
		transition: transform 0.6s;
	}
}
.logo {}
.logo__item {}
.logo__title {}
.logo__title--color {
	color: #fff;
	text-decoration: inherit;
	text-decoration-color: transparent;

	transition: text-decoration 0.3s, text-decoration-color 0.3s;
}
@media (any-hover: hover){
	.footer__logo:hover .logo__title--color{
		text-decoration: underline;
		text-decoration-color: inherit;

		transition: text-decoration 0.6s, text-decoration-color 0.6s;
	}
}
.footer__list {
	display: flex;
	column-gap: 1.5rem;
	row-gap: 0.375rem;
	flex-wrap: wrap;
	justify-content: center;

	color: #F0F1F3;
	line-height: 1.5;
}
@media (max-width: 58.125em) {
	.footer__list {
		order: 3;
		margin-inline: auto;
	}
}
.footer__item {}
.footer__link {}
@media (any-hover: hover) {
	.footer__link:hover {
		color: yellow;
		transition: color 0.5s;
	}
}
.footer__link::after {
	content: "";
	background-color: white;
}
@media (any-hover: hover) {
	.footer__link:hover {
		color: inherit;
		transition: color 0.5s, transform 0.5s;
	}
}
.footer__copy {
	justify-self: end;
	color: #FFF;
	line-height: 1.5;
}
@media (max-width: 58.125em) {
	.footer__copy {
		order: 2;
	}
}

/* ----------MEDIA---------- */
		@media (max-width:29.9988em) {
			.button--mobil,
			.outline-button--mobil {
				width: 100%;
			}
		}
