
@import url("reset.css");


@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Public+Sans:100,200,300,regular,500,600,700,800,900&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900"); */
/* @import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700"); */
/* @import url("https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap"); */
/* ------------------------------------------------------------------ */
:root {
	--btn-primary: #A53DFF;
	--btn-hover: blue;
	--color-hover: blue;
}
body {
	color: #556070;
	font-family: "Work Sans", serif;
}
.wrapper{
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}
.wrapper>main{
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 84.375rem; /* 1350/16 */
	margin-inline: auto;
	padding-inline: 0.9375rem; /* 15/16 */
}
[class*="__title"] {
	color: #132238;
}

/* -----HEADER------ */
.header {
	color: #333;
	background-color: #fff;

	position: sticky;
	top: 0;
	left: 0;
	z-index: 50;
}
@media (max-width:61.9988em) {
	.header {
		padding-block-end: 1.25rem; /* 20/16 */
	}
}
.header__container {
	display: grid;
	grid-template-columns: 1fr auto auto;
	align-items: center;
	column-gap: 1.5rem; /* 24/16 */
	row-gap: 0.1875rem; /* 3/16 */

	min-height: 6rem; /* 96/16 */
	padding-block: 0.3125rem; /* 5/16 */
}
@media (max-width:47.9988em /* 767.98/16 */){
.header__container {
		column-gap: 0.3125rem; /* 5/16 */
	}
}
.header__logo {
	display: flex;
	column-gap: 0.75rem; /* 12/16 */
	align-items: center;

	position: relative;
	z-index: 5;
}
@media (max-width:61.9988em) {
.header__logo {
		column-gap: 0.3125rem; /* 5/16 */
	}
}
.logo-header {}
.logo-header__item {
	font-family: "Poppins", serif;
	color: #FFF;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 2.33333;

	flex: 1 0 3.5rem; /* 56/16 */
	height: 3.5rem; /* 56/16 */
	background-color: var(--btn-primary);
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.logo-header__title {
	flex-basis: 100%;
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.25;
}
@media (max-width:24.375em){
.logo-header__title {
		font-size: clamp(1rem, -3.571rem + 22.86vw, 2rem);/* 16>32 390>320 */
	}
}
.header__menu {}
.menu {}
.menu__body {}
.menu__list {
	display: grid;
	grid-template-columns: repeat(6, auto);
	column-gap: 3rem; /* 48/16 */
	row-gap: 0.1875rem; /* 3/16 */
}
@media (max-width:61.9988em /* 991.98/16 */){
	.menu__list {
			column-gap: 0.75rem; /* 12/16 */
		}
}
.menu__item {}
.menu__link {
	font-weight: 500;
	line-height: 1.5;
}
.menu__link::before,
.menu-footer__link::after {
	content: "";
	width: 0;
	height: 0.125rem; /* 2/16 */
	background-color: var(--btn-hover);

	position: absolute;
	left: 50%;
	bottom: 0;

	transform: translateX(-50%);

	transition: width 0.3s;
}
@media (any-hover: hover) {
	.menu__link:hover,
	.menu-footer__link:hover {
		color: var(--color-hover);
		transform: translateY(-0.1875rem);
		transition: color 0.5s, transform 0.5s;
	}
	.menu__link:hover::before,
	.menu-footer__link:hover::after {
		width: 100%;
		transition: width 0.5s ease-in-out;
	}
}
.header__action {
	display: flex;
	gap: 0.625rem; /* 10/16 */

	position: relative;
	z-index: 5;
}
.action-header {}
.button {
	color: #FFF;
	background-color: var(--btn-primary);
	font-weight: 600;
	line-height: 1.5;
	border-radius: 0.25rem;
	/* 4/16 */
	overflow: hidden;
	text-align: center;
	padding: 0.75rem 1.5rem;
}
.button--menu{
	position: relative;
}
.button,
.outline-button {
	text-decoration: underline;
	text-decoration-color: transparent;
	text-shadow: 0rem 0rem 0rem transparent;
	box-shadow: 0rem 0rem 0rem transparent;
	transform: translateY(0rem);
	
	transition: text-decoration 0.3s, text-decoration-color 0.3s, text-shadow 0.3s, box-shadow 0.3s, transform 0.3s;
}
@media (any-hover: hover) {
	.button:hover,
	.outline-button:hover {
		background-color: var(--btn-hover);
		text-decoration: underline;
		text-decoration-color: inherit;
		text-shadow: 0.125rem -0.1875rem 0.0625rem #000;
		box-shadow: 0.125rem -0.125rem 0.0625rem #000;
		transform: translateY(0.1875rem);

		transition: background-color 0.5s, text-decoration 0.5s, text-decoration-color 0.5s,
			text-shadow 0.5s, box-shadow 0.3s, transform 0.5s;
	}
}
.button::before {
	content: "";
	position: absolute;
	top: 0;
	left: -25%;
	width: 30%;
	height: 150%;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.6));
	transform: skew(-30deg) translate(-100%, -25%);
	will-change: left;
}
@media (any-hover: hover) {
	.button:hover::before {
		left: 150%;
		transition: left 1s;
	}
}
.action-header__icon {}


/* ----MENU-BURGER----- */

.icon-burger {
	display: none;
}
@media (max-width:48.0613em /* 768.98/16 */){
	.icon-burger {
		flex-basis: 2.5rem; /* 40/16 */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;

		padding-inline: 0.625rem; /* 10/16 */
		border-radius: 0.3125rem; /* 5/16 */
		background-color: var(--btn-primary);
		}
	.icon-burger span {
		margin-block: 0.375rem; /* 6/16 */
	}
	.icon-burger::before,
	.icon-burger::after,
	.icon-burger span {
		content: "";
		height: 0.125rem; /* 2/16 */
		width: 1.25rem; /* 20/16 */
		background-color: #fff;

		transition: all 0.3s;
	}
	.menu__body{
		inset-inline-start: 100%;
		inset-block-start: 0;
		inline-size: 100%;
		block-size: 100svh;
		background-color: var(--btn-primary);
		padding: 6.25rem 0.9375rem 1.875rem;
		
		overflow: auto;
		
		position: fixed;
		z-index: 4;
		
		transition: inset-inline-start 0.3s;
	}
	.menu__body::before {
		content: "";
		block-size: 5rem;
		inline-size: 100%;
		inset-inline-start: 100%;
		inset-block-start: 0;

		position: fixed;
		z-index: 3;

		background-color: var(--btn-primary);

		transition: inset-inline-start 0.3s
	}
	.menu__list {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		border: none;
		background-color: transparent;

		row-gap: 1.875rem;
	}
	.menu__link {
		font-size: 1.75rem; /* 28/16 */
		padding: 0;
		border-bottom: 0.0625rem solid #fff;
		color: #fff;
	}
	.open-menu .menu__body,
	.open-menu .menu__body::before {
		inset-inline-start: 0;
	}
	.open-menu .icon-burger span {
		width: 0;
		height: 0;
		margin: 0;
	}
	.open-menu .icon-burger::before {
		transform: rotate(45deg) translateY(0.0938rem);
	}
	.open-menu .icon-burger::after {
		transform: rotate(-45deg) translateY(-0.0938rem);
	}
	.open-menu body {
		overflow: hidden;
	}
	.open-menu .action-header__button {
		background-color: #fff;
		color: var(--color-hover);
	}
	.open-menu .logo-header__item{
		background-color: #fff;
		color: var(--color-hover);
	}
	.header__action {
		gap: 0.3125rem;
	}
}


/* ----------MAIN--------------- */
.main {
	padding-block-start: 7.875rem; /* 126/16 */
}
@media (max-width:61.9988em) {
.main {
		padding-block-start: 1.25rem;
	}
}
.personal-portfolio {}
.personal-portfolio__body{
	max-width: 84.375rem;
	margin-inline: auto;

	position: relative;
}
.personal-portfolio__body::after {
	content: "";
	width: 65.2698rem;
	height: 65.2698rem;
	transform: rotate(-130.444deg);
	flex-shrink: 0;
	border-radius: 65.2698rem;
	background: rgba(196, 245, 233, 0.70);
	filter: blur(18.75rem);

	position: absolute;
	top: 11.4462%; /* 186/1625 */
	left: 97.7778%; /* 1320/1350 */

	z-index: -1;
}
.personal-portfolio__body::before {
	content: "";
	width: 33.8125rem;
	height: 14.125rem;
	transform: rotate(-30deg);
	flex-shrink: 0;
	border-radius: 33.8125rem;
	background: linear-gradient(182deg, #FFDFA8 -157.44%, rgba(255, 226, 176, 0.96) -157.4%, rgba(255, 234, 198, 0.67) 216.94%, rgba(250, 211, 144, 0.80) 216.94%);
	filter: blur(6.25rem);

	position: absolute;
	bottom: 2%;
	left: -29.5%;

	z-index: -1;
}
.hero {
		padding-block-end: 0.625rem; /* 10/16 */
		margin-block-end: 13.25rem; /* 212/16 */
}
@media (max-width:1199.98px){
	.hero {
			margin-block-end: 3.75rem; /* 60/16 */
		}
}
.hero__container {
	display: flex;
	justify-content: space-between;
	gap: 1.25rem;

	position: relative;
}
@media (max-width:45.1875em){
	.hero__container {
			flex-wrap: wrap;
			justify-content: center;
		}
}
.hero__container::after {
	content: "";
	width: 66.001%;
	/* 871.213/1320 */
	height: 54.4508rem;
	transform: rotate(-130.444deg);
	flex-shrink: 0;
	border-radius: 54.4508rem;
	background: rgba(218, 77, 241, 0.40);
	filter: blur(18.75rem);

	position: absolute;
	/* top: 845px; */
	top: -132.2482%;
	left: 79%;
	z-index: -1;
}
.hero__promo {
	flex: 0 1 49.0909%; /* 648/1320 */
	padding-block-start: 3.25rem; /* 52/16 */
}
@media (max-width:66.3125em) {
	.hero__promo {
		flex: 1 1 100%;
		padding-block-start: 0.3125rem; /* 5/16 */
	}
}
.hero__head-promo {}
.hero__title {
	font-size: 4.5rem;
	font-weight: 600;
	line-height: 1.16667;

	margin-block-end: 1.5rem; /* 24/16 */
}
@media (max-width:75.875em){
	.hero__title {
	font-size: clamp(2.5rem, 5svw, 4.5rem);
		}
}
.hero__text {
	margin-block-end: 1.5rem; /* 24/16 */
	
}
.hero__text strong{
	color: #132238;
	position: relative;

}
.hero__text strong::after {
	content: "";
	width: 100%;
	height:6px;
	background-color: #FFC8C8;
	position: absolute;
	left: 50%;
	bottom: 2px;
	z-index: -1;
	
	transform: translateX(-50%);

}
.text{
	font-size: 1.125rem; /* 18/16 */
	line-height: 1.33333;
}
.hero__button {
	margin-block-end: 8.875rem; /* 142/16 */
}
@media (max-width:78.1875em) {
.hero__button {
		margin-block-end: 1.5625rem; /* 25/16 */
	}
}
.button {}

.hero__achievements {
	display: flex;
	column-gap: 0.0938rem; /* 1.5/16 */
	row-gap: 0.1875rem; /* 3/16 */
	text-align: center;
	flex-wrap: wrap;
}
@media (max-width:57.25em){
	.hero__achievements {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		}
}
.hero__achievement-item {}
.achievement-item {
	border-radius: 0.375rem;
	border: 0.0625rem solid #FFF;
	background: rgba(237, 216, 255, 0.50);
	padding: 1rem 0.75rem;
	text-align: center;
}
@media(max-width:57.25em) {
	.achievement-item {
		padding-block: 0.1875rem;
	}
}
.achievement-item:nth-child(3n+1) {
	flex-basis: 32.716%; /* 212/648 */
}
.achievement-item:nth-child(3n+2) {
	flex-basis: 33.9506%; /* 220/648 */
}
.achievement-item:nth-child(3n+3) {
	flex-basis: 32.0988%; /* 208/648 */
}
.achievement-item__count {
	color: #424E60;
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.25;

	margin-block-end: 0.5rem; /* 8/16 */
}
@media(max-width:916px) {
	.achievement-item__count {
		font-size: 1.25rem;
		margin-block-end: 0.0625rem;
	}
}
.hero__achievement-item p{
	color: #697484;
	line-height: 1.5;
}
.hero__visual {
	aspect-ratio: 536/636;
	flex: 0 0 40.6061%; /* 536/1320 */
	max-height: 39.75rem;
	background-color: #FFF;
	box-shadow: 0rem 1.5rem 7.25rem 0rem rgba(43, 56, 76, 0.09);
	border-radius: 1.5625rem;/* 25/16 */
}
@media(max-width:48.0613em) {
	.hero__visual {
		flex: 0 1 80%;
	}
}
@media(max-width:34.375em) {
	.hero__visual {
		flex: 0 1 100%;
	}
}
.visual {
	display: flex;
	justify-content: center;
	align-items: start;
	align-self: center;
}
.visual img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* ----DESIGNER----- */

.designer {
	background-color: #FFFFFF;
	border-radius: 16px;
	box-shadow: 0px 36px 105px 0px rgba(43, 56, 76, 0.10);

	padding: 7rem; /* 112/16 */

	position: relative;
	z-index: 2;
}
@media (max-width:74.9988rem) {
	.designer {
			padding: 0.9375rem; /* 15/16 */
		}
}
.designer__container {
	display: flex;
	justify-content: space-between;
	column-gap: 1.25rem; /* 20/16 */
	row-gap: 0.1875rem; /* 3/16 */
}
@media(max-width: 723px) {
	.designer__container {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}
.designer__body-visual{
	flex: 0 0 38.6861%; /* 424/1096 */
	column-gap: 1.25rem; /* 20/16 */
	row-gap: 0.1875rem; /* 3/16 */

	text-align: center;
}
@media(max-width:45.1875rem) {
	.designer__body-visual {
		flex: 0 1 80%;
		order: 2;
	}
}
@media(max-width:34.375em) {
	.designer__body-visual {
		flex: 0 1 100%;
	}
}
.designer__visual {
	aspect-ratio: 424/468;
	flex: 1 0 32.1212%; /* 424/1320 */
	background-color: #F0F1F3;
	border-radius: 0.625rem; /* 10/16 */
}
.visual {}
.designer__socials {
	transform: translateY(-50%);
}
.socials {
	padding: 0.75rem; /* 12/16 */
	border-radius: 0.25rem; /* 4/16 */
	background: #FFF;
	box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);
	
	display: inline-flex;
	align-items: center;
}
.socials__soc-icon {}
.soc-icon {
	padding: 0.9375rem; /* 15/16 */
	border-radius: 0.25rem; /* 4/16 */
	
	width: 48px;
	height: 48px;
	/* flex: 0 0 3rem; */
	background-color: transparent;
	fill: transparent;
	
	transition: background-color 0.3s, fill 0.3s;
}
.soc-icon img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.soc-icon--behance {}
@media (any-hover: hover) {
	.socials__soc-icon:hover,
	.socials__soc-icon:hover svg path {
		background-color: var(--btn-primary);
		fill: #fff;

		transition: background-color 0.5s, fill 0.5s;
	}
}
.designer__promo {
	padding-block-start: 4.875rem; /* 78/16 */

	flex: 0 1 48.9051%; /* 536/1096 */
}
@media (max-width:74.9988rem) {
	.designer__promo {
			padding-block-start: 0.625rem; /* 10/16 */
			flex: 1 1 48.9051%;
		}
	}
@media(max-width:45.1875em) {
	.designer__promo {
		order: 1;
	}
}
.designer__head-promo {}
.designer__title {
	font-size: 2.375rem; /* 38/16 */
	font-weight: 600;
	line-height: 1.31579;

	margin-block-end: 2rem; /* 32/16 */
}
@media (min-width:723px) and (max-width:1199.98px){
	.designer__title {
		font-size: clamp(2rem, 0.992rem + 2.23vw, 2.375rem);/* 32>38 991.98>723 */
	}
}
@media (min-width:320px) and (max-width:479.98px) {
	.designer__title {
		font-size: clamp(1.875rem, 0.875rem + 5vw, 2.375rem);/* 38>30 479.98>320 */
	}
}
.designer__text {
	margin-block-end: 2rem;
		/* 32/16 */
}
.designer__text p:not(:last-child){
	margin-block-end: 16px;
}
.text{}
.designer__actions {
display: inline-flex;
flex-wrap: wrap;
align-items: center;
column-gap: 0.75rem; /* 12/16 */
row-gap: 0.625rem; /* 10/16 */
padding-block-end: 0.9375rem; /* 15/16 */
}
@media (max-width:29.9988em) {
	.designer__actions {
			display: flex;
		}
}
.designer__button {
	flex: 0 0 auto;
}
@media (max-width:29.9988em) {
	.designer__button {
			flex: 1 0 100%;
		}
}
.button {}
.designer__outline-button {}
@media (any-hover: hover) {
	.outline-button:hover {
		background-color: lightgoldenrodyellow;
		text-shadow: 0px 0px 0px transparent;
	}
}
@media (max-width:29.9988em) {
	.designer__outline-button {
		display: flex;
		justify-content: center;
		flex: 1 0 100%;
		align-self: center;
	}
}
.designer__outline-button::before {
	content: "";
	background: url('../img/portfolio_designer-download-icon.svg') 0 0 / 100% no-repeat;
	width: 1.5rem;
			/* 24/16 */
	height: 1.5rem;
			/* 24/16 */
	min-height: 1.5rem;
			/* 24/16 */
	
}
.outline-button {
	font-weight: 600;
	line-height: 1.5;
	padding: 0.75rem 1.5rem;
	border-radius: 0.25rem; /* 4/16 */
		/* 4/16 */
	border: 0.0625rem solid var(--btn-primary);
	color: var(--btn-primary);

	flex: 0 0 auto;
	display: inline-flex;
	gap: 12px;
	justify-content: center;
}
/* ----------WORK----------- */
.work {
	margin-block-start: -112px;
	padding-block: 248px 140px;
	background-color: #F0F1F3;

}
@media (max-width:74.9988em) {
	.work {
		padding-block: 200px 70px;
	}
}
.work__container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
}
.work__head-promo {
	padding-block-start: 180px;

	flex: 0 0 40.0758%; /* 529/1320 */
}
@media (max-width:767.98px){
.work__head-promo {
		padding-block-start: 10px;
		flex: 1 0 100%;
	}
}
.title {
	font-size: 48px;
	font-weight: 600;
	line-height: 1.16667;
}
.work__title {
	margin-block-end: 24px;
}
@media (max-width: 1199.98px) {
	.work__title {
		font-size: clamp(2.5rem, 2.318rem + 0.91vw, 3rem);/* 48>40 1199.98>320 */
	}
}
.work__text p{
	color: #697484;
}
.work__text p:not(:last-child){
	margin-block-end: 16px;
}
.text {}
/* ------------- */
.work__cards {
	flex: 0 0 49.0909%; /* 648/1320 */

	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 24px;
}
@media (max-width:1199.98px) {
	.work__cards {
		flex: 1 0 49.0909%;
	}
}
@media (max-width:479.98px) {
	.work__cards {
			grid-template-columns: 1fr;
			row-gap: 24px;
		}
}
@media (min-width:479.98px){
.work__card:nth-child(even){
	margin-block-start: 24px;
}
}
@media (min-width:476.98px) {
.work__card:nth-child(odd) {
	margin-block-end: 24px;
}
}
.card-work{
		padding: 32px;
		border-radius: 12px;
		background-color: #fff;
		box-shadow: 32px 32px 124px 0px rgba(43, 56, 76, 0.10);
}

.card-work__icon {
	height: 4.5rem;
	display: inline-block;
	padding: 20px;
	border-radius: 6px;
	background-color: rgba(237, 216, 255, 0.50);
	fill: #000;
	transform: translateY(0);

	margin-block-end: 32px;

	transition: background-color 0.3s, transform 0.3s, fill 0.3s;
}

@media (any-hover: hover) {
	.card-work__icon:hover,
	.card-work__icon:hover svg path {
		background-color: var(--btn-primary);
		fill: white;
		transform: translateY(-1px);
		transition: background-color 0.5s, transform 0.5s, fill 0.4s;
	}
}
.card-work__title {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;

	margin-block-end: 12px;
}
.card-work__text {
	font-size: 16px;
	line-height: 1.5;
}
/* -------PORTFOLIO----------- */
.portfolio {
	padding-block: 100px 100px;
}
.portfolio__container {}
.head-promo{
	margin-inline: auto;
	text-align: center;
}
.portfolio__head-promo {
	max-width: 577px;
}
.head-promo__title {}
.title {}
.head-promo__text {
	color: #87909D;
	margin-block-end: 70px;
}
.text {}

.portfolio__cards {
	grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));

	margin-block-end: 50px;
}
@media (max-width:683px){
	.portfolio__cards {
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		}
}
.cards {
	display: grid;
	column-gap: 24px;
	row-gap: 32px;
	justify-content: center;
	align-items: center;
}
.cards__card {
	justify-items: center;
}
.card {}
.card__image {
	aspect-ratio: 424 / 248;
	max-width: 424px;
}
.card__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px 8px 0px 0px;
	overflow: hidden;

	transform: scale(1);
	transition: transform 0.3s;
}
@media (any-hover: hover) {
	.cards__card:hover .card__image img:hover {
		transform: scale(1.05);
		transition: transform 0.6s;
	}
}
.card__description {
	padding: 32px;
}

.card__label {
	color: #87909D;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.33333;

	margin-block-end: 4px;
}
.card__title {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.33333;

	margin-block-end: 12px;
}
.card__text {
	font-size: 14px;
	line-height: 1.42857;

	margin-block-end: 20px;
}
.card__outline-button {}
.card__outline-button::after {
	content: "";
	background: url('../img/portfolio_case-arrow-icon.svg') 0 0 / 100% no-repeat;
	width: 1.5rem;
			/* 24/16 */
	height: 1.5rem;
			/* 24/16 */
	min-height: 1.5rem;
			/* 24/16 */
}
.outline-button {}
.portfolio__button {
	display: flex;
	justify-self: center;
	justify-content: center;
}

.button {}

.button--mobil {}

/* --------DISCUSS PROJECT-------- */
.discuss-project {
	padding-block: 100px;
	background-color: #132238;
}
.discuss-project__container {
	max-width: 40.6875rem;
	margin-inline: auto;
	text-align: center;
}
.discuss-project__title {
	font-size: clamp(1.75rem, 1.35rem + 2vw, 3rem);/* 48>28 1320>320 */
	margin-block-end: 2rem;
}
.title {}
.title--color {
	color: #FFF;
}
.discuss-project__text {
	max-width: 36.3125rem;
	margin-block-end: 2rem;
}
.text {}

.discuss-project__button {
	display: flex;
	gap: 12px;
	align-items: center;
	justify-self: center;
	justify-content: center;
}

.discuss-project__button::after {
	content: "";
	background: url('../img/portfolio_discuss-arrow-icon.svg') 0 0 / 100% no-repeat;
	width: 0.8125rem; /* 13/16 */
	height: 0.75rem; /* 12/16 */
	min-height: 0.75rem; /* 12/16 */
}
.button {}

.button--mobil {}

/* ---------BLOG---------- */
.blog {
	padding-block: 100px;
}
.blog__container {}
.blog__head-promo {
	max-width: 540px;
}
.head-promo {}
.head-promo__title {
	font-family: "Poppins", serif;

	margin-block-end: 24px;
}
.title {}
.head-promo__text {
	font-family: "Public Sans", serif;
	line-height: 1.44444;
}
.text {}

.blog__cards {
	display: grid;
	grid-template-columns: repeat(4, minmax(290px, 1fr));
	overflow: auto;
	margin-block-end: 24px;
	justify-content: start;
	grid-auto-flow: column;
	}

	/* @media (max-width:827px) {
		.blog__cards {
			grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
		}
	} */
.cards {}
.cards__card {}
.card {}
.card__image{}
.card__image--size {
	aspect-ratio: 312 / 226;
	max-width: 312px;
}
.card__description--padding {
	padding: 24px;
}
.card__date{
	margin-block-end: 8px;
}
.card__label {}
.card__title {}
.card__title--font-weigh{
	font-weight: 500;
}

.blog__button {}

.button {}

.button--mobil {}
/* ----------FOOTER------------ */




/* ----------MEDIA---------- */
		@media (max-width:29.9988em) {
			.button--mobil,
			.outline-button--mobil {
				width: 100%;
			}
		}
