/* 1 Метод: Підключення через https: //fonts.google.com/ :*/

/* Work Sans*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;1,500&display=swap'); 

/* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,700;1,9..40,700&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');

/* 2 Метод: Підключення через плагін в VScode:*/

/* Work Sans */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600");

/* DM Sans */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,700");

/* Roboto */
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,900");

/* Poppins */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600");

/* 3 Метод: Підключення напряму:*/
@import url("fonts.css");

/* ------------------------------------------------------------------ */

@import url("reset.css");

/* ------------------------------------------------------------------ */

body {
	font-family: Arial, Helvetica, sans-serif;

}
h1{
	font-size: 36px;
	font-weight: 950;
	text-align: justify;
	font-style: oblique;
	color: violet;
	text-transform: lowercase;
	letter-spacing: 2px;

}

h2,
.designer h2{
	font-size: 30px;
	font-weight: 900;
	text-align: center;
	font-style: italic;
	color: rgb(255, 51, 51);
	text-decoration-line: underline;
	text-decoration-style: double;
	line-height: 1.8;
}

h3 {
	font-size: 24px;
	font-weight: 800;
	text-align: center;
	color: #091a79;
	line-height: 1.5;
}
h4 {
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: #18b5a4;
	font-weight: 600;
}
a {
	text-decoration: underline;
}
mark {
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 600;
	text-decoration: underline;
	font-style: italic;
	text-decoration-color: red;
	text-decoration-style: wavy;
}
span {
	font-weight: 600;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: 5px;
}
.subject {
	font-size: 20px;
	font-weight: 700;
	text-decoration: line-through;
	text-decoration-style: double;
}
.subject p {
	font-size: 15px;
	font-weight: 100;	
	font-style: normal;
	text-align: right;
	
}
[class*="-text"] {
	color: rgb(80, 80, 80);

}

.laba-title {
	word-spacing: 15px;
}

.subtitle-text {
	text-transform: uppercase;
	line-height: 1.2;
	letter-spacing: 1.5px;
}
.subtitle-text span {
	text-decoration-thickness: 5px;
	text-decoration-color: #18b5a4;
	font-weight: 600;
}
.laba-marketing h3,
.laba-title h3 {
	text-shadow: 5px 5px 4px #FF0000, 6px -7px 6px #1e031e;
	color: #18b5a4;
}
.marketing-text {
	text-transform: capitalize;
	line-height: 1.5;
}
.laba-bestlinks h3{
	text-shadow: 7px -7px 5px #18b5a4;
}


.fonts *,
.contacts span,
.designer-title h2 {
text-decoration: none;
}
.designer {}

.designer-title {
	font-family: "Work Sans";
	font-weight: 600;
	font-size: 38px;
	line-height: 50px;
	color: var(--Gray-900, #132238);
	}

.designer-title h2,
.about-title h2,
.introduce-title h2{
	color: #000;
}
.designer-text p{
	font-family: "Work Sans";
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #556070;
}
.designer-text span{
	font-family: "Poppins";
	font-weight: 500;
}
.about-title {
	font-family: "DM Sans";
	font-weight: 700;
	font-size: 88px;
	line-height: 95px;
	color: #1E1B39;
}
.about-text p{
	font-family: "DM Sans";
	font-weight: 400;
	font-size: 24px;
	line-height: 42px;
	color: #474464;
}
.about-text span{
	font-family: "Poppins";
	font-weight: 600;
}

.introduce-title {
	font-family: "Roboto";
	font-weight: 500;
	font-size: 50px;
	line-height: 66px;
	letter-spacing: 1px;
	color: #091133;
}
.introduce-text p{
	font-family: "Roboto";
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	color: #505F98;
}
.introduce-text mark{
	font-family: "Roboto";
	font-weight: 900;
}


