
@import url("reset.css");

@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700&display=swap");
/* ------------------------------------------------------------------ */
body {}

.wrapper{
	min-height: 100%;
	overflow: clip;
	background: url("../img/backgraund/white_1.webp") repeat fixed;
}
.header {
	font-family: "Caveat", serif;
	margin-block-end: 10px;
}
.header__container {
	max-width: 100%;
	margin-inline: auto;
	padding: 15px;
}
.header__title {
	font-size: 90px;
	font-weight: 700;
	color: #ff0000;
	text-align: center;
	background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 61, 0.8855917366946778) 31%, rgba(0, 255, 226, 1) 100%);
	border: 3px solid #000;
	border-radius: 100px;
	text-decoration: underline;
	text-decoration-thickness: 5px;
	text-shadow: 5px 5px 3px #111111;
	padding-block: 20px;
	margin-block-end: 15px;
}
.header__list {
	font-size: 36px;
	font-weight: 500;
}
.header__item-list {
	position: relative;
	padding-inline-start: 36px;
	min-height: 24px;
	vertical-align: middle;
}
.header__item-list:not(:last-child) {
	margin-block-end: 15px;
}

.header__item-list::before{
	content: "";
	background: url("../img/bisnes_search_icon.png") 0 0 /24px no-repeat;
	block-size: 24px;
	inline-size: 24px;

	position: absolute;
	inset-inline-start: 0;
	inset-block-start: 20%;
	/* transform: translateY(-50%); */
	
}
.header__item-list a:hover{
	color: white;
	transition: all 0.8s ease 0s;
}
.header__item-list:hover::before{
	transition: all 0.8s ease 0s;
	transform: scale(1.5);
	pointer-events: all;
}
/* .header__item-list a:visited {
	color: blueviolet;
	text-decoration-style: underline;
} */

[class*="__container"]{
	max-width: 100%;
	margin-inline: auto;
	padding: 15px;
}
span{
	background-color: bisque;
}
.main {}
.main__container {}
.main__practice {}
.practice {
	font-family: "Manrope", serif;
}
.practice__container {
	
}
.text {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.3;
}
.text p{
	margin-block-end: 15px;
}
.practice__subtitle,
.two-d-transform__subtitle,
.three-d-transform__subtitle {
	font-size: 36px;
	font-weight: 700;
	text-transform: capitalize;
	text-decoration: underline;
	color: red;
	text-shadow: 2px -2px 2px #111111;
	margin-block-end: 20px;
}
.practice__title,
.homework__title {
	font-size: 60px;
	font-weight: 700;
	text-align: center;
	color: #ff0000;
	text-shadow: 5px -5px 1px #111111;
	margin-block-end: 15px;
}
.practice__two-d-transform {}

.two-d-transform {}
.two-d-transform__container{
	max-width: 1440px;
}
.two-d-transform__title,
.three-d-transform__title {
	font-size: 40px;
	font-weight: 500;
	text-align: center;
	color: blue;
	text-decoration: underline;
	text-shadow: 2px -2px 1px #111111;
	margin-block-end: 15px;
}
.two-d-transform__cards {}

.cards {
	font-size: 0;
	margin-inline: -25px;

}
.cards__card {}

.card {
	display: inline-block;
	max-width: 14.2857142857%;
	padding-inline: 25px;

	vertical-align: top;
}
.card__content-card {
	margin-block-end: 15px;

}
.content-card {
	font-size: 16px;
	width: 200px;
	height: 200px;
	background-color: blue;
	border: 1px solid #000;
	border-radius: 10px;
}

.content-card__subcard-translate-xy,
.content-card__subcard-translate-x,
.content-card__subcard-scale-xyless,
.content-card__subcard-scale-xymore,
.content-card__subcard-scale-n,
.content-card__subcard-rotate,
.content-card__subcard-rotate-x,
.content-card__subcard-rotate-y,
.content-card__subcard-origin,
.content-card__subcard-skew,
.content-card__subcard-matrix,
.content-card__subcard-new-translate,
.content-card__subcard-new-scale,
.content-card__subcard-new-rotate {
	max-width: 200px;
	height: 200px;
	background: yellow;
	border: 1px solid #000;
	border-radius: 10px;
	box-shadow: 5px -5px 3px #000;
}

.card__content-card:hover .content-card__subcard-translate-xy,
.card__content-card:hover .content-card__subcard-translate-x,
.card__content-card:hover .content-card__subcard-scale-xyless,
.card__content-card:hover .content-card__subcard-scale-xymore,
.card__content-card:hover .content-card__subcard-scale-n,
.card__content-card:hover .content-card__subcard-rotate,
.card__content-card:hover .content-card__subcard-rotate-x,
.card__content-card:hover .content-card__subcard-rotate-y,
.card__content-card:hover .content-card__subcard-origin,
.card__content-card:hover .content-card__subcard-skew,
.card__content-card:hover .content-card__subcard-matrix,
.card__content-card:hover .content-card__subcard-new-translate,
.card__content-card:hover .content-card__subcard-new-scale,
.card__content-card:hover .content-card__subcard-new-rotate {
	color: blue;
	transition: all 0.8s ease 0s;
}
.card__content-card:hover .content-card__subcard-translate-xy {
	transform: translate(10%, 10%);
}
.card__content-card:hover .content-card__subcard-translate-x {
	transform: translate(0, 10%);
}
.card__content-card:hover .content-card__subcard-scale-xyless {
	transform: scale(1.5, 1.5);
}
.card__content-card:hover .content-card__subcard-scale-xymore {
	transform: scale(1.3, 1.3);
}
.card__content-card:hover .content-card__subcard-scale-n {
	transform: scale(0.7);
}
.card__content-card:hover .content-card__subcard-rotate {
	transform: rotate(30deg);
}
.card__content-card:hover .content-card__subcard-rotate-x {
	transform: rotateX(120deg);
}
.card__content-card:hover .content-card__subcard-rotate-y {
	transform: rotateY(180deg);
}
.card__content-card:hover .content-card__subcard-origin {
	transform-origin: 0 0;
	transform: rotate(360deg);
}
.card__content-card:hover .content-card__subcard-skew {
	transform: skew(-20deg, 0deg);
}
.card__content-card:hover .content-card__subcard-matrix:hover {
	transform: translate(20%, 20%) scale(0.5) rotate(30deg) skew(20deg, 20deg);
}
.card__content-card:hover .content-card__subcard-new-translate:hover {
	translate: 10% 0%;
}
.card__content-card:hover .content-card__subcard-new-scale:hover {
	scale: 2 1;
}
.card__content-card:hover .content-card__subcard-new-rotate:hover {
	rotate: 70deg;
}

.content-card__text,
.content-card-three__text {
	text-align: center;
	
}
.content-card__text p,
.content-card-three__text p{
	font-size: 100px;
	font-weight: 900;
	text-transform: uppercase;
	text-shadow: 4px -4px 2px #111111;
	padding-block: 15px;
}
.content-card__subtitle,
.content-card-three__subtitle {
	font-size: 18px;
	font-weight: 700;
	padding: 5px;
}

/* ------3D----------- */

.practice__three-d-transform {}

.three-d-transform {}

.three-d-transform__container {}

.three-d-transform__title {}

.three-d-transform__subtitle {}

.three-d-transform__text {}

.text {}
.three-d-transform__perspective-block {
	perspective: 300px;
	perspective-origin: center;

	max-width: 250px;
	height: 250px;
	background-color: gray;
	border: 1px solid #000;
	border-radius: 10px;
	margin-block-end: 30px;
	box-shadow: 7px -7px 3px #000;
}

.three-d-transform__perspective-item {
	transform: rotateX(50deg);

	font-size: 30px;
	text-align: center;
	font-weight: 700;
	width: 250px;
	height: 250px;
	background-color: darkmagenta;
	color: black;
	border: 1px solid #000;
	border-radius: 10px;
	box-shadow: 7px -7px 3px #000;
	padding: 15px;
}
/* ----------cards-three d--------------- */
.three-d-transform__cards-three {
	margin-block-end: 30px;
}
.cards-three__container{
	max-width: 1140px;
	text-align: center;
}
.cards-three {
	font-size: 0;
	margin-inline: -15px;
}
.cards-three__card-three {}
.card-three {
	display: inline-block;
	max-width: 25%;
	padding-inline: 15px;

	vertical-align: top;
}
/* ----батько елемента з perspective-origin та transform-style */
.card-three__content-card-three {
	perspective: 300px;
	perspective-origin: center;
	transform-style: preserve-3d;
	background-color: rgba(128, 128, 128, 0.8);

}
.content-card-three {
	font-size: 16px;
	width: 210px;
	height: 210px;
	
	border: 1px solid #000;
	border-radius: 10px;
}
.content-card-three__subcard-translate-xyz,
.content-card-three__subcard-scale-xyz,
.content-card-three__subcard-rotate-xyzdeg,
.content-card-three__subcard-matrix-xyz {
	width: 210px;
	height: 210px;
	background: rgb(251, 233, 63);
	background: radial-gradient(circle, rgba(251, 233, 63, 1) 0%, rgba(70, 211, 252, 1) 100%);
	border: 1px solid #000;
	border-radius: 10px;
	box-shadow: 7px -7px 3px #000;
}
.card-three__content-card-three:hover .content-card-three__subcard-translate-xyz,
.card-three__content-card-three:hover .content-card-three__subcard-scale-xyz,
.card-three__content-card-three:hover .content-card-three__subcard-rotate-xyzdeg,
.card-three__content-card-three:hover .content-card-three__subcard-matrix-xyz {
	transition: all 0.8s ease 0s;
	color: blue;
}
.content-card-three__text {}

.content-card-three__subtitle {}

.card-three__content-card-three:hover .content-card-three__subcard-translate-xyz {
	transform: translate3d(20px, 20px,20px);
	}
.card-three__content-card-three:hover .content-card-three__subcard-scale-xyz {
	transform: scale3d(1.2, 1.5, 1.4);
}
.card-three__content-card-three:hover .content-card-three__subcard-rotate-xyzdeg {
	transform: rotate3d(5, 1, 1, 65deg);
}
.card-three__content-card-three:hover .content-card-three__subcard-matrix-xyz {
	transform: translate3d(20px, 20px, 20px) scale3d(2, 1.3, 1.5);
}
/* -----rotate 360 FLIPPER----- */

.three-d-transform__flipper {}
.flipper {}
.flipper__container {
	max-width: 1400px;
	text-align: center;
}
.flipper__card {
	display: inline-block;
}
.flipper__body {
	position: relative;
	perspective: 800px;
}
.flipper__back,
.flipper__front {
	transition: all 0.3s;
}
.flipper__back {
	/* will-change: transform; */
	backface-visibility: hidden;
	transform: rotateX(180deg);
	position: absolute;
	top: 0;
	left: 0;
}
.flipper__front {
	/* will-change: transform; */
	transform: rotateX(0deg);
	backface-visibility: hidden;
}
.flipper__body:hover .flipper__back {
	transform: rotateX(0deg);
}
.flipper__body:hover .flipper__front {
	transform: rotateX(-180deg);
}
/* -------------homework------------------ */

.main__homework {}
.homework {}
.homework__container {}
.homework__title {}

.homework__picture {}

.picture {
	font-family: "Manrope", serif;
}

.picture__container {
	max-width: 1920px;
	min-height: 1200px;
	background: blue;

	position: relative;
	top: 0;
	left: 0;
}
.picture__background {

}
.background {}

.background__sky {}

.background__sun {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: radial-gradient(circle, #ffea00, #ff9100);
	box-shadow: 0 0 50px rgba(255, 234, 0, 0.9);
	position: absolute;
	top: 10%;
	right: 7.8125%; /* 150/1920 */
}
.background__sun-on:hover .background__sun {
	box-shadow: 0px 0px 100px 40px rgba(255, 234, 0, 0.9);
	transition: box-shadow 0.5s ease;
}
/* -----------CLOUD-LEFT-------------- */
.background__cloud-left {
	width: 150px;
	height: 130px;
	border-radius: 200px 200px 113px 113px / 150px 150px 0px 0px;
	background-color: #fff;

	position: absolute;
	top: 50px;
	left: 200px;
	position: relative;
}
.background__cloud-left::before {
	content: "";
	width: 150px;
	height: 80px;
	border-radius: 200px 200px 113px 113px / 150px 150px 0px 0px;
	background-color: #fff;

	position: absolute;
	top: 50px;
	left: 90px;
	z-index: 5;

}
.background__cloud-left::after {
	content: "";
	width: 150px;
	height: 80px;
	border-radius: 200px 200px 113px 113px / 150px 150px 0px 0px;
	background-color: #fff;

	position: absolute;
	top: 50px;
	right: 90px;
}
.cloud-left__inner {
	position: relative;
	top: 0;
	left: 0;
}

.cloud-left__inner::after {
	content: "";
	width: 150px;
	height: 50px;
	border-radius: 200px 200px 113px 113px / 150px 150px 0px 0px;
	background-color: #fff;

	position: absolute;
	top: 80px;
	left: 160px;
}

.cloud-left__inner::before {
	content: "";
	width: 150px;
	height: 50px;
	border-radius: 200px 200px 113px 113px / 150px 150px 0px 0px;
	background-color: #fff;

	position: absolute;
	top: 80px;
	right: 160px;
}
/* -----------CLOUD-RIGHT-------------- */

.background__cloud-right {
	width: 150px;
	height: 130px;
	border-radius: 200px 200px 113px 113px / 150px 150px 0px 0px;
	background-color: #fff;

	position: absolute;
	bottom: 30px;
	left: 1000px;
	position: relative;
}

.background__cloud-right::before {
	content: "";
	width: 150px;
	height: 80px;
	border-radius: 200px 200px 113px 113px / 150px 150px 0px 0px;
	background-color: #fff;

	position: absolute;
	top: 50px;
	left: 90px;
	z-index: 5;

}

.background__cloud-right::after {
	content: "";
	width: 150px;
	height: 80px;
	border-radius: 200px 200px 113px 113px / 150px 150px 0px 0px;
	background-color: #fff;

	position: absolute;
	top: 50px;
	right: 90px;
}

.cloud-right__inner {
	position: relative;
	top: 0;
	left: 0;
}

.cloud-right__inner::after {
	content: "";
	width: 150px;
	height: 50px;
	border-radius: 200px 200px 113px 113px / 150px 150px 0px 0px;
	background-color: #fff;

	position: absolute;
	top: 80px;
	left: 160px;
}

.cloud-right__inner::before {
	content: "";
	width: 150px;
	height: 50px;
	border-radius: 200px 200px 113px 113px / 150px 150px 0px 0px;
	background-color: #fff;

	position: absolute;
	top: 80px;
	right: 160px;
}
/* ------------ROAD------------- */

.picture__road {
	width: 1920px;
	height: 400px;
	background-color: grey;

	position: absolute;
	bottom: 0;
	left: 0;
}
.picture__road:before {
	content: "";
	width: 1920px;
	border: 10px dashed #fff;

	position: absolute;
	bottom: 190px;
	left: 0;
}

/* ------------HOUSE----------- */
.picture__house {}

.house {

}

.house__building {
	height: 550px;
	width: 500px;
	background-color: violet;
	box-shadow: 0px 0px 50px 10px darkmagenta;

	position: absolute;
	top: 250px;
	left: 100px;

	perspective: 300px;
	perspective-origin: center;
	/* transform-style: preserve-3d; */
}

.house__roof {
	height: 150px;
	width: 550px;
	background-color: darkmagenta;

	position: absolute;
	left: 0px;
	top: -75px;
	/* transform: rotateX(50deg); */
	transform: rotate3d(10, 2, 1, 20deg);
	box-shadow: 10px 10px 5px black;

	z-index: 60;
}

.house__window {
	width: 90px;
	height: 100px;
	border-radius: 50% 50% 100% 0% / 100% 100% 0% 0%;
	background-color: #6269e8;
	border: 4px solid brown;
	box-shadow: 5px 5px 3px black;
	
	position: absolute;
	top: 320px;
	left: 150px;
}
.house__window--top-center {
	left: 315px;
}
.house__window--top-right {
	left: 480px;
}
.house__window--middle-left {
	top: 480px;
	left: 150px;
}

.house__window--middle-center {
	top: 480px;
	left: 315px;
}

.house__window--middle-right {
	top: 480px;
	left: 480px;
}

.house__window--bottom-left {
	top: 645px;
	left: 150px;
}

.house__window--bottom-center {
	top: 645px;
	left: 315px;
}

.house__window--bottom-right {
	top: 645px;
	left: 480px;
}

/* -----------TAXI------------ */

.picture__taxi>div{
	/* background: yellow;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); */
}
.picture__taxi {}

.taxi {}

.taxi__label{
	width: 130px;
	height: 40px;
	background-color: #fff;
	font-size: 36px;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	border: 4px solid #000;

	position: absolute;
	bottom: 572px;
	right: 390px;
}
.taxi__label:hover{
	background-color: orange;
}

.taxi__body-front-top {
	width: 200px;
	border-bottom: 100px solid yellow;
	border-left: 45px solid transparent;
	
	position: absolute;
	bottom: 465px;
	right: 450px;
}

.taxi__body-front-top::before {
	content: "";
	width: 310px;
	height: 20px;
	border-radius: 155px 140px 0px 0px / 75px 75px 75px 75px;
	background-color: yellow;
	
	position: absolute;
	top: -8px;
	left: 0px;
}


.taxi__body-front-bottom {
	width: 180px;
	height: 140px;
	background: yellow;
	/* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); */
	border: 4px solid #000;
	border-right: 0;
	border-top: 0;
	border-left: 0;

	position: absolute;
	bottom: 325px;
	right: 470px;
}

.taxi__body-back-top {
	width: 200px;
	border-bottom: 100px solid yellow;
	border-right: 45px solid transparent;

	position: absolute;
	bottom: 465px;
	right: 250px;
}

.taxi__body-back-bottom {
	width: 220px;
	height: 140px;
	background: yellow;
	/* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); */
	border: 4px solid #000;
	border-right: 0;
	border-top: 0;

	position: absolute;
	bottom: 325px;
	right: 250px;
}

.taxi__body-hood {
	width: 160px;
	height: 140px;
	border-radius: 90% 35% 0% 100% / 100% 0% 100% 0%;
	background: yellow;
	/* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); */
	border: 4px solid #000;

	position: absolute;
	bottom: 325px;
	right: 650px;
}
.taxi__body-trunk {
	width: 130px;
	height: 140px;
	border-radius: 0% 100% 0% 100% / 100% 55% 45% 0%;
	background: yellow;
	/* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); */
	border: 4px solid #000;

	position: absolute;
	bottom: 325px;
	right: 120px;
}
.taxi__window-back-big{
	width: 120px;
	height: 100px;
	background-color: lightblue;

	position: absolute;
	bottom: 465px;
	right: 340px;
	border: 4px solid #000;

}

.taxi__window-back-triangle{
	width: 70px;
	height: 100px;
	background-color: lightblue;
	border-radius: 0% 100% 100% 0% / 0% 100% 0% 100%;

	position: absolute;
	bottom: 465px;
	right: 270px;
	border: 4px solid #000;
	border-left: 0;
}
.taxi__window-front-big {
	width: 105px;
	height: 100px;
	background-color: lightblue;
	border: 4px solid #000;
	border-left: 0;

	position: absolute;
	bottom: 465px;
	right: 480px;
}
.taxi__window-front-triangle {
	border-left: 45px solid transparent;
	border-bottom: 100px solid lightblue;
	
	position: absolute;
	bottom: 465px;
	right: 585px;
}

.taxi__window-front-borderleft {
	width: 108px;
	height: 3px;
	background-color: #000;
	transform: rotate(114deg);
	border-radius: 3px;

	position: absolute;
	bottom: 513px;
	right: 552px;
}
.taxi__window-front-borderleft--bottom {
	width: 44px;
	height: 4px;
	transform: rotate(0deg);

	bottom: 465px;
	right: 584px;
}

.taxi__window-front-borderleft--between{
	width: 115px;
	height: 3.8px;
	transform: rotate(90deg);

	bottom: 513px;
	right: 410.4px;
}

.taxi__decor {
	width: 640px;
	height: 15px;
	background: repeating-linear-gradient(90deg,
				black 0px,
				black 15px,
				#fff 15px,
				#fff 30px);
	border-radius: 18px 18px 0px 0px;
	overflow: hidden;

	position: absolute;
	bottom: 420px;
	right: 140px;
}
.taxi__decor--bottom {
	width: 660px;
	border-radius: 18px 0px 0px 0px;

	bottom: 405px;
	right: 135px;

}

.taxi__part-decor {
	width: 7px;
	height: 15px;
	background-color: #000;
	border-radius: 0px 18px 0px 0px;

	position: absolute;
	bottom: 405px;
	right: 128px;


}
.taxi__bumper {
	width: 735px;
	height: 30px;
	border-radius: 13px;
	background-color: rgba(209, 207, 207, 0.951);
	border: 4px solid #000;

	position: absolute;
	bottom: 300px;
	right: 100px;
}
.taxi__wheel-front {
	width: 150px;
	height: 150px;
	background: rgb(128, 128, 128);
	background: radial-gradient(circle, rgba(128, 128, 128, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 100%);
	border-radius: 50%;
	border: 40px solid #000;
	

	position: absolute;
	bottom: 235px;
	right: 610px;
}

.taxi__wheel-front-move:hover .taxi__wheel-front {
	transform: rotate(360deg);
	transition: all 0.8s ease 0s;
}
.taxi__wheel-back-move:hover .taxi__wheel-front--back {
	transform: rotate(360deg);
	transition: all 0.8s ease 0s;
}
.taxi__wheel-front--back{
	right: 160px;
}
.taxi__headlight {
	width: 25px;
	height: 55px;
	border-radius: 50%;
	background-color: #fff;
	border: 4px solid #000;
	box-shadow: -25px 5px 25px 15px white;


	position: absolute;
	bottom: 330px;
	right: 791px;
}
.taxi__headlight-on:hover .taxi__headlight{
	box-shadow: -120px 20px 50px 80px white;
	transition: box-shadow 0.5s ease;
}

.taxi__headlight--backlight{
	width: 18px;
	height: 30px;
	background-color: red;
	box-shadow: 10px 1px 35px 10px red;

	bottom: 330px;
	right: 115px;
}
.headlight--backlight-on:hover .taxi__headlight--backlight {
	box-shadow: 20px 5px 40px 30px red;
	transition: box-shadow 0.5s ease;
}
.taxi__front-door-handel {
	width: 50px;
	height: 17px;
	border-radius: 10px;
	background-color: gray;
	border: 4px solid #000;

	position: absolute;
	bottom: 442px;
	right: 500px;
}

.taxi__front-door-handel--back {
	width: 50px;
	height: 17px;
	border-radius: 10px;
	background-color: gray;
	border: 4px solid #000;

	position: absolute;
	bottom: 442px;
	right: 290px;
}



















/* ----------FOOTER------------ */

.footer__container {
	background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 61, 0.8855917366946778) 31%, rgba(0, 255, 226, 1) 100%);
	border: 5px solid #000;
	border-radius: 40%;

}
.footer__title {
	text-align: center;
	font-size: 36px;
	color: #ff0000;
	text-shadow: 5px 5px 3px #111111;
	padding-block: 20px;
}

/* 
.taxi__body-top {
	width: 400px;
	height: 140px;
	border-radius: 82px 38px 49px 0px / 119px 118px 1px 2px;
	background: yellow;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
	border: 4px solid #000;


	position: absolute;
	bottom: 450px;
	right: 360px;
}

.taxi__body-bottom {
	width: 700px;
	height: 180px;
	border-radius: 400px 460px 75px 75px / 110px 130px 0px 0px;
	background: yellow;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
	border: 4px solid #000;

	position: absolute;
	bottom: 300px;
	right: 200px;
} */