
@import url("reset.css");

@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700&display=swap");
/* ------------------------------------------------------------------ */
body {}

.custom-cursor {
	cursor: url('../img/Webp.net-resizeimage_1.png'), auto;
}
.wrapper{
	min-height: 100%;
	overflow: hidden; /* clip */
	background: url("../img/3.jpg") center / 100% no-repeat fixed;
	/* background: url("../img/pattern.jpeg") repeat; */
}
.header {
	font-family: "Caveat", serif;
	padding-inline-start: 15px;
	margin-block-end: 10px;
}
.header h1 {
	background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 61, 0.8855917366946778) 31%, rgba(0, 255, 226, 1) 100%);
	border: 5px solid #000;
	border-radius: 40%;
	text-align: center;
	font-size: 70px;
	font-weight: 700;
	color: #ff0000;
	text-decoration: underline;
	text-decoration-thickness: 5px;
	text-shadow: 5px 5px 3px #111111;
	padding-block: 20px;
	margin-block-end: 15px;
}
.header p{
	font-size: 36px;
	font-weight: 700;
	margin-block-end: 15px;
	color: #fff;
	text-shadow: 5px 5px 3px #111111;
}
.header-subject {}
.header-subject li{
	font-size: 30px;
	text-decoration: underline;
	color: #fff;
	text-shadow: 5px 5px 3px #111111;
	background: url("../img/subject-icon.jpg") left / 24px no-repeat;
	padding-inline-start: 36px;
	min-height: 24px;
}
.page {}
.page h2 {
	font-size: 48px;
	text-align: center;
	color: #ff0000;
	font-weight: 700;
	padding: 15px;
}
.page-container {}
.layauts {}
.portfolio {
	font-family: "Epilogue", serif;
	background-color: #FDF0E9;
	color: #391400;
}
.portfolio-container {
	padding: 39px 15px 15px 15px;
	line-height: 2;
}
.portfolio-header {
	max-width: 600px;
	margin-inline: auto;
	padding: 15px;
	margin-block-end: 68px;
}
.portfolio-arrow p{
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin-block-end: 45px;
}
.portfolio-arrow {
	background: url("../img/№1_Portfolio_arrow.svg") left / 15px no-repeat;
	min-height: 15px;
	padding: 4px 0px 0px 24px;
}
.portfolio-title {
	font-size: 56px;
	font-weight: 800;
	line-height: 114.286%;
	letter-spacing: -1px;
	margin-block-end: 28px;
}
.portfolio-sometitle {
	line-height: 2;
	font-size: 16px;
}
.portfolio-sometitle span:first-child{
	padding-inline-end: 243px;
}
.portfolio-main {}
.portfolio-image {
	margin-block-end: 74px;
	text-align: center;
}
.portfolio-image img {
	max-width: 970px;
	width: 100%;
	border-radius: 5px;
}
.portfolio-content {
	max-width: 600px;
	margin-inline: auto;
	padding: 15px;
}
.portfolio-content p:first-of-type{
	margin-block-end: 32px;
	line-height: 1.6;
}
.portfolio-content p:nth-of-type(2) {
	margin-block-end: 51px;
}
.portfolio-content h4 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.33333;
	margin-block-end: 35px;
}
.portfolio-content p:nth-of-type(3) {
	margin-block-end: 34px;
}
.portfolio ul,
.portfolio ol {
	line-height: 1;
	margin-block-end: 32px;
}
.portfolio-list-ul {}
.portfolio-list-ul li::before {
	content: "";
	min-width: 8px;
	min-height: 8px;
	border-radius: 50%;
	background-color: #EF6D58;
	margin: 0 14px 2px 0;
}
.portfolio-content p:nth-of-type(4) {
	margin-block-end: 65px;
}
.portfolio-content p:nth-of-type(5) {
	margin-block-end: 28px;
}
ol{
	counter-reset: list-counter;
}
ol li::before {
	counter-increment: list-counter;
	content: counter(list-counter)". ";
	display: inline-block;
	margin-right: 5px;
}
.portfolio-content p:nth-of-type(6) {
	margin-block-end: 69px;
}
.portfolio li:not(:last-child) {
	margin-block-end: 20px;
}
.portfolio-block p:nth-of-type(1){
	background-color: #F9E5DA;
	padding: 42px 32px 32px 112px;
	font-size: 20px;
	line-height: 1.6;
	margin-block-end: 76px;
}
.portfolio-block p:first-of-type:before{
	content: "";
	background: url("../img/№1_Portfolio_quotes.svg") left / 48px no-repeat;
	min-width: 48px;
	min-height: 36px;
	margin: 0px 0 -40px -80px;
	display: block;
	
}
.portfolio-block p:last-of-type {}
.portfolio-block p:last-of-type::after{
	content: "";
	width: 570px;
	height: 1px;
	background-color: #F3D1BF;
	display: block;
	margin-block-start: 58px;
}
/* ---Bissnes-timeline---*/

.bisnes-timeline {
	font-family: "DM Sans", serif;
	background-color: #fff;
}
.bisnes-timeline-container {
	max-width: 919px;
	margin-inline: auto;
	padding: 15px;
}
.bisnes-timeline-item-1::before {
	background: url("../img/№2_Bissnes_number_1.svg") right / 218px no-repeat;
}
.bisnes-timeline-item-2::before {
	background: url("../img/№2_Bissnes_number_2.svg") right / 218px no-repeat;
}
.bisnes-timeline-item-3::before {
	background: url("../img/№2_Bissnes_number_3.svg") right / 218px no-repeat;
}
.item-content {
	max-width: 629px;
	display: inline-block;
	vertical-align: middle;
	padding: 21px 0 21px 42px;
}
.content-data {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.1;
	color: #4A3AFF;
}
.content-title-1::after,
.content-title-2::after,
.content-title-3::after {
	content: "";
	width: 43px;
	height: 43px;
	margin-inline-start: 15px;
	vertical-align: middle;
}
.content-title-1 {}
.content-title-1::after{
	background: url("../img/bisnes_lupa_icon.jpg") right / 43px no-repeat;
}
.content-title-2 {}
.content-title-2::after {
	background: url("../img/bisnes_laptop_icon.jpg") right / 43px no-repeat;
}
.content-title-3 {}
.content-title-3::after {
	background: url("../img/bisnes_rocket_icon.jpg") right / 43px no-repeat;
} 
.content-text {
	font-size: 24px;
	line-height: 1.75;
	color: #6E6C83;
}
.bisnes-item::before {
	content: " ";
	height: 218px;
	width: 218px;
	vertical-align: top;
	
}
.title {
	font-size: 42px;
	font-weight: 700;
	line-height: 1.28571;
	color: #1E1B39;
}

.bisnes-item:not(:last-child) {
	margin-block-end: 54px;
}

/* -----------------bisness-pricing--------------- */

.bisness-pricing {
	font-family: "DM Sans", serif;
	background-color: #FFFFFF;
	padding: 15px;
}
.bisness-pricing-container {
	max-width: 573px;
	margin-inline: auto;
	padding: 15px;
	border-radius: 56px;
	font-weight: 700;
	background-color: #F0F0F6;
}
.bisness-pricing-item {
	max-width: 495px;
	margin-inline: auto;
	padding: 9px 0 49px 0;
}
.bisness-item-content {}

.bisness-item-price {
	max-width: 495px;
	margin-inline: auto;
	border-radius: 34px;
	text-align: center;
	background-color: #4A3AFF;
	color: #FFF;
	padding: 44.59px 138.99px 44.59px 138.99px;
	margin-block-end: 33.83px;
}
.bisness-item-price p:first-of-type{
	font-size: 30px;
	line-height: 1.06667;
}
.bisness-item-price p:nth-of-type(2) {
	font-size: 116px;
	line-height: 1.03448;
	margin-block-end: 6px;
}
.bisness-item-price p:last-of-type {
	font-size: 20px;
	line-height: 1.1;
	opacity: 0.6;
}

.bisness-price-list {
	font-size: 28px;
	line-height: 1.35714;
	color: #1E1B39;
}

.item-bisness-list:not(:last-of-type) {
	margin-block-end: 26px;
}

.item-bisness-list::before{
	content: "";
	background: url("../img/№3_bisness-pracing-check.svg") left / 36px no-repeat;
	width: 36px;
	min-height: 36px;
	margin-inline-end: 14px;
	vertical-align: middle;
}
/* -----------------GAME-------------------- */
.game {}
.game-container {
	max-width: 1000px;
	height: 667px;
	margin-inline: auto;
	background: url("../img/mario-backgraund_2.jpg") center / 100% no-repeat;
	margin-block-end: 50px;
}
.line {
	box-shadow: 10px -10px 10px #000;
	border: 1px solid #000;
}
.line:not(:first-child),
.owlgif {
	visibility: hidden;
}
.line:first-child {
	background: url("../img/mario_1.gif") center / 100% repeat;
	width: 100px;
	height: 102px;
	margin-top: 400px;
	margin-left: 15px;
	display: inline-block;
}
.line:nth-child(2) {
	background: url("../img/game_ladder_vertical.jpg") center / 100% repeat;
	width: 62px;
	height: 207px;
	margin-top: -206px;
	margin-left: 115px;
}
.line:nth-child(3) {
	background: url("../img/water_piper_2.png") center / 100% repeat;
	width: 230px;
	height: 65px;
	margin-right: 50px;
	margin-top: -272px;
	margin-left: 115px;
}
.line:nth-child(4) {
	background: url("../img/game_ladder_vertical.jpg") center / 100% repeat;
	width: 62px;
	height: 100px;
	margin-right: 50px;
	margin-top: -100px;
	margin-left: 345px;
}

.line:nth-child(5) {
	background: url("../img/water_piper_2.png") center / 100% repeat;
	width: 540px;
	height: 65px;
	margin-right: 50px;
	margin-top: -165px;
	margin-left: 345px;
}
.line:nth-child(6) {
	background: url("../img/game_ladder_vertical.jpg") center / 100% repeat;
	width: 62px;
	height: 245px;
	margin-right: 50px;
	margin-top: -65px;
	margin-left: 885px;
}
.owlgif {
	margin-left: 500px;
	margin-top: -68px;
}
.line:first-child:hover+:nth-child(2),
:nth-child(2):hover {
	visibility: visible;
}
.line:nth-child(2):hover+:nth-child(3),
:nth-child(3):hover {
	visibility: visible;
}
.line:nth-child(3):hover+:nth-child(4),
:nth-child(4):hover {
	visibility: visible;
}
.line:nth-child(4):hover+:nth-child(5),
:nth-child(5):hover {
	visibility: visible;
}
.line:nth-child(5):hover+:nth-child(6),
:nth-child(6):hover {
	visibility: visible;
}
.line:nth-child(6):hover+.owlgif {
	visibility: visible;
}



/* .game-main p {
	margin: 372px 0px 0 15px;
	display: inline-block;
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
	color: red;
} */