@use "sass:math";
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700");

@import "_reset.scss";
@import "_mixins.scss";
@import "_functions.scss";
@import "_variables.scss";
@import "_fonts.scss";

// @import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900");
// @import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
/* ------------------------------------------------------------------ */

body {
	color: var(--main-tcolor);
	font-family: var(--font-family);
	background-color: var(--dark-bg);
	.open-menu & {
		overflow: hidden;
	}
}
.wrapper {
	min-block-size: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
	main {
		flex-grow: 1;
	}
}
[class*="__container"] {
	max-width: toRem($containerWidth);
	margin-inline: auto;
	inline-size: 100%;
	padding-inline: toRem($containerPadding / 2);
}

// ****************************

.header {
	background-color: var(--dark-bg);
	position: sticky;
	top: 0;
	z-index: 50;

	@include adaptiveValue("margin-block-end", 50, 25);
	// .header__container
	&__container {
		display: grid;
		grid-template-columns: auto 1fr toRem(199);
		column-gap: toRem(10);
		align-items: center;
		min-height: toRem(120);
		padding-block: toRem(5);

		@media (max-width: toEm(1500)) {
			grid-template-columns: auto 1fr auto;
		}
		@media (max-width: $tablet) {
			min-height: toRem(80);
		}
	}
	// .header__logo
	&__logo {
		aspect-ratio: 199 / 50;
		max-width: toRem(199);
		width: 100%;

		position: relative;
		z-index: 5;
		img {
			@extend %img-cover;
		}
	}
	// .header__menu
	&__menu {
		justify-self: center;
	}
	// .header__actions
	&__actions {
		position: relative;
		z-index: 5;
	}
}
.menu {
	justify-self: center;
	// .menu__body
	&__body {
		@media (max-width: $tablet) {
			inset-inline-start: 100%;
			inset-block-start: 0;
			inline-size: 100%;
			block-size: 100svh;
			background-color: var(--dark-bg);
			padding: toRem(100) toRem(15) toRem(30);
			overflow: auto;

			position: fixed;
			z-index: 4;

			transition: inset-inline-start 0.3s;
		}
		&::before {
			content: "";
			block-size: toRem(80);
			inline-size: 100%;
			inset-inline-start: 100%;
			inset-block-start: 0;
			background-color: var(--dark-bg);

			position: fixed;
			z-index: 3;

			transition: inset-inline-start 0.3s;
		}
		.open-menu & {
			inset-inline-start: 0;
			&::before {
				inset-inline-start: 0;
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		column-gap: toRem(6);
		row-gap: toRem(3);
		align-items: center;
		flex-wrap: wrap;
		padding: toRem(10) toRem(16);
		border-radius: toRem(12);
		border: toRem(3) solid var(--dark-bg4);
		background: var(--dark-bg3);

		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			border: none;
			background-color: transparent;
			row-gap: toRem(30);
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		padding: toRem(14) toRem(24);
		border-radius: toRem(8);
		color: var(--third-tcolor);
		background-color: transparent;

		transition:
			color 0.3s,
			background-color 0.3s;
		&.active {
			color: var(--bd-colwhite);
			background-color: var(--dark-bg2);
			@media (max-width: $tablet) {
				background-color: transparent;
				text-decoration: underline;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: var(--bd-colwhite);
				background-color: var(--dark-bg2);

				transition:
					color 0.6s,
					background-color 0.6s;
			}
		}
		@media (max-width: toEm(1500)) {
			padding: toRem(10) toRem(18);
		}
		@media (max-width: $tablet) {
			font-size: toRem(28);
			padding: 0;
			color: var(--color-white);
		}
	}
}
.actions-header {
	display: flex;
	justify-content: end;
	column-gap: toRem(30);
	row-gap: toRem(3);
	align-items: center;
	max-width: toRem(199);
	width: 100%;
	@media (max-width: $pc) {
		column-gap: toRem(15);
	}
	// .actions-header__item
	&__item {
		aspect-ratio: 34 / 34;
		max-width: toRem(34);
		height: auto;
		width: 100%;
		transform: translateY(0);

		transition: transform 0.3s;
		img {
			@extend %img-contain;
			filter: $filterImgHover0;
			transition: filter 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				transform: translateY(toRem(-2));
				filter: $filterImgHover;

				transition:
					transform 0.5s,
					filter 0.5s;
			}
		}
	}
	// .actions-header__icon
	&__icon {
	}
}

/*------- MENU -------*/
.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: flex;
		flex-direction: column;
		flex-basis: toRem(48);
		min-height: toRem(48);
		flex-shrink: 0;
		padding: toRem(12);
		border-radius: toRem(6);
		border: toRem(3) solid var(--bd-coldark1);
		background-color: var(--dark-bg2);
		&::before,
		&::after,
		span {
			content: "";
			height: toRem(2);
			width: 100%;
			background-color: var(--secondary-tcolor);

			transition: all 0.3s;
		}
		&::after {
			width: 50%;
			align-self: flex-end;
		}
		span {
			margin-block: toRem(4);
		}
		.open-menu & {
			justify-content: center;
			span {
				width: 0;
				height: 0;
				margin: 0;
			}
			&::before {
				transform: rotate(-45deg) translateY(toRem(1.5));
			}
			&::after {
				width: 100%;
				transform: rotate(45deg) translateY(toRem(-1.5));
			}
		}
	}
}

// *******************
.main {
}
.hero {
	font-size: toRem(18);
	color: var(--bd-colwhite);
	@include adaptiveValue("padding-block-end", 90, 30);

	// .hero__container
	&__container {
		text-align: center;
	}
	// .hero__body
	&__body {
		width: 100%;
		min-height: 100svh;
		overflow: hidden;
		padding-block-end: toRem(20);
		border-radius: toRem(12);
		border: toRem(1) solid #262626;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		position: relative;

		@include adaptiveValue("gap", 50, 10);
		@include adaptiveValue("padding-inline", 50, 10);
	}
	// .hero__video
	&__video {
		width: 100%;
		height: 100%;
		overflow: hidden;
		object-fit: cover;

		position: absolute;
		inset: 0;
		z-index: -1;
		[poster] {
			@extend %img-cover;
		}
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, #141414 0%, rgba(20, 20, 20, 0) 100%);
		}
	}
	// .hero__content
	&__content {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 30, 10);
	}
	// hero__description
	&__description {
	}
	// .hero__title
	&__title {
	}
	// .hero__text
	&__text {
		max-width: toRem(1194);
		width: 100%;
		margin-inline: auto;

		@media (max-width: $mobile) {
			font-size: toRem(14);
		}
	}
	// .hero__actions
	&__actions {
		display: flex;
		gap: toRem(20);
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	// .hero__slider
	&__slider {
		gap: toRem(15);
	}
}
.text {
	color: var(--bd-colgrey);
	font-weight: 500;
	line-height: 1.5;
}
.actions-hero {
	&__icon {
		@extend %img-contain;
		width: toRem(28);
		aspect-ratio: 1;
	}
	&__body-button {
	}

	// .actions-hero__button
	&__button {
		padding: toRem(14) toRem(24);
	}
	// .actions-hero__items
	&__items {
		display: flex;
		align-items: center;
		gap: toRem(10);
	}
	// .actions-hero__item
	&__item {
		aspect-ratio: 56 / 56;
		width: toRem(56);
		border-radius: toRem(8);
		border: toRem(1) solid var(--bd-coldark1);
		background: var(--dark-bg3);
		padding: toRem(14);

		transition: border 0.3s;
		@media (any-hover: hover) {
			&:hover {
				border: toRem(1) solid var(--img-bghover);
				transition: border 0.5s;
				img {
					filter: $filterImgHover;
					transition: filter 0.5s;
				}
			}
		}

		img {
			@extend %img-contain;
			aspect-ratio: 1;

			filter: $filterImgHover0;
			transition: filter 0.3s;
		}
	}
}
.title {
	color: var(--bd-colwhite);
	font-size: toRem(38);
	font-weight: 700;
	line-height: 1.5;

	@include adaptiveValue("font-size", 38, 24);
}
.button {
	justify-content: center;
	color: var(--bd-colwhite);
	font-size: toRem(18);
	font-weight: 600;
	line-height: 1.53;
	border-radius: toRem(8);
	background: var(--btn-bg);

	transform: translateY(toRem(0));
	border: toRem(1) solid transparent;
	transition:
		transform 0.3s,
		border 0.3s;

	@media (max-width: $mobileSmall) {
		width: 100%;
	}
	&:hover {
		transform: translateY(toRem(-2));
		border: toRem(1) solid var(--bd-colwhite);
		background: var(--btn-bghover);
		transition:
			transform 0.6s,
			border 0.6s;
	}
}
.slider {
	display: flex;
	justify-content: space-between;
	gap: toRem(16);
	align-items: center;
	&__controls {
		aspect-ratio: 56 / 56;
		width: toRem(56);
		border-radius: toRem(8);
		border: toRem(1) solid var(--dark-bg4);
		background: var(--dark-bg3);
		padding: toRem(14);
		transform: translateY(toRem(0));

		transition:
			border 0.3s,
			background 0.3s,
			transform 0.3s;
		img {
			@extend %img-contain;
			aspect-ratio: 1;
		}
		@media (any-hover: hover) {
			&:hover {
				border: toRem(1) solid var(--bd-colwhite);
				background: var(--btn-bg);
				transform: translateY(toRem(-3));
				transition:
					border 0.5s,
					background 0.5s,
					transform 0.5s;
			}
		}
	}
	// .slider__items
	&__items {
		display: flex;
		gap: toRem(3);
		align-items: center;
	}
	// .slider__item
	&__item {
		width: toRem(16.33);
		height: toRem(4);
		border-radius: toRem(100);
		background-color: var(--dark-bg5);

		transition:
			width 0.3s,
			background-color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				width: toRem(23);
				background-color: var(--btn-bg);

				transition:
					width 0.5s,
					background-color 0.5s;
			}
		}
	}
}
.active-slider {
	width: toRem(23);
	background-color: var(--btn-bg);
}

// ---------------------------------MOVIES-----
.movies-shows {
	@include adaptiveValue("padding-block-start", 110, 30);
	@include adaptiveValue("padding-block-end", 75, 25);
	// .movies-shows__container
	&__container {
	}
	&__body {
		border-radius: toRem(12);
		border: toRem(1) solid var(--bd-coldark1);
	}
	// .movies-shows__button
	&__button {
		padding: toRem(10) toRem(24);
		width: fit-content;
		margin-block-start: toRem(-20);
		margin-inline-start: toRem(40);
		font-size: toRem(20);

		@include adaptiveValue("margin-block-end", 35.5, 15);
	}
	// .movies-shows__area
	&__area {
		@include adaptiveValue("padding-inline", 50, 20);
	}

	// -----------------MOVIES-GENRES----

	// .movies-shows__genres
	&__genres {
		@include adaptiveValue("padding-block-end", 30, 20);
	}
	// .movies-shows__head
	&__head {
		@include adaptiveValue("margin-block-end", 50, 20);
	}
	// .movies-shows__cards
	&__cards {
	}
}
.button {
}
.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: toRem(15);
	// .head__title
	&__title {
	}
	// .head__slider
	&__slider {
	}
}
.title {
}
.slider {
	// .slider__controls
	&__controls--small {
		background: var(--dark-bg2);
	}
	// .slider__items
	&__items {
	}
	// .slider__item
	&__item {
	}
	// .slider__controls--right-small
	&__controls--small {
		background: var(--dark-bg2);
	}
}
.slider--small {
	border-radius: toRem(12);
	border: toRem(1) solid var(--dark-bg4);
	background: var(--dark-bg3);
	padding: toRem(16);

	transition: border 0.3s;
	@media (any-hover: hover) {
		&:hover {
			border: toRem(1) solid var(--bd-colwhite);
			transition: border 0.6s;
		}
	}
	@media (max-width: $mobile) {
		display: none;
	}
}
.active-slider {
}
.cards {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-content: start;
	align-items: center;

	overflow: auto;
	scroll-snap-type: x mandatory;
	grid-auto-flow: column;
	padding-block-end: toRem(30);

	@include adaptiveValue("gap", 30, 20);
	&::-webkit-scrollbar {
		height: toRem(4);
		&-thumb {
			border-radius: toRem(5);
			background-color: var(--btn-bg);
		}
		&-track {
			border-radius: toRem(5);
			background-color: var(--btn-bg);
		}
	}
	// .cards__card
	&__card {
	}
}
.card {
	border-radius: toRem(12);
	border: toRem(1) solid var(--bd-coldark1);
	background: var(--dark-bg4);
	overflow: hidden;
	height: 100%;
	min-width: toRem(182);
	position: relative;

	transition: border 0.3s;
	@include adaptiveValue("padding", 30, 20);
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1a1a1a 101.79%);

		position: absolute;
		inset: 0;

		transform: rotate(0deg) scale(1);
		will-change: auto;
		transition: transform 0.5s;
	}
	@media (any-hover: hover) {
		&:hover {
			border: toRem(1) solid var(--bd-colwhite);
			transition: border 0.5s;
			.card__subtitle:not(.subtitle--big-grey) {
				color: var(--img-bghover);
			}
			.card__description img:not(.card__stars-icons img) {
				filter: $filterImgHover;
			}
			&::before {
				transform: rotate(360deg) scale(0);

				transition: transform 0.9s ease 0.1s;
			}
		}
	}
	// .card__article
	&__article {
		height: 100%;
	}
	// .card__link
	&__link {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	// .card__posters
	&__posters {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: toRem(5);
		justify-content: center;
		align-items: center;

		margin-block-end: toRem(1.5);
	}
	// .card__description
	&__description {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: toRem(6);

		position: relative;
		img {
			@extend %img-contain;
			aspect-ratio: 1;
			@include adaptiveValue("width", 30, 20);
		}
	}
	// .card__subtitle
	&__subtitle {
	}
}
.subtitle {
	color: var(--bd-colwhite);
	font-size: toRem(18);
	font-weight: 600;
	line-height: 1.5;
}
.posters {
	// .posters__poster
	&__poster {
		aspect-ratio: 105.3 / 123.5;
		max-width: toRem(105.3);
		width: 100%;
		border-radius: toRem(10);
		overflow: hidden;
		background: var(--dark-bg) url(../img/header/hero-logo.svg) center / 70% auto no-repeat;
		img {
			@extend %img-cover;
		}
	}
}
// ----------------------------------MOVIES TOP 10-------
.movies-shows {
	// .movies-shows__top10
	&__top10 {
		@include adaptiveValue("padding-block-start", 50, 20);
		@include adaptiveValue("padding-block-end", 30, 20);
	}
	// .movies-shows__head
	&__head {
	}
	// .movies-shows__cards
	&__cards {
	}
}
.head {
	// .head__title
	&__title {
	}
	// .head__slider
	&__slider {
	}
}
.title {
}
.slider {
	// .slider__controls
	&__controls {
	}
	// .slider__controls--small
	&__controls--small {
	}
	// .slider__items
	&__items {
	}
	// .slider__item
	&__item {
	}
}
.slider--small {
}
.active-slider {
}
.cards {
	// .cards__card
	&__card {
	}
}
.cards--4 {
	grid-template-columns: repeat(4, 1fr);
}
.card {
	// .card__article
	&__article {
	}
	// .card__link
	&__link {
	}
	// .card__posters
	&__posters {
	}
	// .card__description
	&__description {
	}
	// .card__left-info
	&__left-info {
	}
	// .card__button
	&__button {
	}
	// .card__subtitle
	&__subtitle {
	}
}
.subtitle--size {
	font-size: toRem(20);
}
.card--4 {
	min-width: toRem(232);
}
.posters {
	// .posters__poster
	&__poster {
	}
}
.posters--top10 {
	gap: toRem(10);
	margin-block-end: toRem(0);
}
.poster--top10 {
	aspect-ratio: 141 / 121;
	max-width: toRem(141);
	img {
		border-radius: toRem(4);
	}
}
.button {
}
.button--card {
	padding: toRem(10);
	line-height: 1.5;
	font-size: toRem(16);
	margin-block-end: toRem(4);

	@media (any-hover: hover) {
		&:hover {
			transform: translateY(0);
		}
	}
}
// -----------------------MOVIES TRENDING-----------
.movies-shows {
	// .movies-shows__trending
	&__trending {
		@include adaptiveValue("padding-block-start", 50, 20);
		@include adaptiveValue("padding-block-end", 30, 20);
	}
	// .movies-shows__head
	&__head {
	}
	// .movies-shows__cards
	&__cards {
	}
}
.head {
	// .head__title
	&__title {
	}
	// .head__slider
	&__slider {
	}
}
.title {
}
.slider {
	// .slider__controls
	&__controls {
	}
	// .slider__controls--small
	&__controls--small {
	}
	// .slider__items
	&__items {
	}
	// .slider__item
	&__item {
	}
}
.slider--small {
}
.active-slider {
}
.cards {
	// .cards__card
	&__card {
	}
}
.card {
	// .card__article
	&__article {
	}
	// .card__link
	&__link {
	}
	// .card__image-body
	&__image-body {
		aspect-ratio: 243 / 281;
		max-width: toRem(243);
		width: 100%;
		border-radius: toRem(12);
		background: var(--dark-bg) url(../img/header/hero-logo.svg) center / 70% auto no-repeat;
		overflow: hidden;
		margin-block-end: toRem(20);

		img {
			@extend %img-cover;
		}
		&--shows {
			aspect-ratio: 319 / 348;
			max-width: toRem(319);
			width: 100%;
			img {
				@extend %img-cover;
				border-radius: toRem(12);
			}
		}
	}
	// .card__description
	&__description {
	}
	// .card__footer
	&__footer {
		display: flex;
		gap: toRem(2);
		align-items: center;
		border-radius: toRem(51);
		border: toRem(1) solid var(--bd-coldark1);
		background: var(--dark-bg);
		padding: toRem(6) toRem(10) toRem(6) toRem(6);
		flex-shrink: 0;
		img {
			@extend %img-contain;
			aspect-ratio: 1;
			@include adaptiveValue("max-width", 24, 16);
		}
		&--right {
			gap: toRem(4);
		}
	}
	// .card__subtitle
	&__subtitle {
	}
	// .card__footer-right
}
.cards--one-cards {
	@media (max-width: $pc) {
		gap: toRem(16);
	}
}
.card--one-card {
	min-width: toRem(182);
	@include adaptiveValue("padding", 20, 12);
}
.subtitle--grey {
	color: var(--bd-colgrey);
	font-weight: 500;
	@include adaptiveValue("font-size", 16, 8);
}

// -----------------------MOVIES RELEASES--------
.movies-shows {
	// .movies-shows__releases
	&__releases {
		@include adaptiveValue("padding-block-start", 50, 20);
		@include adaptiveValue("padding-block-end", 30, 20);
	}
	// .movies-shows__head
	&__head {
	}
	// .movies-shows__cards
	&__cards {
	}
}
.head {
	// .head__title
	&__title {
	}
	// .head__slider
	&__slider {
	}
}
.title {
}
.slider {
	// .slider__controls
	&__controls {
	}
	// .slider__controls--small
	&__controls--small {
	}
	// .slider__items
	&__items {
	}
	// .slider__item
	&__item {
	}
}
.slider--small {
}
.active-slider {
}
.cards {
	// .cards__card
	&__card {
	}
}
.cards--one-cards {
}
.card {
	// .card__article
	&__article {
	}
	// .card__link
	&__link {
	}
	// .card__image-body
	&__image-body {
	}
	// .card__description
	&__description {
	}
	// .card__description--center
	&__description--center {
		align-self: center;
	}
	// .card__subtitle
	&__subtitle {
	}
}
.card--one-card {
}
.subtitle {
}
.subtitle--grey {
}
// ------------------MOVIES TRENDING-----------

.movies-shows {
	// .movies-shows__trending
	&__trending {
		@include adaptiveValue("padding-block-start", 50, 20);
		@include adaptiveValue("padding-block-end", 30, 20);
	}
	// .movies-shows__head
	&__head {
	}
	// .movies-shows__cards
	&__cards {
	}
}
.head {
	// .head__title
	&__title {
	}
	// .head__slider
	&__slider {
	}
}
.title {
}
.slider {
	// .slider__controls
	&__controls {
	}
	// .slider__controls--small
	&__controls--small {
	}
	// .slider__items
	&__items {
	}
	// .slider__item
	&__item {
	}
}
.slider--small {
}
.active-slider {
}
.cards {
	// .cards__card
	&__card {
	}
}
.cards--one-cards-4 {
	grid-template-columns: repeat(4, 1fr);
	@media (max-width: $pc) {
		gap: toRem(16);
	}
}
.card {
	// .card__article
	&__article {
	}
	// .card__link
	&__link {
	}
	// .card__image-body
	&__image-body {
		&--big {
			aspect-ratio: 319 / 404;
			max-width: toRem(319);
			img {
				@extend %img-cover;
			}
		}
	}
	// .card__description
	&__description {
	}
	// .card__footer
	&__footer {
	}
	// .card__subtitle
	&__subtitle {
	}
	// .card__footer
	&__footer {
		&--right-big {
			padding: toRem(6) toRem(10);
		}
		&--left-big {
			img {
				@include adaptiveValue("max-width", 24, 14);
			}
		}
	}
	// .card__stars-icons
	&__stars-icons {
		img {
			@extend %img-cover;
			aspect-ratio: 18 / 18;
			max-width: toRem(18);
			@media (max-width: toEm(1400)) {
				max-width: toRem(14);
			}
		}
	}
}
.card--one-card-4 {
	min-width: toRem(231);
	padding: toRem(20);
	@media (max-width: toEm(1400)) {
		padding: toRem(12);
	}
}
.subtitle {
}
.subtitle--big-grey {
	color: var(--bd-colgrey);
	font-weight: 500;
	@include adaptiveValue("font-size", 16, 10, 0, $containerWidth, 1100);
}

// --------------SHOWS-----------------

.movies-shows {
	// .movies-shows__container
	&__container {
	}
	// .movies-shows__body
	&__body {
	}
	// .movies-shows__button
	&__button {
	}
	// .movies-shows__area
	&__area {
	}
	// .movies-shows__genres
	&__genres {
	}
	// .movies-shows__head
	&__head {
	}
	// .movies-shows__cards
	&__cards {
	}
	// .movies-shows__top10
	&__top10 {
	}
	// .movies-shows__trending
	&__trending {
	}
	// .movies-shows__releases
	&__releases {
	}
}
.movies-shows--shows {
	@include adaptiveValue("padding-block-start", 95, 25);
	@include adaptiveValue("padding-block-end", 67.5, 20);
}
.button {
}
.head {
	// .head__title
	&__title {
	}
	// .head__slider
	&__slider {
	}
}
.title {
}
.slider {
	// .slider__controls
	&__controls {
	}
	// .slider__controls--small
	&__controls--small {
	}
	// .slider__items
	&__items {
	}
	// .slider__item
	&__item {
	}
}
.slider--small {
}
.active-slider {
}
.cards {
	// .cards__card
	&__card {
	}
}
.card {
	// .card__article
	&__article {
	}
	// .card__link
	&__link {
	}
	// .card__posters
	&__posters {
	}
	// .card__description
	&__description {
	}
	// .card__subtitle
	&__subtitle {
	}
	// .card__left-info
	&__left-info {
	}
	// .card__button
	&__button {
	}
	// .card__image-body
	&__image-body {
	}
	// .card__footer
	&__footer {
	}
	// .card__description--center
	&__description--center {
	}
	// .card__image-body--big
	&__image-body--big {
	}
	// .card__footer--left-big
	&__footer--left-big {
	}

	// .card__footer--right-big
	&__footer--right-big {
	}
	// .card__stars-icons
	&__stars-icons {
	}
}
.posters {
	// .posters__poster
	&__poster {
	}
}
.cards--4 {
}
.card--4 {
}
.posters--top10 {
}
.poster {
}
.poster--top10 {
}
.button--card {
}
.subtitle {
}
.subtitle--size {
}
.cards--one-shows-cards {
	grid-template-columns: repeat(4, 1fr);
	@media (max-width: $pc) {
		gap: toRem(16);
	}
}
.card--one-shows-card {
	min-width: toRem(231);
	@include adaptiveValue("padding", 20, 12);
}
.subtitle--grey {
}
.card--one-card {
}
.cards--one-cards {
}
.cards--one-cards-4 {
}
.card--one-card-4 {
}
.subtitle--big-grey {
}

// -----------------START-TODAY-----------

.start-today {
	@include adaptiveValue("padding-block-start", 67.5, 20);
	@include adaptiveValue("padding-block-end", 67, 20);
	// .start-today__container
	&__container {
	}
	// .start-today__body
	&__body {
		position: relative;

		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		min-height: toRem(313);
		&::before {
			content: "";
			background: linear-gradient(
				90deg,
				#0f0f0f 2.42%,
				rgba(20, 15, 15, 0.97) 25.46%,
				rgba(34, 14, 14, 0.91) 46.72%,
				rgba(229, 0, 0, 0) 168.98%
			);
			width: 100%;
			height: 100%;
			position: absolute;
			inset: 0;
			z-index: 1;
		}
	}
	// .start-today__background
	&__background {
		position: absolute;
		inset: 0;
		border-radius: toRem(12);
		overflow: hidden;
	}
	img {
		@extend %img-cover;
	}
	// .start-today__content
	&__content {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		gap: toRem(15);
		align-items: center;

		position: absolute;
		inset: 0;
		z-index: 2;
		padding-block: toRem(20);

		@include adaptiveValue("padding-inline", 80, 20);

		@media (max-width: toEm(985)) {
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
		}
	}
	// .start-today__promo
	&__promo {
	}
	// .start-today__title
	&__title {
	}
	// .start-today__text
	&__text {
	}
	// .start-today__button
	&__button {
		padding: toRem(16) toRem(24);
		margin-block-end: toRem(10);
	}
}
.title {
}
.title--size {
	@include adaptiveValue("font-size", 48, 24);
}
.text {
}
.text--weight-size {
	font-size: toRem(18);
	font-weight: 400;
	@media (max-width: $pc) {
		font-size: toRem(14);
	}
}
.button {
}

// ------------------FOOTER--------------
.footer {
	// .footer__container
	&__container {
		@include adaptiveValue("padding-block-start", 100, 40);
		@include adaptiveValue("padding-block-end", 50, 20);
	}
	// .footer__menu
	&__menu {
		margin-block-end: toRem(24);
		border-bottom: toRem(1) solid var(--bd-coldark1);
		@include adaptiveValue("padding-block-end", 100, 30);
	}
	// .footer__bottom
	&__bottom {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		column-gap: toRem(20);
		row-gap: toRem(20);
	}
	// .footer__copyright
	&__copyright {
	}
	// .footer__legal-list
	&__legal-list {
		display: flex;
	}
	// .footer__legal-item
	&__legal-item {
		border-right: toRem(1) solid var(--bd-coldark1);
		border-left: toRem(1) solid var(--bd-coldark1);
		@include adaptiveValue("padding-inline", 20, 10);
		&:first-child {
			padding-inline-start: toRem(0);
			border-left: toRem(0) solid transparent;
		}
		&:last-child {
			padding-inline-end: toRem(0);
			border-right: toRem(0) solid transparent;
		}
	}
	// .footer__legal-link
	&__legal-link {
	}
}
.link {
	color: var(--bd-colgrey);
	font-size: toRem(18);
	font-weight: 500;
	line-height: 1.5;
	transform: translateY(toRem(0));
	text-decoration: inherit;

	transition:
		color 0.3s,
		transform 0.3s,
		text-decoration 0.3s;
	@media (max-width: toEm(370)) {
		font-size: toRem(14);
	}
	@media (any-hover: hover) {
		&:hover {
			color: var(--img-bghover);
			transform: translateY(toRem(-1));
			text-decoration: underline;

			transition:
				color 0.6s,
				transform 0.6s,
				text-decoration 0.6s;
		}
	}
}
.link--wight {
	font-weight: 400;
}
.menu-footer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(toRem(180), 1fr));
	@include adaptiveValue("gap", 30, 10);
	@media (max-width: toEm(402)) {
		grid-template-columns: repeat(2, auto);
		gap: toRem(15);
	}
	// .menu-footer__item
	&__item {
	}
	// .menu-footer__subtitle
	&__subtitle {
		margin-block-end: toRem(24);
		font-size: toRem(18);
		@media (max-width: toEm(370)) {
			font-size: toRem(16);
		}
	}
	// .menu-footer__submenu
	&__submenu {
	}
	// .menu-footer__subitem
	&__subitem:not(:last-child) {
		margin-block-end: toRem(14);
	}
	// .menu-footer__link
	&__link {
	}
	// .menu-footer__socials
	&__socials {
	}
}
.socials {
	display: flex;
	row-gap: toRem(5);
	@include adaptiveValue("column-gap", 14, 8);
	// .socials__item
	&__item {
		border-radius: toRem(8);
		border: toRem(1) solid var(--bd-coldark1);
		background: var(--dark-bg2);

		transition: border-color 0.3s;

		@include adaptiveValue("padding", 16, 10);
		@media (any-hover: hover) {
			&:hover {
				border-color: var(--img-bghover);
				transition: border-color 0.6s;
				.socials__link img {
					filter: $filterImgHover;

					transition: filter 0.6s;
				}
			}
		}
	}
	// .socials__link
	&__link {
		aspect-ratio: 24 / 24;
		width: toRem(24);
		border-radius: toRem(8);
		img {
			@extend %img-contain;
			filter: $filterImgHover0;

			transition: filter 0.3s;
		}
	}
}
