
@import url("reset.css");

@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700");

/* ------------------------------------------------------------------ */
body {
	font-family: "Manrope";
	background-color: #d6f5f0;
	max-width: 1950px;
	margin-inline: auto;
	padding: 15px;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.container {
}
.header {
	margin-block-end: 30px;
}
h1 {
	font-size: 40px;
	text-align: center;
	font-weight: 900;
	color: #ff0000;
	text-decoration: underline;
	text-decoration-thickness: 5px;
	text-transform: uppercase;
	text-shadow: 2px 2px 1px #111111 ;
	margin-block-end: 40px;
}
.header h2 {
	font-size: 28px;
	font-weight: 700;
	margin-block-end: 20px;
}

ul li{
	font-size: 20px;
	font-style: italic;
	font-weight: 700;
	margin: 0 0 10px 0;
}

/* --------------------------------- */
.page {
	margin-block-end: 20px;
}
.praktik {
	margin-block-end: 20px;
}
.praktik-header {
	margin-block-end: 20px;
}
.praktik-header-title {}

.praktik-header-title h2 {
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	color: #e711cb;
	text-shadow: 3px 4px 1px #140202;
	text-decoration: underline;
	text-decoration-style: wavy;
	padding: 30px;
	background-color: #10d1d8;
	margin-block-end: 20px;
}

.praktik-header-text {
	font-size: 18px;
	line-height: 1.2;
	text-indent: 20px;
	width: 500px;
	height: 200px;
	background-color: rgb(245, 245, 42);
	overflow: hidden;
	margin-block-end: 50px;
}

.praktik-header-item img{
	max-width: 1910px;
	margin-inline: auto;
}

.praktik-main {
	margin-block-end: 20px;
}

.praktik-main-techno {
	margin-block-end: 20px;
}

.praktik-main-techno h3,
.praktik-main-nero h3 {
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	margin-block-end: 20px;
}

.praktik-main-techno p
{
		font-size: 18px;
		text-indent: 20px;
		line-height: 1.2;
		height: 100px;
		background-color: yellow;
		overflow: scroll;
	}

.praktik-main-nero {
	margin-block-end: 20px;
}
.praktik-main-nero p {
	font-size: 18px;
	text-indent: 20px;
	line-height: 1.2;
}

.nero-auto {
	margin-bottom: 20px;
}

.nero-auto p{
	height: 100px;
	background-color: yellow;
	overflow: auto;
	margin-block-end: 20px;
}

.nero-auto span,
.nero-user span{
	font-weight: bold;
	font-style: italic;
}
.nero-auto img{
	max-width: 860px;
	margin-inline: auto;
}
.nero-user {
	margin-block-end: 20px;
}

.nero-user p{
display: inline;
writing-mode: horizontal-tb;
padding-inline-start: 500px; 

}
.nero-user img{
	display: inline-block;
	max-width: 819px;
}

.nero-opti {}

.nero-opti p{
	/* padding-left: 30px; */
	padding-inline-start: 50px;
	writing-mode: vertical-rl;
	border: 1px solid #000;
}

.nero-opti span{
	font-weight: bold;
	font-style: italic;
	}

.praktik-footer {}

.praktik-footer h4{
	font-size: 24px;
	font-weight: 900;
	margin-block-end: 20px;
	display: inline;
	margin-inline-end: 50px;
	vertical-align: middle;
}

.praktik-footer img{
	vertical-align: -200px;
}

.praktik-footer a{
	font-size: 20px;	
	font-weight: 700;
	color: rgb(18, 18, 214);
	text-decoration: underline;
	text-decoration-thickness: 5px;
	text-decoration-style: dashed;
	text-transform: capitalize;
}
/* --------------------------------- */

.lending-intro,
.lending-design {
	font-family: "Roboto";
	max-width: 539px;
	margin-inline: auto;
	background-color: #fff;
	padding: 15px;
	margin-block-end: 30px;
}

.lending-intro-title {
	font-size: 50px;
	font-weight: 500;
	line-height: 66px;
	letter-spacing: 1px;
	margin-block-end: 20px;
}

.lending-intro-text {
	font-size: 18px;
	line-height: 30px;
	color: #505F98;
	margin-block-end: 69px;
}

.lending-intro-text p,
.lending-design-text p{
	margin-block-end: 15px;
}

.lending-intro-buttons {
	font-weight: 500;
	line-height: 26px;
}
.button-p,
.button-l{
	margin-inline-end: 30px;
	border: 1px solid #000;
	display: inline-block;
	padding-inline: 15px;
}

/* -------------------------------- */

.lending-design {
	max-width: 550px;
}
.lending-design-about{
	margin-block-end: 70px;
}
.lending-design-title {
	font-size: 36px;
	font-weight: 500;
	line-height: 48px;
	margin-block-end: 16px;
}
.lending-design-text {
	line-height: 26px;
	color: #6F7CB2;
}
.lending-design-element {
	max-width: 520px;
	margin-inline: auto;
}
.lending-design-items {
	margin-inline: -15px;
	font-size: 0px;
}
.lending-design-item {
	width: 50%;
	display: inline-block;
	padding-inline: 15px;
	padding-block: 15px;	
}
.lending-content {

}
.item-label {
	max-width: 209px;
	margin-block-end: 14px;
}

.item-label img {
	max-width: 36px;
}
.item-subtitle {
	font-weight: 500;
	line-height: 26px;
	margin-block-end: 6px;
}
.item-text {
	font-size: 12px;
	line-height: 18px;
	color: #5D6970;
	/* margin-block-end: 2px; */
}


/* ---------- */

.dark {
	font-family: "Manrope";
	max-width: 1597px;
	background-color: #141414;
	padding: 15px;
	margin-inline: auto;
}

.dark-about {
	max-width: 1297px;
	line-height: 1.5;
	margin-block-end: 80px;
}
.dark-about-title {
	font-size: 38px;
	font-weight: 700;
	color: #fff;
	margin-block-end: 14px;
}

.dark-about-text,
.dark-item-text {
	font-size: 18px;
	color: #999;
}

.dark-element {
	max-width: 1597px;
	margin-inline: auto;
}
.dark-items {
	margin-inline: -15px;
	font-size: 0;
}

.dark-item {
	width: 33.333%;
	display: inline-block;
	padding-inline: 15px;
	margin-bottom: 30px; 
}


.dark-item-body {
	padding: 50px;
	/* border: 1px solid #fff; */
	background-color: #2b2a2a;
	vertical-align: top;
}

.dark-item-title {
	margin-block-end: 30px;
}

.dark-item-label {
	display: inline-block;
	vertical-align: middle;
	margin-inline-end: 32px;
}

.dark-item-label {
	display: inline-block;
	vertical-align: middle;
	margin-inline-end: 32px;
}

.dark-item-label img{
	max-width: 38px;
}

.dark-item-subtitle {
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	font-weight: 600;
	color: #fff;
}
.my {
	font-size: 24px;
	font-weight: 900;
	color: blue;
}

