
@import url("reset.css");

@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700&display=swap");
/* ------------------------------------------------------------------ */
body {}

.wrapper{
	min-height: 100%;
	overflow: clip;
	background: url("../img/backgraund/white_1.webp") repeat fixed;

	display: flex;
	flex-direction: column;
}
.wrapper>main{
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 100%;
	margin-inline: auto;
	/* padding: 15px; */
}
.header {
	font-family: "Caveat", serif;
	margin-block-end: 10px;
}
.header__container {
	/* max-width: 100%;
	margin-inline: auto;
	padding: 15px; */
}
.header__title {
	font-size: 90px;
	font-weight: 700;
	color: #ff0000;
	text-align: center;
	background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 61, 0.8855917366946778) 31%, rgba(0, 255, 226, 1) 100%);
	border: 3px solid #000;
	border-radius: 100px;
	text-decoration: underline;
	text-decoration-thickness: 5px;
	text-shadow: 5px 5px 3px #111111;
	padding-block: 20px;
	margin-block-end: 15px;
}
.header__list {
	font-size: 36px;
	font-weight: 500;
}
.header__item-list {
	position: relative;
	padding-inline-start: 36px;
	min-height: 24px;
	vertical-align: middle;
}
.header__item-list:not(:last-child) {
	margin-block-end: 15px;
}

.header__item-list::before{
	content: "";
	background: url("../img/bisnes_search_icon.png") 0 0 /24px no-repeat;
	block-size: 24px;
	inline-size: 24px;

	position: absolute;
	inset-inline-start: 0;
	inset-block-start: 20%;	
}
.header__item-list a:hover{
	color: white;
	transition: all 0.8s ease 0s;
}
.header__item-list:hover::before{
	transition: all 0.8s ease 0s;
	transform: scale(1.5);
	pointer-events: all;
}
/* .header__item-list a:visited {
	color: blueviolet;
	text-decoration-style: underline;
} */

/* ---------MAIN-------- */
.main {}
.main__container {}
.main__practice {}
.practice {
	/* font-family: "Manrope", serif; */
}
.practice__container {}
.practice__title,
.homework__title {
	font-size: 60px;
	font-weight: 700;
	text-align: center;
	color: #ff0000;
	text-shadow: 5px -5px 1px #111111;
	margin-block-end: 15px;
}
/* -------------homework------------------ */^
.main__homework {}
.homework {}
.homework__container {}

/* ---------DARK------------ */

.homework__dark-feedback{
	font-family: "Manrope", serif;
	background-color: #0F0F0F;
	color: #FFF;
	padding: 15px;
}
.dark-feedback{}
.dark-feedback__body{
	max-width: 979px;
	margin-inline: auto;
	background-color: #0F0F0F;
	border-radius: 12px;
	border: 1px solid #262626;

	padding: 50px;
}
.dark-feedback__user-datas-forms {
	display: flex;
	gap: 50px;
	flex-wrap: wrap;
	
}
.dark-feedback__form {
	max-width: 413px;
	width: 100%;

	font-size: 18px;
	line-height: 1.5;
}
.dark-feedback__form--message{
	max-width: 876px;
}
.dark-feedback__label {
	display: block;
	font-weight: 600;
	line-height: 1.5;

	margin-block-end: 16px;
}

.dark-feedback__input {
	width: 100%;

	background-color: #141414;
	border: 1px solid #262626;
	border-radius: 8px;
	padding: 20px;
	
	color: #999;
}
.dark-feedback__input--message{
	resize: vertical;
}
.dark-feedback__form {}

.dark-feedback__form--policy {
	display: flex;
	max-width: 876px;
	align-items: center;

	font-size: 18px;
	line-height: 1.5;
}

.dark-feedback__input {}
.dark-feedback__checkbox{
	max-width: 28px;
	width: 100%;

	padding-inline-start: 10px;
}
.dark-feedback__box-label {
	max-width: 595px;
	width: 100%;

	color: #999;

	margin-inline-end: 70px;
}
.dark-feedback__button {
	flex-basis: 173px;
	flex-grow: 1;
	background-color: #E50000;
	font-weight: 600;
	border-radius: 8px;
	padding: 18px 24px;
}























/* ----------FOOTER------------ */

.footer__container {
	background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 61, 0.8855917366946778) 31%, rgba(0, 255, 226, 1) 100%);
	border: 5px solid #000;
	border-radius: 40%;
}
.footer__title {
	text-align: center;
	font-size: 36px;
	color: #ff0000;
	text-shadow: 5px 5px 3px #111111;
	padding-block: 20px;
}
